extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.title = `Лечебный массаж в Москве. Медицинский массаж`
    pageData.description = `*`
    pageData.keywords = `*`
    pageData.canonical = 'https://expert-massage-clinic.ru/back-massage/'
    pageData.pageClass = 'back-massage-page'
    pageData.theme = '12'
    pageData.massage = globalData.massages['back-massage']
    pageData.mainScreenHeading = `Лечебный массаж спины`
    pageData.mainScreenSubheading = `<br class='hidden_mobile-tablet'>Быстрое избавление от&nbsp;боли. Лечение заболеваний позвоночника, мышц и&nbsp;суставов по&nbsp;уникальной методике без&nbsp;операций`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.aboutMassage = [
      {
        title: 'Что это за процедура?',
        text: [
          'Лечебный массаж спины в нашей клинике — это авторская методика, входящая в раздел реабилита&shy;ционной медицины. Она направлена на восстановление и заживление повреждённых межпозвонковых дисков, что позволяет лечить заболевания без операций.',
          'Боль уменьшается уже после первого сеанса, а в результате курса уходит полностью. Методика абсолютно безопасна и очень эффективна — при  необходимости наши пациенты после лечения делают повторные снимки (рентген, МРТ, КТ), где объективно подтвер&shy;ждается эффект от нашего лечения.'
        ]
      },
      {
        title: 'Массаж точно поможет от&nbsp;боли?',
        text: [
          'Да, и не только от боли, но и от причин, вызывающих её. Эффект проявляется стремительно, вам станет легче уже после первого сеанса, а после курса вы просто забудете о боли и ощутите другое качество жизни.',
          'Наш лечебный массаж — очень эффективная техника, которая успешно лечит болезни позвоночника. Мы помогали даже клиентам с серьёзными диагнозами, которых отправляли на операцию.',
          'Во время сеанса более 80 % массажного времени уделяется приемам, оказывающим мощное регенерирующее воздействие на костную и хрящевую ткань. Это способствует быстрому и стабильному избавлению от боли и её причин.'
        ]
      },
      {
        title: 'Не навредит ли массаж? Что, если после сеанса станет хуже?',
        text: [
          'Это исключено, мы гарантируем абсолютную безопасность. Для нас важнее всего здоровье клиентов, и мы никогда не идём на риск в этом вопросе.',
          'На первом сеансе специалист проведёт исчерпывающую диагностику, установит причину боли, и разработает систему лечения индивидуально для вас.',
          'Все наши специалисты имеют медицинское образование, и уверены в каждом своём действии. В тех редких случаях, когда у врача есть сомнения, он попросит вас сделать снимки перед тем, как начать лечение. Но большинство зажимов, болезней и воспалений можно вылечить и без МРТ, благодаря профессиональной диагностике специалиста.'
        ]
      }
    ]
    pageData.massageResults = {
      title: 'Результаты лечебного массажа спины'
    }
    pageData.reviewsBlock.title = 'Отзывы о лечебном массаже спины'
    pageData.massageVideo = {
      id: '_0KHvR5FSXs',
      poster: `${THEME_IMG_PATH}/massage-video/massage-video-poster_back.jpg`,
      sticker: {
        position: 'left',
        text: 'Авторская методика, входящая в раздел реабилитационной медицины'
      }
    }
    pageData.featuresBlock1 = {
      blockNumber: 1,
      heading: 'Что вы получите от лечебного массажа спины',
      features: [
        {
          title: 'Освобождение от&nbsp;боли уже в&nbsp;начале курса',
          text: `На&nbsp;стабильные изменения обычно требуется курс массажа, но&nbsp;уже первая процедура способствует нормализации мышечного тонуса. Благодаря этому вам сразу же станет легче`
        },
        {
          title: 'Ваши проблемы будут решены 100 % безопасным методом',
          text: `Мы практикуем только безопасные массажные приёмы, одобренные вертебрологами мирового уровня. Разработанная нами авторская методика входит в&nbsp;раздел реабилитационной медицины`
        },
        {
          title: 'Вы сможете жить активной и полной жизнью',
          text: `Благодаря укреплению хрящевой и&nbsp;костной ткани, и&nbsp;нормализации мышечного тонуса, ваша спина перестанет ограничивать вас в&nbsp;чём-либо. Вы удивитесь, как много активностей, недоступных раньше из-за боли, начнут приносить вам удовольствие`
        }
      ]
    }
    pageData.massageDescription = [
      `Сеанс начнётся с подробной диагностики, где специалист сначала спросит вас о ваших проблемах, а затем проведёт осмотр. Мы всегда уделяем анализу столько времени, сколько потребуется, ведь от этого зависит успех дальнейшего лечения.<br>
        <br>
        Когда специалист проведёт диагностику, он расскажет вам о состоянии вашего здоровья и подберёт ту технику массажа, которая вам поможет`,
      `Сама процедура — это детальная и кропотливая проработка, а не поверхностные касания. Мы выделяем на один сеанс 50 минут, этого достаточно, чтобы глубоко и качественно проработать всю спину, а также уделить внимание шейному отделу и голове.<br>
        <br>
        Проработку биоактивных точек на голове и шее мы сделаем вам в подарок. Это избавит вас от головных болей, мигрени и головокружений. Брать отдельный сеанс для этой зоны не нужно`,
      `Вы почувствуете облегчение после первого сеанса. Благодаря расслаблению мышц, усилению кровообращения и лимфотока, позвонки и суставы насытятся полезными веществами. Это поможет вашей костной и хрящевой ткани восстановиться, уберёт все зажимы и воспаления.<br>
        <br>
        Результат будет быстрым, стабильным и безопасным — все виды массажей, которые мы практикуем, одобрены вертебрологами мирового уровня`
    ]
    pageData.featuresBlock2 = {
      blockNumber: 2,
      heading: 'Кому нужен лечебный массаж спины',
      features: [
        {
          title: 'Тем, кто работает сидя, либо ведёт малоподвижный образ жизни',
          text: `Проблемы со&nbsp;здоровьем проще предот&shy;вратить. Если в&nbsp;течение дня вам приходится много сидеть, особенно в&nbsp;неудобной позе, лечебный массаж спины поможет вам избежать возможных болезней`
        },
        {
          title: 'Тем, у&nbsp;кого есть заболевания позвоночника, даже если они никак не&nbsp;проявляют себя',
          text: `Если вам когда-то ставили диагноз (даже в&nbsp;лёгкой форме), или были боли в&nbsp;спине, которые прошли сами, лучше перестраховаться. Важно не&nbsp;давать заболеваниям течь без&nbsp;контроля врача`
        },
        {
          title: 'Тем, у&nbsp;кого иногда или часто болит спина, даже если это редкие прострелы или совсем слабая боль',
          text: `Боль не&nbsp;появляется просто так, она всегда служит индикатором. И&nbsp;если спина хотя&nbsp;бы иногда причиняет вам дискомфорт, лучше провериться и&nbsp;вылечить причину, пока она не&nbsp;начала доставлять серьёзных проблем`
        }
      ]
    }
    pageData.blocksList = {
      title: '6 причин, почему стоит делать массаж именно&nbsp;у&nbsp;нас',
      items: [
        {
          title: 'Эффективная методика, относящаяся к&nbsp;разделу реабилитационной медицины',
          text: 'Наша методика не имеет ничего общего с&nbsp;жёсткими методами типа «костоправства», или&nbsp;наоборот неэффективными поглаживаниями. У&nbsp;нас&nbsp;— официальный медицинский метод, который действительно лечит'
        },
        {
          title: 'Множество клиентов, которым мы помогли полностью избавиться от боли без операций',
          text: `Почитайте <a class='link link_primary underline' href='/reviews/'>отзывы</a> клиентов, которым мы помогли, многие из&nbsp;них описывают, насколько изменилась их жизнь после курса массажа. У&nbsp;нас огромная база честных отзывов с&nbsp;2008&nbsp;года`
        },
        {
          title: 'Бесплатная и&nbsp;качественная диагностика на&nbsp;первом же сеансе',
          text: 'Перед тем как делать массаж, специалист осмотрит вас, проверит все болезненные участки и&nbsp;убедится, что у&nbsp;вас нет противопоказаний. После этого он даст вам всю информацию о&nbsp;здоровье и&nbsp;лечении'
        },
        {
          title: 'Огромный опыт специалистов',
          text: 'У&nbsp;всех специалистов нашей клиники есть медицинское образование, каждый знает свою работу в&nbsp;совершенстве, и&nbsp;ни&nbsp;в&nbsp;коем случае не&nbsp;навредит вам из-за недостатка знаний. Минимальный стаж специалиста в клинике&nbsp;— 10&nbsp;лет'
        },
        {
          title: 'Полный комфорт во время сеанса',
          text: 'Специально оборудованный кабинет с&nbsp;профессиональным массажным столом, где вы займёте правильную позу. Спокойная обстановка, соблю&shy;дение всех санитарных норм. Во время процедуры вам не&nbsp;будет неловко или холодно&nbsp;— участки тела, где не&nbsp;идёт массаж, накрываются простынёй&nbsp;'
        },
        {
          title: 'Гарантия возврата денег',
          text: 'Если после первого сеанса вы поймёте, что вам не&nbsp;подходит наша клиника, мы вернём вам деньги за&nbsp;сеанс без&nbsp;лишних вопросов. Вы ничего не&nbsp;теряете'
        }
      ]
    }
    pageData.faq = [
      {
        question: `Я не верю, что массаж может помочь. Зажимы и боль в мышцах это одно дело. Но как он лечит грыжи, сколиоз и прочие заболевания?`,
        answer: `Важно отличать лечебный массаж от классического и прочих видов массажа. Лечебный массаж — это официальный медицинский метод, признанный врачебным сообществом именно для излечения болезней позвоночника.<br>
          <br>
          Сеанс лечебного массажа нужно сравнивать с приёмом врача в больнице, а не с походом в массажный салон. А курс заменяет лечение позвоночника, а в некоторых случаях и операцию. При этом массаж не травматичен, так как избавляет от проблемы естественным путём.<br>
          <br>
          Лечебный массаж спины способен эффективно справиться с большинством заболеваний позвоночника, сложными зажимами, воспалениями. После 50 минут активной и глубокой работы с тканями, улучшается кровообращение, происходит насыщение всех тканей и клеток полезными веществами, усиливается регенерация костной и хрящевой ткани.<br>
          <br>
          Именно это определяет эффективность массажа в борьбе с любыми заболеваниями позвоночника.`
      },
      {
        question: `Точно ли можно начинать курс без снимков МРТ, КТ или рентгена?`,
        answer: `Чаще всего да. Наши специалисты проводят тщательную диагностику, и могут уверенно сказать, в каких случаях нет противопоказаний. Но если есть любые сомнения, то специалист всё же попросит вас сделать снимок (МРТ, КТ или рентген). Пожалуйста, отнеситесь к этому с пониманием, наша цель – ваше здоровье и полная безопасность. В большинстве случаев нет необходимости направлять пациентов на снимки, чтобы приступить к лечению.`
      },
      {
        question: `От чего ещё помогает лечебный массаж спины?`,
        answer: `От множества проблем, на первый взгляд не связанных со спиной. Например, у многих клиентов улучшается зрение, слух, повышается продуктивность и мозговая активность. Это связано с тем, что улучшается кровообращение и восстанавливается кислородное обеспечение мозга, которое было нарушено зажимами и воспалениями.<br>
          <br>
          Проблемы с позвоночником оказывают пагубное влияние на весь организм, часто именно ими вызвана асимметрия лица, онемение пальцев ног, челюстные зажимы. После лечения затронутые функции восстанавливаются, и улучшения происходят в самых разных органах и системах организма.`
      },
      {
        question: `Как поддерживать результат?`,
        answer: `В идеале – включить в свой график лечебную гимнастику, держать правильное положение спины и шеи, и проходить поддерживающие курсы массажа. Их периодичность зависит от многих индивидуальных факторов, обычно это раз в полгода или год. Если вы будете соблюдать рекомендации, вы забудете о боли в спине и надолго сохраните здоровье позвоночника.`
      }
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [8, 6, 11, 7, 9]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/back-massage-indications
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  - pageData.featuresBlock = pageData.featuresBlock1
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  - pageData.featuresBlock = pageData.featuresBlock2
  include ../includes/modules/content/features-list
  include ../includes/modules/content/blocks-list
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
