extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.description = `Массаж лимфодренажный в Москве, отличная цена, положительные отзывы. Лечебный лимфодренажный массаж
      от профессионального массажиста.`
    pageData.keywords = `лимфодренажный, массаж, услуга, описание, цена, стоимость, Москва`
    pageData.pageClass = 'body-lymphatic-drainage-page'
    pageData.theme = '8'
    pageData.massage = globalData.massages['body-lymphatic-drainage']
    pageData.mainScreenHeading = 'Лимфодренажный массаж'
    pageData.mainScreenSubheading = `Избавляет от&nbsp;отёков на&nbsp;лице и&nbsp;теле, оздоравливает и&nbsp;улучшает внешность,
      возвращает лёгкость походки`
    pageData.mainScreenFeatures = [
      {
        bigText: '2-10 кг',
        smallText: `теряют клиенты,<br>избавляясь от отёков`
      },
      {
        bigText: 'в 8 раз',
        smallText: `усиливается лимфоток<br>после процедуры`
      },
      {
        bigText: '500 мл',
        smallText: `межклеточной жидкости<br>в среднем уходит за сеанс`
      }
    ]
    pageData.aboutMassage = [
      {
        title: 'Зачем нужен лимфодренаж?',
        text: [
          'Лимфодренажный массаж полно&shy;стью убирает отёки с&nbsp;лица и&nbsp;со&nbsp;всего тела. За&nbsp;счёт этого уменьшается вес и&nbsp;проходит отёчная форма целлюлита.',
          'Появляется лёгкость в ногах, ноги не&nbsp;отекают и&nbsp;не&nbsp;гудят после рабочего&nbsp;дня.',
          'Также лимфодренаж выводит токсины, улучшает работу всех органов и&nbsp;систем, избавляет от&nbsp;хронической усталости, даёт энергию и&nbsp;хорошее настроение. В&nbsp;результате курса значительно укрепляется иммунитет и&nbsp;улучшается общее состояние организма'
        ]
      },
      {
        title: 'Что это за процедура?',
        text: [
          'Лимфодренажный массаж — это комбинация мощного эстетического эффекта с оздоровлением всего организма.',
          'Специалист работает по току лимфы, разгоняя межклеточную жидкость. Это в разы ускоряет лимфоток, улучшает обмен веществ, выводит токсины из организма и восстанавливает правиль&shy;ное кровообращение ко всем органам.',
          'Так как весь организм начинает работать лучше, внешность тоже меняется, улучшается и фигура, и кожа, и контуры лица. Мы проводим массаж всего тела, а не отдельных зон, только так можно достигнуть максимального результата. Эффект от массажа заметен уже после первого сеанса.'
        ]
      },
      {
        title: 'Поможет ли лимфодренажный массаж убрать целлюлит и похудеть?',
        text: [
          'В первую очередь лимфодренаж направлен на здоровье, на улучшение абсолютно всех процессов в организме. С хорошо работающей лимфосистемой ваш организм перестанет задерживать воду, что отчасти отразится на весе, объёмах и качестве кожи.',
          `Но если вы хотите значительно снизить вес, убрать объёмы и целлюлит, мы рекомендуем <a class='link link_primary' href='/figure-modeling/'>процедуру ручного моделирова&shy;ния</a>, она эффективнее. А если вам важнее вывести токсины, убрать тяжесть в ногах и отёки по всему телу, вам отлично подойдёт лимфодренажный массаж.`
        ]
      }
    ]
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;лимфодренажном массаже'
    pageData.massageVideo = {
      id: '6NFFW_ibDhc',
      poster: `${THEME_IMG_PATH}/massage-video/massage-video-poster_lymphatic-drainage.jpg`,
      sticker: {
        position: 'right',
        text: 'Процедура приятная и расслабляющая, никакой боли'
      }
    }
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;лимфодренажного массажа',
      features: [
        {
          title: 'Пропадут мешки и&nbsp;синяки под&nbsp;глазами, уменьшатся морщины и&nbsp;воспаления',
          text: `За&nbsp;счёт разгона лимфы организм очищается от&nbsp;токсинов, и&nbsp;это сразу сказывается
            на&nbsp;коже. А&nbsp;мешки и&nbsp;отёки по&nbsp;утрам исчезнут почти моментально`
        },
        {
          title: 'Стимулируется выработка лимфоцитов, повышается иммунитет',
          text: `Вы будете меньше болеть, забудете про&nbsp;сезонный насморк от&nbsp;любого ветерка, будете гораздо
            легче противостоять любым вирусам`
        },
        {
          title: 'Значительное ускорение лимфотока, лучше работают все органы и&nbsp;системы',
          text: `Вы почувствуете лёгкость во&nbsp;всём организме, бодрость и&nbsp;энергию, избавитесь
            от&nbsp;хронической усталости, которая часто вызвана застоем лимфы`
        }
      ]
    }
    pageData.massageDescription = [
      `Лимфодренажный массаж влияет на весь организм, поэтому у нас его проводят только специалисты с медицинским образованием, которые знают всё о лимфатических узлах и сосудах, и ни в коем случае не навредят вам.<br>
        <br>
        Массажист использует поглаживания и надавливания, направленные по току лимфы. Эти движения регулируют и активируют лимфатическую систему, помогая организму наладить работу всех органов и систем и про&shy;вести естественную детоксикацию. В резуль&shy;тате улучшается и внешность, и здоровье`,
      `Ручной лимфодренажный массаж в разы превосходит аппаратный, поскольку только чуткость рук профессионального и опытного массажиста может определить нужную глубину проработки тех или иных зон. Результат такого массажа — мощный оздоровляющий и эстетический эффект, снятие отёчности, видимое омоложение и разглаживание кожи`
    ]
    pageData.indications = {
      title: 'Показания к&nbsp;лимфодренажному массажу',
      list: [
        'Дряблость кожных покровов, сниженный тургор кожи',
        'Лишний вес, локальные жировые отложения',
        'Целлюлит, особенно его отечная форма',
        'Отечность лица, мешки и&nbsp;синяки под&nbsp;глазами',
        'Нарушение обмена веществ',
        'Варикозное расширение вен',
        'Лечение лимфедемы, лимфостаза ног и&nbsp;рук',
        'Профилактика варикозного заболевания&nbsp;вен',
        'Общая зашлакованность организма, слабый иммунитет',
        'Прыщи, угревые высыпания',
        'Нервное перенапряжение, общая усталость организма'
      ],
      sticker: {
        mainText: '2',
        secondaryText: 'сеанса в&nbsp;неделю оптимальны, чаще не&nbsp;нужно'
      }
    }
    pageData.faq = [
      {
        question: `Я слышала, что лимфодренажный массаж помогает худеть, это&nbsp;не&nbsp;так?`,
        answer: `Похудение не ограничивается только уходом жира, многие лишние килограммы на теле вызваны отёками и застоем межклеточной жидкости. Именно вода уходит в первые дни диеты, поэтому в начале похудения вес уходит быстро, а после замедляется — сгонять жир тяжелее. Если вы сильно отекаете, то лимфодренажный массаж даст хороший результат. Когда отёки уйдут, вы станете выглядеть гораздо стройнее.<br>
          <br>
          Но если вы настроены на значительное похудение, самый быстрый и долгосрочный результат даст <a class='link link_primary underline' href='/figure-modeling/'>ручное моделирование фигуры</a> и налаженный режим питания. Если вы хотите наладить здоровье в целом и сбросить вес в спокойном темпе, лимфодренажный массаж будет хорошим помощником при диете, он ускорит процесс похудения, а стройнеющая фигура удержит вашу мотивацию и не даст сорваться.`
      },
      {
        question: `Какие ощущения при процедуре, есть ли боль?`,
        answer: `Нет, это полностью безболезненная процедура, очень приятная и расслабляющая.`
      },
      {
        question: `Что лучше, антицеллюлитный или лимфодренажный массаж?`,
        answer: `У них разные цели, антицеллюлитный массаж помогает избавиться от проявлений целлюлита, а лимфодренажный – от отёков, поэтому лучше тот массаж, который поможет с вашей проблемой.  Если у вас отёки, в том числе на лице – вам на лимфодренажный массаж. Если есть целлюлит, но не слишком много лишнего веса – на антицеллюлитный. Если вы хотите именно похудеть, а заодно вывести лишнюю воду и избавиться от целлюлита – подойдёт ручное моделирование фигуры, которое совмещает и антицеллюлитный, и лимфодренажный массаж.`
      },
      {
        question: `При каких болезнях рекомендуется лимфодренажный массаж?`,
        answer: `Варикозное расширение вен, лечение лимфедемы, лимфостаз. Проблемы, связанные с пищеварительной, мочеполовой и выделительными системами, и все косметические недостатки, связанные с работой этих систем – отёки, мешки и синяки под глазами, акне.`
      }
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [9, 7, 11, 12, 6]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/indications
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/certificate
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
