extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.title = `Классический массаж лица - Москва`
    pageData.description = `Классический массаж лица, Москва - ${globalData.company.businessDuration} лет успешной работы!
      Профессиональная методика, лучшие цены`
    pageData.keywords = `классический массаж лица, Москва, услуга, описание, цена, стоимость`
    pageData.canonical = 'https://expert-massage-clinic.ru/classic-facial-massage/'
    pageData.pageClass = 'classic-facial-massage-page'
    pageData.theme = '2'
    pageData.massage = globalData.massages['classic-facial-massage']
    pageData.mainScreenHeading = 'Классический массаж лица'
    pageData.mainScreenSubheading = `Снимает спазмы и&nbsp;усталость мышц, улучшает цвет и&nbsp;тонус лица`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.aboutMassage = [
      {
        title: 'Что это за процедура?',
        text: [
          'Классический массаж лица – одна из самых мягких методик масса&shy;жа. В этой бережной и спокойной технике используются только плавные, скользящие движения, строго по массажным линиям и с минимальным давлением.',
          'Несмотря на мягкость этой процедуры, она отлично рас&shy;слабляет мышцы лица, улучшает тонус кожи, и воз&shy;вращает здоровый цвет лица.'
        ]
      },
      {
        title: 'Какой будет результат?',
        text: [
          'Массажист снимет с мышц спазм и усталость, и это сразу отразится на качестве кожи. Уменьшится выраженность морщин, возрастные недос&shy;татки станут менее заметны.',
          'Благодаря притоку крови, улучшится цвет лица, клетки насытятся кисло&shy;родом, кожа станет более упругой. Однако, достичь сильного лифтинг-эффекта с помощью классичес&shy;кой техники, довольно трудно.'
        ]
      },
      {
        title: 'Правда ли, что классический массаж не очень эффективен?',
        text: [
          `Это зависит от цели. Если вам нужен очень яркий эффект, сравнимый с пластикой, то другие методики будут эффективнее, особенно <a class='link link_primary' href='/sculptural-buccal-massage/'>скульптурно-буккальный массаж</a>.`,
          'Классический массаж — это простая, мягкая техника, работающая над улучшением общего состояния лица. Если у вас нет серьёзных недостатков, то классический массаж отлично вам подойдёт. Он эффективно снимает спазм мышц, расслабляет лицо и возвращает ему здоровый цвет. К тому же это приятная процедура, которая поднимет вам настроение.'
        ]
      }
    ]
    pageData.massageResults = {
      title: 'Результаты массажа лица',
      face: {
        slidesOrder: [1, 7, 8, 2, 3, 4, 5, 6]
      }
    }
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;массаже лица'
    pageData.massageVideo = {
      id: 'H9IRW0ffpWk',
      poster: `${THEME_IMG_PATH}/massage-video/massage-video-poster_face.jpg`,
      sticker: false
    }
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;классического массажа',
      features: [
        {
          title: 'Снимется спазм и&nbsp;усталость мышц',
          text: ''
        },
        {
          title: 'Цвет лица станет здоровым и&nbsp;однородным',
          text: ''
        },
        {
          title: 'Улучшится тонус кожи и&nbsp;мышц',
          text: ''
        }
      ]
    }
    pageData.massageDescription = [
      `В начале мастер наносит на лицо клиента гель алоэ-вера. Этот гель не закупоривает поры и идеально подходит для массажа.<br>
        <br>
        Пальцы массажиста скользят, не растягивая кожу, лицо после сеанса наполнено влагой, мышцы расслаблены. Что важно, гель алоэ абсолютно не вызывает воспалений`,
      `Вся процедура проходит по строгой схеме клас&shy;сического массажа, то есть с минимальным дав&shy;лением и по направлению массажных линий.<br>
        <br>
        Такая техника обеспечивает правильный отток лимфы, а также значительно ускоряет кровообращение.<br>
        <br>
        За счет стимуляции кровообращения, кожа насыщается кислородом и питательными веществами, в ней запускается процесс регенерации`,
      `Эффект после курса классического массажа довольно значительный. Заметно уменьшаются все возрастные проявления, подтягивается кожа, улучшается тонус мышц. Лицо выглядит здоровым и отдохнувшим, как после полноценного отпуска`
    ]
    pageData.faq = [
      globalData.commonFaceFaq[0],
      globalData.commonFaceFaq[1],
      {
        question: `В чём отличие этого массажа от других массажей лица?`,
        answer: `Классический массаж — это одна из самых мягких техник, очень плавная и расслабляющая. Это давно разработанная и проверенная методика, где работа идёт только по массажным линиям. За счёт этого классический массаж не может так разительно изменить внешность, как например скульптурно-буккальный массаж. Но он прекрасно подойдёт, чтобы расслабить мышцы и улучшить тонус кожи.`
      },
      globalData.commonFaceFaq[2],
      globalData.commonFaceFaq[3],
      globalData.commonFaceFaq[4]
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [3, 1, 4, 5]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
