extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.description = `Ручное моделирование фигуры - профессиональный массаж в Москве, отличная цена от профессионального
      массажиста с медицинской лицензией`
    pageData.keywords = `моделирование, фигуры, ручное, массаж, услуга, описание, от целлюлита, Москва, цена`
    pageData.pageClass = 'figure-modeling-page'
    pageData.theme = '7'
    pageData.massage = globalData.massages['figure-modeling']
    pageData.mainScreenHeading = 'Ручное моделирование фигуры'
    pageData.mainScreenSubheading = `Авторская техника для&nbsp;похудения и&nbsp;подтягивания кожи. Уходит лишний вес, тают
      объёмы`
    pageData.mainScreenFeatures = [
      {
        bigText: `3 в 1`,
        smallText: `лимфодренаж, антицеллю-<br>литный массаж, обёртывание`
      },
      {
        bigText: '2-15 см',
        smallText: `в талии теряли наши клиенты,<br>в зависимости от начальных данных`
      },
      {
        bigText: '3-18 кг',
        smallText: `лишнего веса уходило<br>у клиентов за курс массажа`
      }
    ]
    pageData.aboutMassage = [
      {
        title: 'Какой будет результат?',
        text: [
          'Уйдут объёмы и лишний вес, фигура заметно преобразится. Вы похудеете, результаты будут заметны и на весах, и по одежде, и по качеству тела.',
          'Кожа подтянется, контуры станут изящнее, проблемные зоны заметно сгладятся. При этом в отличие от быстрых диет, такое похудение не затронет грудь и не отразится нега&shy;тивно на лице. Ваша фигура станет стройнее, гармоничнее, и вы сможете носить одежду на пару размеров меньше.',
          'Также благодаря массажу ускорится ваш обмен веществ, и вы продолжите стройнеть даже после курса.'
        ]
      },
      {
        title: 'Насколько я похудею?',
        text: [
          'Конечно, это зависит от ваших исходных данных, но точно очень заметно. И для вас, и для окружающих. Вы сможете носить одежду, которая сейчас вам мала, все вещи будут сидеть гораздо лучше, так как вы похудеете именно в проблемных зонах.',
          'Лучшие результаты у тех клиентов, кто соблюдает рекомендации&nbsp;— во время процедуры специалист расскажет методику нашей клиники. Но и без изменения образа жизни результат впечатлит&nbsp;— заметно уйдёт и лишний вес, и объёмы.',
          'Некоторые из наших клиенток за курс массажа сбрасывают до 18 килограмм и полностью меняют гардероб.'
        ]
      },
      {
        title: 'Как проходит процедура? Какие будут ощущения?',
        text: [
          'Процедура состоит из трёх этапов&nbsp;— разгона лимфы, антицеллюлит&shy;ного массажа и обёртывания. Мы делаем обёртывание на все проблемные зоны: руки, бёдра, живот, ягодицы.',
          'Первая часть массажа расслабляющая и приятная, вторая может быть слегка чувствительной из-за глубокого воздействия. Мастер очень тщательно и глубоко проработает ваши ткани, разомнёт жировые отложения, выведет лишнюю межклеточную жидкость. Синяки бывают очень редко, только если у вас слабые сосуды. Даже если они появятся, то будут очень маленькие и пройдут быстро.'
        ]
      }
    ]
    pageData.massageResults.title = 'Результаты ручного моделирования'
    pageData.massageResults.figure.slidesOrder.rest = [15, 16, 17, 18]
    pageData.massageResults.figure.slidesOrder.current = [9, 10, 11, 12, 13, 14]
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;ручном моделировании фигуры'
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;ручного моделирования',
      features: [
        {
          title: 'Вы похудеете и&nbsp;это будет заметно всем окружающим',
          text: `За&nbsp;курс уходит и&nbsp;жир, и&nbsp;отёки, и&nbsp;лишняя межклеточная жидкость. Вы увидите минус
            на&nbsp;весах и&nbsp;в&nbsp;объёмах, ваше похудение заметят близкие и&nbsp;коллеги. Если вы будете
            соблюдать несложные рекомендации, ваше преображение всего за&nbsp;месяц курса будет ещё более невероятным`
        },
        {
          title: 'Ваша фигура станет более изящной, подтянутой, точёной',
          text: `Лишний вес уйдёт именно с&nbsp;проблемных зон. В&nbsp;отличие от&nbsp;похудения на&nbsp;жёстких
            диетах, с&nbsp;массажем вы сохраните грудь и&nbsp;красивую форму ягодиц, не&nbsp;столкнётесь
            с&nbsp;рыхлостью и,&nbsp;обвисанием кожи. Напротив, тело подтянется, целлюлит разгладится`
        },
        {
          title: 'Вы начнёте меняться в&nbsp;целом, полюбите себя и&nbsp;жизнь',
          text: `Быстрые результаты в&nbsp;зеркале дают огромный заряд энергии на&nbsp;другие изменения в&nbsp;жизни.
            Когда всего за&nbsp;месяц массажа вы не&nbsp;узнаете своё тело, вам станет легко и&nbsp;приятно меняться
            дальше. Появятся силы и&nbsp;желание на&nbsp;спорт и&nbsp;правильное питание`
        }
      ]
    }
    pageData.massageDescription = [
      `В начале мастер сделает лимфодренаж и подготовит тело к тому, чтобы активно отдавать лишнюю воду.<br>
        <br>
        С помощью поглаживаний и надавливаний по току лимфы, массажист усилит ваш лимфоток в разы, организм перестанет задерживать воду и отдаст скопившуюся межклеточную жидкость.<br>
        <br>
        Кожа будет разглаживаться быстрее, метаболизм ускорится и даже без диеты организм начнёт сжигать жир`,
      `Далее следует глубокая проработка жировых отложений. С помощью интенсивных движений, мастер буквально формирует новые контуры вашего тела, избавляет от лишнего веса и целлюлита, стимулирует жиросжигание.<br>
        <br>
        Ручное моделирование в таком виде — наша авторская процедура, она работает гораздо лучше аппаратных методик или отдельно взятых массажей для улучшения фигуры`,
      `Затем мастер сделает обёртывание всех проблемных зон — рук, ног, ягодиц и живота. Это подтянет кожу, дополнительно выведет лишнюю жидкость, и усилит антицеллюлитный эффект.<br>
        <br>
        Результат после сеанса будет заметен сразу, а после курса вы будете довольны своим новым телом и заряжены на дальнейшие изменения.<br>
        <br>
        Мы уверены в эффективности этой процедуры, но если вам не понравится, мы вернём деньги за сеанс`
    ]
    pageData.faq = [
      {
        question: `Я правда смогу похудеть просто от курса массажа?`,
        answer: `Да, сможете. Часть ваших лишних килограмм вызвана отёками и застоем межклеточной жидкости. Они быстро уйдут в результате механического воздействия на организм. Суть в том, что наш специалист наладит работу лимфотока и не позволит вашему организму вернуть эту жидкость. Более того, организм перестанет задерживать воду и в дальнейшем, так что вы сбросите ещё пару килограмм после курса.<br><br>Ещё часть проблем фигуры вызвана не столько килограммами, сколько дряблостью кожи, неравномерностью жировых отложений, общей рыхлостью тела. Именно подтягивание контуров тела даёт самый заметный результат. Потеря килограмм от этого этапа не велика, но объёмы тают, фигура становится упругой, изящной.<br><br>И наконец, наш массаж разгоняет метаболизм. С улучшенным обменом веществ ваш организм начнёт сжигать жир, даже если режим питания не самый правильный. Если калорийность вашего рациона выше нормы, это будет происходить медленно, но будет.<br><br>Мы верим, что если вы пришли на курс массажа, то настроены серьёзно, и на первой процедуре порекомендуем вам несколько простых вещей, которые значительно улучшат результат.`
      },
      {
        question: `Какие зоны массажируются на сеансе?`,
        answer: `Бёдра, ягодицы, живот и руки. Все зоны прорабатываются очень тщательно, специалист делает акцент именно на ваших проблемных зонах. В результате массажа подтягиваются даже сложные дефекты, например внутренняя сторона бедра, которую нельзя массажировать ни вакуумом, ни прочими аппаратными техниками. Уходят бока и ушки, красиво очерчиваются руки, все тело стройнеет и подтягивается.`
      },
      {
        question: `Какие ощущения при процедуре, есть ли боль?`,
        answer: `Нет, процедуру нельзя назвать болезненной, хотя многие наши клиенты слышали, или сами сталкивались с сильной болью при корректирующем массаже. В нашей клинике боль сведена к минимуму, и многие клиенты не чувствуют дискомфорта. Такой эффект достигается тщательным разогревом и правильной техникой массажа. Процедура массажа переносится в разы легче, а эффект становится только сильнее – ведь когда клиенту не больно, мастер может глубже и качественнее проработать мышцы. В общем не настраивайтесь на боль, почти наверняка вы её не почувствуете, а если дискомфорт и будет, то недолгий и вполне терпимый.`
      },
      {
        question: `Как усилить результат от курса? Обязательна ли диета?`,
        answer: `Вы получите отличный эффект от курса даже без коррекции рациона, но если вы хотите значительно похудеть, диета всё же нужна. Речь не идет о строгой диете с полным отказом от любимых продуктов, достаточно питаться сбалансированно и чаще выбирать полезные блюда. Но даже если вы ничего не поменяете в питании, массаж уберёт лишние сантиметры, значительно подтянет фигуру и избавит от отёков. Если вы настроены на максимальный результат, то во время сеанса специалист с удовольствием расскажет вам о нашей методике похудения. Если совместить питание, физическую нагрузку и массаж, то за небольшие сроки можно фактически получить новое тело – стройное, упругое и подтянутое.`
      },
      {
        question: `Не вернутся ли килограммы и объёмы после процедуры?`,
        answer: `Нет, не вернутся, массаж даёт длительный и стабильный результат. Конечно, если вы резко увеличите калорийность рациона, вес пойдёт вверх, здесь массаж бессилен. Но даже в таком случае за счёт массажа у вас будет больший запас "качества тела" – оно будет дольше оставаться подтянутым и упругим.`
      },
      {
        question: `Как поддерживать результат?`,
        answer: `В идеале – периодически делать простой самомассаж с использованием крема или масла, правильно питаться и вести активный образ жизни. Также будет отлично, если вы сможете 1-2 раза в год проходить повторный курс массажа – так вы довольно скоро доведёте свою фигуру до идеала и зафиксируете её в этом состоянии. На сеансе специалист расскажет вам больше о способах удержать и улучшить результат.`
      }
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [8, 9, 11, 12, 6]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/certificate
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
