extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.title = `Общий массаж тела в Москве, отличная цена`
    pageData.description = `Массаж всего тела - общий классический массаж в Москве, ощутимый оздоровительный эффект, приятная
      стоимость`
    pageData.keywords = `общий, массаж, услуга, описание, цена, стоимость, Москва`
    pageData.pageClass = 'fullbody-massage-page'
    pageData.theme = '11'
    pageData.massage = globalData.massages['fullbody-massage']
    pageData.mainScreenHeading = 'Общий массаж тела'
    pageData.mainScreenSubheading = `Расслабление, снятие напряжения и&nbsp;усталости мышц, оздоровление всего организма`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.aboutMassage = [
      {
        title: 'Что это за процедура?',
        text: [
          'Общий массаж — это комплексная процедура, на которой прорабатывается всё ваше тело — руки, ноги, спина, шея, голова. Такой массаж несёт общий оздоровительный эффект на весь организм. Он снимает усталость мышц, заряжает энергией, помогает справиться со стрессом и бессоницей, повышает иммунитет.',
          `60 минут достаточно для качественной проработки всего тела, но если у вас болит спина, вам больше подойдёт <a class='link link_primary' href='/back-massage/'>лечебный массаж спины</a>, где спине уделяется 50 минут, а не 25, как в общем массаже.`,
          'Если же у вас зажаты или спазми&shy;рованы руки и ноги, смело прихо&shy;дите на общий массаж. За сеанс мы решим ваши проблемы и полностью проработаем всё тело.'
        ]
      },
      {
        title: 'Какой будет результат? ',
        text: [
          'Курс общего массажа значительно поднимет ваш иммунитет, улучшит кровообращение и лимфоток. Также за счёт стимулирования выброса эндорфинов улучшится ваше настроение и вы заметите, что стали активнее и счастливее.',
          'Сразу после сеанса вы почувствуете себя отдохнувшим и бодрым, как после небольшого отпуска. Ваши мышцы будут расслаблены, но при этом вы почувствуете общий тонус и подъём энергии. Вечером после массажа вы легко заснёте и восста&shy;новитесь за ночь лучше, чем обычно.'
        ]
      },
      {
        title: 'Кому нужен общий массаж?',
        text: [
          'Тем, у кого нет особых проблем со здоровьем, но хочется чувствовать себя лучше и бодрее. Тем, у кого есть такие проблемы, как стресс, бессоница, мышечная усталость.',
          'Также общий массаж это отличный способ провести время с пользой, отдохнуть и по-насто&shy;ящему расслабиться. Процедура очень приятная и даёт быстрый эффект — для того, чтобы почув&shy;ствовать себя лучше, достаточно одного сеанса общего массажа.',
          'А курс надолго закрепит высокий жизненный тонус, хорошее настро&shy;ение и способ&shy;ность организма справ&shy;ляться со стрессом и болезнями.'
        ]
      }
    ]
    pageData.reviewsBlock.title = 'Отзывы о нас'
    pageData.massageVideo = {
      id: 'lmt72qq1too',
      poster: `${THEME_IMG_PATH}/massage-video/massage-video-poster_fullbody.jpg`,
      sticker: {
        position: 'left',
        text: 'Процедура идёт час, но можно продлить до полутора часов для большей проработки спины'
      }
    }
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;общего массажа ',
      features: [
        {
          title: 'Почувствуете бодрость, тонус и&nbsp;энергию',
          text: `Общий массаж улучшает работоспособность организма, тонус мышц, сосудов и&nbsp;состояние нервной
            системы. Из&nbsp;организма выводятся токсины, все органы начинают работать слаженно и&nbsp;чётко, проходит
            усталость и&nbsp;вялость`
        },
        {
          title: 'Наладится здоровый сон, уйдёт стресс, улучшится настроение',
          text: `Общий массаж благотворно влияет на&nbsp;состояние нервной системы. Уходят проявления стресса, сон
            становится крепче, а&nbsp;за&nbsp;счёт выброса эндорфинов, настроение поднимается и&nbsp;надолго остаётся
            хорошим`
        },
        {
          title: 'Повысится иммунитет, организм оздоровится в целом',
          text: `На&nbsp;теле находится множество биологически-активных точек и&nbsp;кожных рецепторов,
            при&nbsp;проработке которых стимулируются функции внутренних органов. Это оздоравливает и&nbsp;укрепляет
            все органы и&nbsp;системы, и&nbsp;значительно улучшает иммунитет`
        }
      ]
    }
    pageData.massageDescription = [
      `Выполнение общего массажа начинается с лёгких поглаживающих и растирающих движений. Когда организм готов к более глубокому воздействию, специалист переходит к активной проработке.<br>
        <br>
        Техника самой процедуры варьируется от состояния и потребностей пациента`,
      `Во время 60-минутного сеанса специалист проработает вам спину, шею, голову, руки и ноги. Процедура включает множество оздоровительных техник, которые улучшают кровообращение, усиливают лимфоток, и оказывают комплексное лечебное воздействие на организм.<br>
        <br>
        Также в организм поступает больший объем кислорода, а мышцы и суставы насыщаются полезными веществами`,
      `Во время сеанса вы отдохнёте, расслабитесь, и получите удовольствие от приятной процедуры. Восстановление организма при общем массаже проходит очень эффективно, так что вы заметите эффект сразу после сеанса.<br>
        <br>
        Ваши мысли станут яснее, улучшится концентрация, на смену усталости придёт спокойствие и хорошее настроение.<br>
        <br>
        Кожа после массажа станет мягкой и нежной, так как процедура избавит её от ороговевших частиц`
    ]
    pageData.faq = [
      {
        question: `Какие конкретно участки массируются, и как долго?`,
        answer: `Во время сеанса специалист проработает вашу спину, шею, голову, руки и ноги. Время проработки конкретного участка зависит от проблем и пожеланий пациента. Чаще всего на спину уходит около 25 минут, и примерно по 10 минут на все остальные части тела. В это время входит разогрев, глубокая проработка и завершающие, стабилизирующие техники.`
      },
      {
        question: `Подойдёт ли этот массаж спортсменам?`,
        answer: `Общий массаж довольно универсален и подходит практически всем, в том числе спортсменам для расслабления, повышения иммунитета, борьбы со стрессом и т.д. Но он не сможет помочь в тренировках также как это сделает спортивный массаж, у них разные цели.`
      },
      {
        question: `Нужен ли курс, или хватит одного сеанса?`,
        answer: `Все массажи рекомендуется проводить курсом, чтобы получить качественный результат и закрепить его. Это относится и к общему массажу, но даже после одного сеанса вы почувствуете расслабление, лёгкость в теле, и хорошо выспитесь ночью. Так что если ищете, чем занять свободный вечер – это отличный способ отдохнуть.`
      },
      {
        question: `Какие ещё есть показания к массажу?`,
        answer: `Помимо множества показаний, указанных выше, таких как стресс, бессонница, снижение иммунитета, напряжение и боль в мышцах, и т.д, общий массаж служит профилактикой множества заболеваний. Например, общий массаж показан при расположенности к проблемам опорно-двигательного аппарата, пищеварительной, кровеносной и нервной систем.`
      }
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [8, 12, 6, 7, 9]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/certificate
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
