extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.title = `Массаж в Москве. ${globalData.company.businessDuration} лет успешной работы. Медицинский подход`
    pageData.description = `Массаж, Москва - услуги профессиональных массажистов с медицинской лицензией - более
      ${globalData.company.businessDuration} лет успешной работы, эффективные классические и авторские методики.`
    pageData.keywords = `массаж в Москве, массаж, Москва, услуги, антицеллюлитный массаж, массаж спины, массаж лица, медицинский
      массаж, массаж от целлюлита`
    pageData.pageClass = 'index-page'
    pageData.theme = 'main'
    pageData.mainScreenHeading = 'EXPERT&nbsp;— первая клиника профессионального массажа'
    pageData.mainScreenSubheading = `Мы избавляем от&nbsp;болей в&nbsp;спине, целлюлита и&nbsp;отёков, подтягиваем лицо без
      операций и&nbsp;лечим массажем`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.featuresBlock = {
      heading: 'Почему нам доверяют',
      link: {
        url: '/about/',
        text: 'Больше о нас'
      },
      features: [
        {
          title: 'Первая клиника профессионального массажа в&nbsp;России',
          text: `Не&nbsp;салон красоты и&nbsp;не&nbsp;поликлиника, где один массажист работает со&nbsp;всеми
            по&nbsp;одному шаблону, а&nbsp;клиника со&nbsp;спе&shy;циализацией и&nbsp;врачами. Для нас это не&nbsp;просто
            бизнес, мы верим в&nbsp;своё дело`
        },
        {
          title: 'Работаем так, чтобы нас хотелось советовать близким',
          text: `Нам важно, чтобы вы были довольны, и&nbsp;у&nbsp;нас неплохо получается: почти 70% клиентов приходят
            по&nbsp;совету друзей. Многие ходят к&nbsp;нам семьями. Почитайте
            <a class='link link_secondary underline' href='/reviews/'>отзывы</a>, чтобы узнать о&nbsp;нас побольше`
        },
        {
          title: 'Гарантируем безопасность, результат и&nbsp;честность. Для нас важно помочь',
          text: `Следуем принципу «Не&nbsp;навреди». Не&nbsp;завышаем количество сеансов, не&nbsp;продаём ненужные
            процедуры и&nbsp;гарантируем результат. Мы не&nbsp;хотим зарабатывать в&nbsp;ущерб репутации`
        }
      ]
    }
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;нас'
    pageData.reviewsBlock.showSticker = true
    pageData.massageResults = {
      title: 'Результаты массажа',
      face: {
        slidesOrder: [1, 2, 3, 4, 5, 6, 7, 8]
      },
      figure: {
        slidesOrder: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
      }
    }
    pageData.priceList = {
      showPromo: true
    }
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/features-list
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-types
  include ../includes/modules/content/massage-choosing-test
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/famous-clients
  include ../includes/modules/content/video-reviews
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/specialists
  include ../includes/modules/content/certificate
  include ../includes/modules/content/articles
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
