extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.title = `Японский массаж Асахи (zogan)`
    pageData.description = `Массаж по японской методике Асахи (zogan) - "создание лица". Москва, отличная цена и
      квалифицированные массажисты`
    pageData.keywords = `японский массаж, Асахи, Зоган, asahi, zogan, массаж лица, Москва, услуга, описание, цена, стоимость`
    pageData.pageClass = 'japanese-asahi-massage-page'
    pageData.theme = '4'
    pageData.massage = globalData.massages['japanese-asahi-massage']
    pageData.mainScreenHeading = 'Японский массаж лица Асахи-Зоган'
    pageData.mainScreenSubheading = `Глубокая, интенсивная проработка. Формирует красивый овал, омолаживает`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.aboutMassage = [
      {
        title: 'Что это за процедура?',
        text: [
          'С японского языка «Асахи-Зоган» переводится как «создание лица». Это довольно интенсив&shy;ная техника, проработка глубже, чем в мягких классических массажах, но без боли.',
          'Процедура направлена на форми&shy;рование лица, массажист глубоко прорабатывает мышцы и костные ткани. За счёт интенсивной стиму&shy;ляции лимфатической системы, отёки моментально уходят, кожа ста&shy;новится упругой и подтянутой.',
          'При этом не стоит бояться, что кожа растянется от сильного воздействия, наоборот, при японском массаже лицо как будто оживает изнутри.'
        ]
      },
      {
        title: 'Какой будет результат?',
        text: [
          'У вас уменьшатся морщинки, полностью пропадут отёки, станут более заметны скулы, ярче проявятся черты лица.',
          'Контур лица подтянется, уйдёт второй подбородок, и улучшится качество кожи. На лице появится здоровый румянец, и вы будете выглядеть свежее и моложе.'
        ]
      },
      {
        title: 'Видела, что этот массаж делают самостоятельно, так можно?',
        text: [
          'Любой самомассаж, не только Асахи-Зоган, полезен, но при чётком соблюдении инструкций, и только для профилактики.',
          'Но при ошибках можно навредить себе, поэтому нужно внимательно следить за глубиной нажима, и повторять движения очень точно, по корректной инструкции.',
          'Но эффект от самомассажа никогда не сравнится с профессиональным, ведь только опытный специалист сможет подобрать приёмы и интенсивность работы с учётом ваших целей и строения лица.'
        ]
      }
    ]
    pageData.massageResults = {
      title: 'Результаты массажа лица',
      face: {
        slidesOrder: [1, 5, 6, 9, 2, 3, 4, 7, 8]
      }
    }
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;массаже лица'
    pageData.massageVideo = {
      id: 'H9IRW0ffpWk',
      poster: `${THEME_IMG_PATH}/massage-video/massage-video-poster_face.jpg`,
      sticker: false
    }
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;массажа Асахи-Зоган',
      features: [
        {
          title: 'Улучшится качество кожи, уменьшатся морщины',
          text: `Японский массаж работает сразу по&nbsp;всем фронтам&nbsp;— над&nbsp;контурами лица, качеством кожи,
            общими чертами лица. Уже после первого сеанса вы заметите, что&nbsp;кожа подтянулась`
        },
        {
          title: 'Подтянутся контуры и&nbsp;овал лица, проявятся скулы',
          text: `Массаж Асахи-Зоган направлен на&nbsp;формирование лица, поэтому если у&nbsp;вас есть такие проблемы
            как&nbsp;поплывший овал лица, невыразительные скулы и&nbsp;подбородок, после курса они исчезнут`
        },
        {
          title: 'Процедура улучшит вашу внешность, безопасно и&nbsp;в&nbsp;любом возрасте',
          text: `Все массажи лица в&nbsp;нашей клинике полностью безопасны, в&nbsp;отличие от&nbsp;пластики.
            В&nbsp;Японии массаж Асахи-Зоган делают уже с&nbsp;20&nbsp;лет и&nbsp;до&nbsp;глубокой старости`
        }
      ]
    }
    pageData.massageDescription = [
      `В начале мастер наносит на лицо клиента гель алоэ-вера. Этот гель не закупоривает поры и идеально подходит для массажа.<br>
        <br>
        Пальцы массажиста скользят, не растягивая кожу, лицо после сеанса наполнено влагой, мышцы расслаблены. Что важно, гель алоэ абсолютно не вызывает воспалений`,
      `Первая стадия массажа — разогрев и лимфодренаж. Массажист мягко стимулирует работу лимфатической системы, что помогает вывести токсины и подготовить кожу к активной работе.<br>
        <br>
        Второй этап массажа — глубокая проработка лицевых мышц и надкостницы. Это самый интенсивный этап, и именно в это время массажист избавляет вас от морщин, второго подбородка и носогубных складок`,
      `Завершает процедуру воздействие на биологически активные точки на лице и шее. Это очень эффективная методика, которая идеально дополняет предыдущие этапы.<br>
        <br>
        Эффект после сеанса виден сразу, кожа напол&shy;нена энергией, подтянута и светится здоровьем.<br>
        <br>
        По желанию клиента, после сеанса специалист покажет пару простых приёмов самомассажа, которые можно делать во время умывания или нанесения крема`
    ]
    pageData.faq = [
      globalData.commonFaceFaq[0],
      globalData.commonFaceFaq[1],
      {
        question: `В чём отличие этого массажа от других массажей лица?`,
        answer: `Чем этот массаж лица отличается от других массажей? Массаж Асахи-Зоган интенсивнее других массажей лица, кроме скульптурно-буккального, и может не подойти тем, кто привык к нежным воздействиям. При этом японский массаж полностью безопасен и очень эффективен. Если вы хотите сделать скулы заметнее и улучшить овал лица, но не можете посещать скульптурно-буккальный массаж, вам отлично подойдёт массаж Асахи-Зоган.`
      },
      globalData.commonFaceFaq[2],
      globalData.commonFaceFaq[3],
      globalData.commonFaceFaq[4]
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [3, 1, 2, 5]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/certificate
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
