extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.description = `Массаж воротниковой зоны, массаж шеи от профессионального массажиста. Массаж шеи при остеохондрозе,
      медицинская лицензия.`
    pageData.keywords = `массаж, шейно-воротниковой, описание, услуга, цена, стоимость, Москва`
    pageData.pageClass = 'neck-massage-page'
    pageData.theme = '10'
    pageData.massage = globalData.massages['neck-massage']
    pageData.mainScreenHeading = 'Массаж шейно-воротниковой зоны'
    pageData.mainScreenSubheading = `Снятие боли и&nbsp;усталости с&nbsp;шейного отдела, улучшение работы мозга`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.aboutMassage = [
      {
        title: 'Что это за процедура?',
        text: [
          'Массаж шейно-воротниковой зоны&nbsp;— это 30-минутный сеанс медицинского массажа, направлен&shy;ный на&nbsp;расслабление шейного отдела, снятие воспалений и зажимов, и восстановление подвижности шеи.',
          'Лучше всего этот сеанс подойдёт тем, у кого нет заболеваний, но есть риски — например, сидячая работа. Из-за локального воздействия и&nbsp;небольшой продолжительности, этот массаж считается профилактическим.',
          `При проблемах, например неодно&shy;кратной боли в шее, стоит заняться позвоноч&shy;ником целиком, на сеансе <a class='link link_primary' href='/back-massage/'>лечебного массажа спины</a>.`
        ]
      },
      {
        title: 'Какой будет результат? ',
        text: [
          'Массаж снимет напряжение мышц, а также улучшит кровообращение в области шеи. Шея расслабится, отступит головная боль и усталость. Если вы лежали или сидели в неудобной позе, массаж уберёт остаточный дискомфорт.',
          'Прилив крови к мозгу помо&shy;жет вам лучше концентри&shy;роваться, а сама процедура отвлечёт вас от жизненных проблем и успокоит.'
        ]
      },
      {
        title: 'Кому подойдёт массаж шейно-воротниковой зоны?',
        text: [
          'Массаж шейного отдела показан водителям и офисным работникам из-за длительного статичного положения, а также всем, кто ведёт малоподвижный образ жизни.',
          'Почти у всех шейный отдел испытывает серьёзную ежедневную нагрузку, и этот вид массажа поможет в профилак&shy;тике заболеваний позвоночника.'
        ]
      }
    ]
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;нас'
    pageData.massageVideo = {
      id: 'mj12083KWJ4',
      poster: `${THEME_IMG_PATH}/massage-video/massage-video-poster_all.jpg`,
      sticker: {
        position: 'left',
        text: 'Сеанс идёт 30 минут и больше подходит для профилактики'
      }
    }
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;массажа шейно-воротниковой зоны',
      features: [
        {
          title: 'Снятие боли в&nbsp;шее, восстановление подвижности головы',
          text: `Массаж шейного отдела не&nbsp;справится с&nbsp;запущенными проблемами, но&nbsp;отлично снимет
            несложные зажимы и&nbsp;мышечную усталость шейного отдела`
        },
        {
          title: 'Благотворное действие на&nbsp;мозг и&nbsp;нервную систему',
          text: `Снятие мышечного усталости и&nbsp;зажимов восстановит поток кислорода к&nbsp;мозгу, нормализует сон
            и&nbsp;повысит общий тонус`
        },
        {
          title: 'Профилактика последствий сидячей работы',
          text: `Массаж шейно-воротниковой зоны помогает в&nbsp;профилактике заболеваний шейного отдела позвоночника`
        }
      ]
    }
    pageData.faq = [
      {
        question: `Почему массаж шейно-воротниковой зоны не лечит заболевания шеи?`,
        answer: `Главная причина в том, что позвоночником нужно заниматься комплексно, и локального воздействия на шейный отдел недостаточно. Массаж шейно-воротниковой зоны предназначен для профилактики заболеваний, а также он поможет снять боль, если она вызвана легким защемлением или простудой. Но если проблема находится глубже, массаж шейного отдела снимет лишь симптомы, не вылечив причины боли, а значит она может вернуться. Когда специалист проводит лечебный массаж спины, он находит и убирает причину боли в разных отделах спины. Дело в том, что позвоночник нужно рассматривать как единую целостную систему, и лечить точно также — комплексно.`
      },
      {
        question: `Какие ещё проблемы решает этот массаж?`,
        answer: `По сути, больше никаких – только снятие напряжения в шее, облегчение при лёгком защемлении и боли. По-настоящему решает проблемы шейного отдела только лечебный массаж спины с комплексной и глубокой проработкой. `
      },
      {
        question: `В каких случаях стоит выбрать этот массаж?`,
        answer: `Если вы хотите зайти на массаж в перерыве от работы, или после рабочего дня&nbsp;– чтобы освежить голову, слегка расслабиться и сбросить дневное напряжение. Или если вы точно знаете, что боль в шее вызвана простудой или лёгким защемлением, а не заболеванием позвоночника&nbsp;– в таком случае массаж шейного отдела подойдёт идеально.`
      },
      {
        question: `Как поддерживать результат?`,
        answer: `Старайтесь правильно сидеть – не наклоняйте сильно голову к телефону, и не вытягивайте шею к компьютеру. Время от времени делайте небольшую разминку. Эти привычки значительно улучшат состояние вашей шеи и помогут снять усталость.`
      }
    ]
    pageData.priceList = {
      showPromo: false
    }
    pageData.moreMassages = [8, 12, 6, 11]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/certificate
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
