extends ../layouts/default

block variables
  -
    var pageData = JSON.parse(pageData)
    pageData.description = `Скульптурно-буккальный массаж&nbsp;— процедура, сравнимая по&nbsp;эффекту с&nbsp;пластикой.
      Результат заметен после первого сеанса`
    pageData.keywords = `скульптурно-буккальный, массаж лица, Москва, услуга, описание, цена, стоимость`
    pageData.pageClass = 'sculptural-buccal-massage-page'
    pageData.theme = '1'
    pageData.massage = globalData.massages['sculptural-buccal-massage']
    pageData.mainScreenHeading = 'Скульптурно-буккальный массаж лица'
    pageData.mainScreenSubheading = `Полная альтернатива пластике, стирает морщинки и&nbsp;отёки, корректирует овал лица`
    pageData.mainScreenFeatures = globalData.company.features
    pageData.aboutMassage = [
      {
        title: 'Что это за процедура?',
        text: [
          'Скульптурно-буккальный массаж лица -— революционная процедура, которую по эффекту называют «безоперационной пластикой». За счёт проработки мышц сразу с двух сторон - внешней и внутренней, эффект настолько сильный, что после курса массажа сравним с хирургической подтяжкой.',
          'За 60 минут массажа мастер формирует правильный контур лица, убирает отёки, укрепляет лицевые мышцы, и стирает морщинки. Результат будет заметен уже после 1 сеанса.'
        ]
      },
      {
        title: 'Какой будет результат?',
        text: [
          'Ваши мимические морщинки исчезнут, а глубокие значи&shy;тельно сгладятся. Уйдут отёки, мешки под глазами, второй подбородок. Процесс старения замедлится, ваши черты лица станут изящнее, а признаки старения пропадут.'
        ]
      },
      {
        title: 'Это больно, долго, дорого? Не появятся ли прыщи?',
        text: [
          'Процедура массажа приятная и&nbsp;рас&shy;слаб&shy;ля&shy;ющая, но&nbsp;ес&shy;&shy;ли у&nbsp;вас очень за&shy;&shy;жа&shy;&shy;тые мыш&shy;&shy;цы, мес&shy;&shy;тами может быть по&shy;&shy;вы&shy;&shy;шен&shy;&shy;ная чувстви&shy;тель&shy;&shy;ность. Это сиг&shy;нал, что в&nbsp;тканях есть глу&shy;бокая проб&shy;лема, и&nbsp;по ме&shy;ре сня&shy;тия спаз&shy;ма вы заме&shy;тите, что&nbsp;чувстви&shy;тель&shy;ность ушла.',
          'Для устой&shy;чи&shy;во&shy;го ре&shy;зуль&shy;та&shy;та обыч&shy;но хва&shy;тает 6-10 про&shy;це&shy;дур, но&nbsp;раз&shy;ни&shy;цу вид&shy;но и&nbsp;пос&shy;ле пер&shy;вой. А&nbsp;стоимость в&nbsp;ра&shy;зы мень&shy;ше, чем при&nbsp;по&shy;пыт&shy;ках до&shy;бить&shy;ся по&shy;хо&shy;же&shy;го ре&shy;зуль&shy;та&shy;та плас&shy;ти&shy;кой.',
          'Прыщи не появят&shy;&shy;ся&nbsp;— на&shy;&shy;ши мас&shy;&shy;те&shy;&shy;ра соб&shy;&shy;лю&shy;&shy;да&shy;&shy;ют стро&shy;&shy;жай&shy;&shy;ший анти&shy;&shy;сеп&shy;&shy;тичес&shy;&shy;кий про&shy;&shy;то&shy;&shy;кол, поч&shy;&shy;ти как в хи&shy;&shy;рур&shy;&shy;гии. Мас&shy;&shy;тер тща&shy;&shy;тель&shy;&shy;но об&shy;&shy;ра&shy;&shy;бо&shy;&shy;та&shy;&shy;ет вам ли&shy;&shy;цо, на&shy;&shy;де&shy;&shy;нет сте&shy;&shy;риль&shy;&shy;ные пер&shy;&shy;чат&shy;&shy;ки, а пос&shy;&shy;ле мас&shy;&shy;сажа сно&shy;&shy;ва об&shy;&shy;ра&shy;&shy;бо&shy;&shy;та&shy;&shy;ет вам ко&shy;&shy;жу, что&shy;&shy;бы очис&shy;&shy;тить и успо&shy;&shy;коить её. Мы ра&shy;&shy;бо&shy;&shy;та&shy;&shy;ем толь&shy;&shy;ко по тем сред&shy;ствам, ко&shy;то&shy;рые не про&shy;во&shy;ци&shy;руют пры&shy;щи, ко&shy;ме&shy;до&shy;ны и чёр&shy;ные точки.'
        ]
      }
    ]
    pageData.massageResults.title = 'Результаты массажа лица'
    pageData.massageResults.face.slidesOrder.current = [1, 2, 3]
    pageData.massageResults.face.slidesOrder.rest = [4, 5, 6, 7]
    pageData.reviewsBlock.title = 'Отзывы о&nbsp;массаже лица'
    pageData.featuresBlock = {
      heading: 'Что вы получите от&nbsp;скульптурно-буккального массажа',
      features: [
        {
          title: 'Вы будете выглядеть моложе, пропадут морщины, подтянется овал&nbsp;лица',
          text: `Исчезнет второй подбородок, кожа станет упругой и&nbsp;свежей, время как будто пойдёт для&nbsp;вас
            вспять. Все возрастные изменения пропадут или&nbsp;сильно уменьшатся`
        },
        {
          title: 'Черты вашего лица станут красивее и&nbsp;изящнее, удлинится шея',
          text: `Скульптурно-буккальный массаж не&nbsp;только убирает недостатки, но&nbsp;и&nbsp;подчёркивает
            достоинства. Он сделает вас красивее, даже если у&nbsp;вас совсем нет возрастных изменений и&nbsp;отёков`
        },
        {
          title: 'Абсолютно безопасный результат, травмы и ухудшения исключены',
          text: `Пластика&nbsp;— это лотерея, что-то может пойти не&nbsp;так во&nbsp;время процедуры,
            или&nbsp;сказаться через несколько лет. С&nbsp;массажем этого не&nbsp;случится, ваше преображение будет
            безопасным и&nbsp;естественным`
        }
      ]
    }
    pageData.massageDescription = [
      `В начале мастер наносит на лицо клиента гель алоэ-вера. Этот гель не закупоривает поры и идеально подходит для массажа.<br>
        <br>
        Пальцы массажиста скользят, не растягивая кожу, лицо после сеанса наполнено влагой, мышцы расслаблены. Что важно, гель алоэ абсолютно не вызывает воспалений`,
      `Мастер начинает бережно работать с лицом. Прогревает кожу, мягко проглаживает мышцы, и осторожно переходит к более глубоким воздействиям.<br>
        <br>
        Часть воздействий на мышцы происходит с внешней стороны лица, часть с внутренней, через рот. Это позволяет проработать ткани очень глубоко и добиться невероятных результатов. Конечно, мастер работает в одноразовых перчатках и очень аккуратно`,
      `Эффект после сеанса виден сразу, появляется румянец, сходят отёки, лицо подтянуто. А эффект от курса поражает, он действительно способен полностью заменить пластику.<br>
        <br>
        Причём если поддерживать результат, он будет держаться всю жизнь. При пластике это невозможно, лицо со временем начнёт требовать более серьёзных воздействий, что отразится на внешности. С массажем ваша красота будет в безопасности`
    ]
    pageData.faq = [
      globalData.commonFaceFaq[0],
      {
        question: `Это не больно? Какие ощущения при процедуре?`,
        answer: `Обычно нет, массаж лица это приятная процедура. Но если какая-то мышца у вас сильно спазмирована, то несмотря на аккуратную работу специалиста, может быть чувствительно. Не настраивайтесь на неприятные ощущения, если они и будут, то вполне терпимые, и не на всём лице. А по мере снятия спазма чувствительность полностью пропадёт. В большинстве же случаев процедура доставляет клиентам только удовольствие.`
      },
      {
        question: `Чем скульптурно-буккальный массаж лучше пластики?`,
        answer: `Если кратко, то всем. Массаж совершенно не травматичен, и практически не имеет противопоказаний. Его можно делать в любом возрасте и с любым строением лица. Хирургические вмешательства бывают неудачными, а люди после операций часто похожи друг на друга. Подправленное лицо нужно постоянно поддерживать, а если перестать это делать, лицо станет выглядеть гораздо хуже, чем если бы вы не вмешивались в него. Массажем невозможно испортить черты лица&nbsp;— ваше преображение будет естественным, вы станете лучшей версией себя и сохраните результат на всю жизнь, если будете его поддерживать. А если не будете&nbsp;— никакого ужасного отката не случится. И всё это без инъекций, боли и осложнений.`
      },
      {
        question: `В чём отличие этого массажа от&nbsp;других массажей лица?`,
        answer: `Скульптурно-буккальный массаж — это очень эффективная методика, и результаты от этого массажа, пожалуй, самые яркие. Все массажи лица в нашей клинике дают отличный результат, но скульптурный массаж может сравниться лишь с пластикой лица. После курса массажа уходят не только такие очевидные недостатки как морщины, в лучшую сторону меняются даже черты лица. Этот эффект достигается тем, что мышцы прорабатываются не только с внешней стороны, но и с внутренней — через рот. В этом главная особенность скульптурно-буккального массажа.`
      },
      globalData.commonFaceFaq[2],
      globalData.commonFaceFaq[3],
      globalData.commonFaceFaq[4]
    ]
    pageData.priceList = {
      showPromo: true
    }
    pageData.moreMassages = [3, 5, 2, 4]
    pageData.hasMap = true

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/certificate
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
