.popups-wrap
  include popup-massage-test
  include popup-appointment
  include popup-callback-form
  include popup-online-chat
  .popups-wrap__bg-close(data-close-popup='all' role='button' aria-label='Закрыть все модальные окна')
