@use '../../tools' as *;

.online-chat {
  position: relative;

  margin-top: 1.8rem;

  &__trigger-icon {
    transition: fill 0.3s;

    @include themify() {
      fill: $color-primary;

      @include in-focus() {
        fill: $color-secondary;
      }
    }
  }

  &__popup {
    position: fixed;
    bottom: 4rem;
    left: 50%;

    min-width: 30rem;
    max-width: 36rem;
    padding: 4rem;

    text-align: center;

    border-radius: 1rem;
    box-shadow: 0 0.4rem 2rem $light-dim-color;

    transform: translateX(-50%);

    &[data-disabled] {
      color: $xx-dark-dim-color;

      background-color: $lightgray-color;
      border: 0.2rem solid $dark-dim-color;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .online-chat {
    &__popup {
      left: 4vw;

      transform: none;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .online-chat {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-width: 17rem;
    margin-top: 0;
    margin-right: 2rem;

    background-color: $alt-default-color;
    border-radius: 3rem;
    box-shadow: 0 0.4rem 2rem $light-dim-color;

    .communication-methods__title {
      margin-bottom: 0;

      font-size: 1.2rem;
    }

    &__trigger {
      flex-shrink: 0;

      box-shadow: none;

      &::after {
        border-radius: 3rem;
      }
    }
  }
}
