@use '../../tools' as *;

.price-list {
  margin-bottom: 7rem;

  &__content {
    padding: 0;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__promotion {
    @include centered-block(35rem);

    margin-bottom: 7rem;
  }

  .theme-1 &__promotion_photo,
  .theme-7 &__promotion_photo {
    padding-right: 13.5rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: none;
    }
  }

  .theme-1 &__promotion_photo {
    padding-right: 4rem;

    .promotion-card__text, {
      padding-right: 7rem;

      font-size: 1.6rem;
    }

    .promotion-card__button {
      align-self: flex-start;
    }
  }

  &__table-wrap {
    overflow: auto;
    padding-bottom: 1.6rem;

    scrollbar-width: thin;
    scrollbar-color: $x-light-dim-color $x-lightgray-color;

    &::-webkit-scrollbar {
      height: 0.9rem;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border-radius: 2rem;
    }

    &::-webkit-scrollbar-track {
      background-color: $x-lightgray-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $x-light-dim-color;
    }
  }

  &__table {
    white-space: nowrap;
  }

  &__first-price,
  &__standard-price,
  &__course-price, {
    position: relative;
  }

  &__first-price {
    font-weight: 700;
  }

  &__old-price {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: $xx-dark-dim-color;
  }

  &__section {
    position: relative;

    margin-bottom: 6rem;
    padding-top: 4.5rem;
  }

  &__type-caption {
    position: absolute;

    top: 0;
    width: 100%;

    font-size: 2rem;

    font-family: $title-font-family;
    text-align: center;
    @include themify() {
      color: $color-primary;
    }
  }

  &__tag {
    padding: 0.2rem 0.4rem;

    font-weight: 400;
    color: $alt-default-color;

    border-radius: 0.4rem;

    @include themify() {
      background-color: $color-secondary-light;
    }
  }

  &__section:not(:first-of-type) {
    .price-list__tag {
      margin-right: 0.8rem;
      padding: 0;

      color: inherit;

      background-color: initial;
    }
  }

  &__massage-name {
    position: absolute;
    top: 1.2rem;
    left: 3vw;

    font-weight: 700;
  }

  &__cell-notification {
    &::after {
      content: '*';

      @include themify() {
        margin-left: 0.3rem;

        font-weight: 700;
        color: $color-primary;
      }
    }
  }

  &__price-notification {
    &::after {
      content: '*';

      margin-left: 0.3rem;

      font-weight: 400;
    }
  }

  &__notification-text {
    margin: 1rem 3vw;

    &::before {
      content: '*';

      @include themify() {
        margin-right: 0.3rem;

        font-weight: 700;
        color: $color-primary;
      }
    }

    &_no-star {
      &::before {
        content: none;
      }
    }
  }

  .tooltip {
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    line-height: 1.5;

    &__trigger {
      @include min-box(1.8rem);

      position: relative;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.5rem;

      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      text-align: center;
      vertical-align: baseline;

      @include themify() {
        background-color: $color-secondary-light;
      }
      border-radius: 50%;
    }

    &__body {
      top: calc(100% + 1rem);
      left: calc(50% - 8rem);

      min-width: 28rem;
      padding-top: 1.5rem;
      padding-bottom: 2rem;

      text-align: left;
      font-weight: 400;
      color: $default-color;

      background-color: $alt-default-color;
      box-shadow: 0 0.2rem 2rem $x-light-dim-color;

      &::before {
        top: -1.8rem;
        left: calc(50% + 8rem);

        border-width: 0.9rem;
        border-bottom-color: $alt-default-color;
      }
    }
  }

  &__course-heading {
    display: inline-block;
    margin-bottom: 0.5rem;

    vertical-align: middle;
    font-size: 1.4rem;
  }

  &__course-description {
    font-size: 1.3rem;
  }

  &__price-notification-description {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0 3vw;

    font-size: 1.5rem;

    .price-list__price-notification {
      margin-right: 0.4rem;

      &::after {
        margin-right: 0.3rem;
      }
    }
  }

  .table {
    &__cell {
      padding: 1rem 3vw;
      padding-top: 4rem;

      vertical-align: bottom;

      &:first-of-type {
        position: relative;

        padding: 0;
      }

      &:nth-of-type(3),
      &:nth-of-type(4) {
        text-align: center;
      }

      &:nth-of-type(5) {
        text-align: right;
      }

      &_heading {
        padding-top: 0.5rem;
        padding-bottom: 1.5rem;

        font-size: 1.4rem;
        vertical-align: baseline;
        color: $dark-dim-color;

        &:first-of-type {
          position: static;
        }
      }
    }

    &__row {
      &:nth-child(even) {
        background-color: #f4f7f9;
      }

      &_highlight {
        @include themify() {
          background-color: $color-background;
        }
      }

      &_promo {
        span:not(.price-list__old-price) {
          &::after {
            content: '*';
            position: absolute;

            margin-left: 0.1rem;

            font-weight: 700;
            font-size: 1.8rem;
            line-height: 1;
            @include themify() {
              color: $color-primary;
            }
          }
        }
      }

      &_promo ~ .table__row_promo {
        span::after {
          content: '**';
        }
      }

      &_promo ~ .table__row_promo ~ .table__row_promo {
        span::after {
          content: '***';
        }
      }

      @for $i from 1 to 4 {
        &_promo-#{$i} {
          .table__cell:not(:nth-child(#{$i})) {
            span {
              &::after {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  &__promo-text {
    margin-top: 2rem;
    padding: 0 3vw;

    @include themify() {
      color: $color-primary;
    }

    &:empty {
      display: none;
    }

    &::before {
      content: '*';

      font-weight: 700;
    }
  }

  &__promo-text + .price-list__promo-text::before {
    content: '**';
  }

  &__promo-text + .price-list__promo-text + .price-list__promo-text::before {
    content: '***';
  }

  &__callback {
    @include centered-block(35rem);
  }
}

.theme-4 {
  .price-list {
    .promotion-card__button {
      background-color: map-deep-get($themes, '4', 'secondary-light');

      @include in-focus() {
        background-color: map-deep-get($themes, '4', 'secondary');
      }
    }

    &__promo-text {
      color: map-deep-get($themes, '4', 'primary-dark');
    }
  }
}

@each $i in (6, 7, 9, 10) {
  .theme-#{$i} {
    .price-list {
      .price-list-callback-form {
        background-color: map-deep-get($themes, '#{$i}', 'alt-background');
      }
    }
  }
}

@media (min-width: $phone-landscape-min-width) {
  .price-list {
    &__table-wrap {
      max-width: initial;
      padding-bottom: 0;
    }

    .table {
      &__cell {
        &_heading {
          font-size: 1.6rem;
        }
      }
    }

    .tooltip {
      padding-top: 0;

      &__body {
        left: 50%;

        &::before {
          left: 50%;
        }
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .price-list {
    margin-bottom: 10rem;

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    &__title {
      margin-bottom: 4rem;
    }

    &__prices {
      @include centered-block(90rem);

      order: 1;
      width: 100%;
    }

    &__promotion {
      order: 2;
      margin-bottom: 0;
    }

    &__callback {
      flex-grow: 1;
      order: 3;
    }

    &__price-notification-description {
      padding: 0 2rem;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .price-list {
    margin-bottom: 11rem;

    &__content {
      padding: 0 2rem;
    }

    &__title {
      margin-bottom: 6rem;
    }

    &__promotion {
      max-width: 39rem;
    }

    &__callback {
      max-width: 40vw;
      min-height: initial;
    }

    .theme-1 &__promotion_photo,
    .theme-7 &__promotion_photo {
      .promotion-card__button {
        align-self: flex-start;
      }
    }

    &__section {
      margin-bottom: 5rem;
      padding-top: 0;
    }

    &__type-caption {
      position: static;

      margin: 0;

      font-size: 1.6rem;
      font-family: $main-font-family;
      text-align: left;
    }

    &__massage-name {
      position: static;

      display: inline-block;
      min-width: 24.5rem;

      font-weight: 400;
      vertical-align: baseline;
    }

    &__notification-text {
      margin: 0;
      margin-left: 1rem;
    }

    .table {
      margin-bottom: 2.5rem;

      &__cell {
        &,
        &:first-of-type {
          padding: 0.8rem 1rem;
        }

        &_heading {
          @include themify() {
            color: $color-primary;
          }
        }
      }

      &__row {
        &:not(.table__row_highlight):nth-child(even) {
          background-color: $alt-default-color;
        }

        &_promo {
          .table__cell {
            padding-top: 0;
          }

          span:not(.price-list__old-price) {
            position: relative;
            top: auto;
            left: auto;
          }
        }

        &_promo.table__row_highlight {
          .table__cell {
            padding-top: 0;
            padding-bottom: 1rem;
          }
        }
      }
    }

    .tooltip {
      padding-bottom: 1rem;
    }

    &__promo-text {
      display: inline;
      margin: 0;
      padding: 0.4rem;
    }
  }

  .page {
    .price-list {
      &__type-caption {
        color: $default-color;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .price-list {
    &__wrap {
      flex-direction: column;
      max-height: 100rem;
    }

    &__prices {
      width: auto;
      margin-left: 2%;
    }

    &__promotion,
    &__callback {
      width: 38%;
    }

    &__callback {
      order: 2;
      max-width: 39rem;
      margin-top: 22rem;
      margin-right: 0;
      margin-left: 2%;
    }

    &__promotion {
      order: 1;

      ~ .price-list__callback {
        margin-top: 7rem;
        margin-right: auto;
        margin-left: auto;
      }

      ~ .price-list__prices {
        order: 3;
      }
    }
  }
}
