@use '../../tools' as *;

.articles-page {
  &__wrap {
    margin-bottom: 6rem;
  }

  &__list {
    @include reset-list();
  }

  &__list-item {
    @include centered-block(33.5rem);

    width: 100%;
    margin-bottom: 4.5rem;
  }
}

@media (min-width: $tablet-min-width) {
  .articles-page {
    &__list {
      @include centered-block(80rem);

      display: flex;
      flex-wrap: wrap;
    }

    &__list-item {
      margin-bottom: 6rem;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .articles-page {
    &__list {
      max-width: 120rem;
    }

    &__list-item {
      margin-bottom: 7rem;
    }
  }
}
