@use '../../tools' as *;

.promotion-card {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 3rem 2.1rem;
  padding-bottom: 8.5rem;

  box-shadow: 0 0.4rem 2rem $x-light-dim-color;

  &::before {
    @include box(12.5rem, 11rem);

    content: '';
    position: absolute;
    bottom: -0.1rem;
    right: -0.1rem;
    z-index: 1;

    background-image: url('../../../img/promocard/promocard-background@1x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

    @include retina() {
      background-image: url('../../../img/promocard/promocard-background@2x.png');
    }
  }

  &__title {
    font-size: 2rem;
  }

  &__subtitle {
    margin-bottom: 1.5rem;

    font-size: 1.2rem;
  }

  &__text {
    margin-bottom: 3.5rem;

    font-size: 1.4rem;
  }

  &__button {
    min-width: 20rem;
    align-self: center;
  }
}

@media (min-width: $s-desktop-min-width) {
  .promotion-card {
    padding: 4rem;
    padding-bottom: 9rem;

    &::before {
      @include box(14.5rem, 12.5rem);
    }
  }
}
