nav.article-page__navigation.article-navigation
  ul.article-navigation__list
    each anchor, id in locals.data.pageData.article.navigation
      li.article-navigation__list-item(data-state=(id === '1' ? 'active' : false))
        a(href=`#nav-${id}`)= anchor
