@use '../../tools' as *;

.page-footer {
  position: relative;

  padding-bottom: 3rem;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__copyright {
    order: 1;
    margin-top: 1.2rem;
    margin-bottom: 0;

    font-size: 1.1rem;

    .link {
      white-space: nowrap;
    }
  }

  &__logo {
    margin-bottom: 0.6rem;
  }

  &__company-text {
    font-size: 1.2rem;
  }

  &__socials {
    .socials {
      &__icon {
        &_ig,
        &_ig-color {
          width: 2.5rem;
          height: 2.4rem;
        }

        &_vk {
          width: 3.8rem;
          height: 2.3rem;
        }

        &_fb {
          width: 2.6rem;
          height: 2.6rem;
        }
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .page-footer {
    padding-bottom: 5rem;

    &__content {
      flex-wrap: nowrap;
    }

    &__company {
      order: 1;
    }

    &__copyright {
      order: 2;
      max-width: 50%;
      margin: 0;
    }

    &__socials {
      order: 3;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .page-footer {
    padding-bottom: 6rem;

    &__copyright {
      max-width: 57rem;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .page-footer {
    &__copyright {
      max-width: 62rem;

      font-size: 1.2rem;
    }
  }
}
