-
  var sections = {
    application_form: 'Запись на массаж',
    callback_form: 'Заказ обратного звонка',
    test_form: 'Тест выбора массажа',
    review_form: 'Отзывы',
    prices: 'Прайс-лист',
    company_info: 'Информация о компании',
    site_video: 'Видео',
    site_photo: 'Фотографии'
  }

.wrap
  h1 Администрирование
  p Выберите необходимый подраздел:
  ul
    each section, sectionCode in sections
      li
        a(href=`${get_admin_url()}admin.php?page=${sectionCode}`)= section
