@use '../../tools' as *;

.articles-page {
  &__wrap {
    margin-bottom: 6rem;
    padding-top: 4rem;
  }

  &__title {
    margin-bottom: 3.5rem;

    font-size: 2.8rem;
  }

  &__list {
    @include reset-list();
  }

  &__list-item {
    @include centered-block(33.5rem);

    margin-bottom: 4.5rem;
  }
}

@media (min-width: $tablet-min-width) {
  .articles-page {
    &__wrap {
      padding-top: 5rem;
    }

    &__title {
      margin-bottom: 5rem;

      font-size: 3.6rem;
    }

    &__list {
      @include centered-block(80rem);

      display: flex;
      flex-wrap: wrap;
    }

    &__list-item {
      margin-bottom: 6rem;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .articles-page {
    &__wrap {
      padding-top: 13rem;
    }

    &__title {
      margin-bottom: 6rem;

      font-size: 4rem;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .articles-page {
    &__list {
      max-width: 120rem;
    }

    &__list-item {
      margin-bottom: 7rem;
    }
  }
}
