section.massage-results
  .massage-results__content.container
    h2.massage-results__title.heading= pageData.massageResults.title
    if pageData.theme === 'main'
      nav.massage-results__nav.tab-nav
        ul.tab-nav__list
          each type, i in [{ id: 'faceResults', name: 'Лицо'}, { id: 'backResults', name: 'Спина' }, { id: 'figureResults', name: 'Фигура' }]
            li.tab-nav__item
              a.tab-nav__link(data-active=(i === 0 ? `` : false) href='#' data-section-id=type.id)= type.name
    include ./face
    include ./back
    include ./figure
