@use '../../tools' as *;

.popup-appointment {
  margin-right: 1.5rem;
  margin-left: 1.5rem;

  border-radius: 0.5rem;

  .popup__container {
    padding-right: 0;
    padding-left: 0;
  }

  .application-form {
    &__inputs {
      padding: 0 2rem;
    }

    &__personal-data {
      padding: 0 1.2rem;
    }

    &__message {
      padding: 0 2rem;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .popup-appointment {
    max-width: 40rem;

    .application-form {
      &__inputs {
        display: block;
      }

      &__input {
        margin-right: 0;
        margin-bottom: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      &__submit {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .popup-appointment {
    .application-form {
      &__input,
      &__submit {
        font-size: 1.6rem;
      }

      &__input {
        max-width: initial;
      }

      &__personal-data {
        text-align: center;
      }
    }
  }
}
