-
  var famousClients = [
    {
      name: 'Валдис Пельш',
      photo: {
        desktop: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-1_desktop@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-1_desktop@2x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-1_desktop@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-1_desktop@2x.jpg'
          }
        },
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-1_mobile@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-1_mobile@2x.webp',
            '3x': 'assets/img/famous-clients/famous-client-1_mobile@3x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-1_mobile@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-1_mobile@2x.jpg',
            '3x': 'assets/img/famous-clients/famous-client-1_mobile@3x.jpg'
          }
        }
      }
    },
    {
      name: 'Анна Иванова',
      photo: {
        desktop: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-2_desktop@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-2_desktop@2x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-2_desktop@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-2_desktop@2x.jpg'
          }
        },
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-2_mobile@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-2_mobile@2x.webp',
            '3x': 'assets/img/famous-clients/famous-client-2_mobile@3x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-2_mobile@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-2_mobile@2x.jpg',
            '3x': 'assets/img/famous-clients/famous-client-2_mobile@3x.jpg'
          }
        }
      }
    },
    {
      name: 'Константин Ивлев',
      photo: {
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-3_mobile@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-3_mobile@1x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-3_mobile@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-3_mobile@1x.jpg'
          }
        }
      }
    },
    {
      name: 'Валдис Пельш',
      photo: {
        desktop: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-1_desktop@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-1_desktop@2x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-1_desktop@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-1_desktop@2x.jpg'
          }
        },
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-1_mobile@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-1_mobile@2x.webp',
            '3x': 'assets/img/famous-clients/famous-client-1_mobile@3x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-1_mobile@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-1_mobile@2x.jpg',
            '3x': 'assets/img/famous-clients/famous-client-1_mobile@3x.jpg'
          }
        }
      }
    },
    {
      name: 'Анна Иванова',
      photo: {
        desktop: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-2_desktop@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-2_desktop@2x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-2_desktop@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-2_desktop@2x.jpg'
          }
        },
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-2_mobile@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-2_mobile@2x.webp',
            '3x': 'assets/img/famous-clients/famous-client-2_mobile@3x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-2_mobile@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-2_mobile@2x.jpg',
            '3x': 'assets/img/famous-clients/famous-client-2_mobile@3x.jpg'
          }
        }
      }
    },
    {
      name: 'Константин Ивлев',
      photo: {
        desktop: false,
        tablet: false,
        mobile: {
          webp: {
            '1x': 'assets/img/famous-clients/famous-client-3_mobile@1x.webp',
            '2x': 'assets/img/famous-clients/famous-client-3_mobile@2x.webp'
          },
          jpg: {
            '1x': 'assets/img/famous-clients/famous-client-3_mobile@1x.jpg',
            '2x': 'assets/img/famous-clients/famous-client-3_mobile@2x.jpg'
          }
        }
      }
    }
  ]

section.famous-clients
  .famous-clients__content.container
    h2.famous-clients__title.heading Нам доверяют
    .slider
      button.slider__button.slider__button_prev(aria-label="Предыдущий слайд")
      ul.famous-clients__list.famous-clients__slider
        each person in famousClients
          li.famous-clients__list-item
            figure.famous-clients__person
              +picture-tag(person.photo, person.photo.mobile.jpg['2x'], person.name).famous-clients__photo
              figcaption.famous-clients__name= person.name
      button.slider__button.slider__button_next(aria-label="Следующий слайд")
    article.famous-clients__sticker.sticker(data-aos='fade-in' data-aos-duration='300' data-aos-offset='200')
      +svg-icon('#polystar').sticker__image
      b.sticker__secondary-text
        | Мы против обмана. Все&nbsp;знаменитые клиенты правда лечились у&nbsp;нас и&nbsp;от&nbsp;души нас рекомендуют
