- var mainPromo = locals.data.globalData.mainPromo

article.price-list__promotion.promotion-card
  h3.promotion-card__title!= mainPromo.title
  p.promotion-card__subtitle!= mainPromo.subtitle
  p.promotion-card__text!= mainPromo.text
  button.promotion-card__button.button.button_primary(type='button' data-open-popup='appointment')= mainPromo.buttonText
