section.massage-choosing-test
  .massage-choosing-test__wrapper.container
    .massage-choosing-test__content(data-aos='fade-right')
      h3.massage-choosing-test__title Не знаете какой массаж выбрать?
      |
      p.massage-choosing-test__description Ответьте на&nbsp;6&nbsp;вопросов всего за&nbsp;минуту, и&nbsp;узнайте какой массаж подходит именно&nbsp;вам
      a.massage-choosing-test__link.button.button_primary(href='#' data-open-popup='massage-test') Пройти тест бесплатно
    .massage-choosing-test__image(data-aos='fade-left')
