section.massage-choosing-quiz
  .massage-choosing-quiz__wrapper.container
    .massage-choosing-quiz__content
      h3.massage-choosing-quiz__title Не знаете какой массаж выбрать?
      p.massage-choosing-quiz__description Ответьте на&nbsp;6&nbsp;вопросов всего за&nbsp;минуту, и&nbsp;узнайте какой массаж подходит именно вам
      a.massage-choosing-quiz__link.button.button_primary(href='#') Пройти тест бесплатно
    .massage-choosing-quiz__image
