section.socials
  .socials__content
    ul.socials__icons
      li.socials__icons-item
        a.socials__link(href='https://www.instagram.com/expert_massage_clinic/')
          +svg-icon('#ig-icon').socials__icon.socials__icon_ig(width='24' height='23')
          +svg-icon('#ig-icon-color').socials__icon.socials__icon_ig.socials__icon_ig-color(width='24' height='23')
      li.socials__icons-item
        a.socials__link(href='#')
          +svg-icon('#vk-icon').socials__icon.socials__icon_vk(width='36' height='22')
      li.socials__icons-item
        a.socials__link(href='#')
          +svg-icon('#fb-icon').socials__icon.socials__icon_fb(width='24' height='24')
    h2.socials__text Публикуем новости и акции в соцсетях, присоединяйтесь
