@use '../../tools' as *;

.review-card {
  padding: 2rem;

  font-size: 1.4rem;

  background-color: $alt-default-color;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 2rem $x-light-dim-color;

  &__text {
    overflow: hidden;
    margin-bottom: 2rem;

    text-align: left;

    transition: max-height 0.3s;

    &[data-cutted] {
      max-height: 24rem;
      height: 100rem;
    }
  }

  &__expand-button {
    @include reset-button();

    border-bottom: 1px solid $transparent-color;

    @include themify() {
      @include in-focus() {
        border-bottom-color: $color-secondary;
      }
    }
  }

  &__info {
    margin-bottom: 0.4rem;

    font-weight: 700;
  }

  &__source {
    min-height: 1.6rem;
    margin-bottom: 0;

    font-size: 1.2rem;
    text-align: center;
  }
}

@media (min-width: $phone-landscape-min-width) {
  .review-card {
    &__text {
      &[data-cutted] {
        max-height: 16rem;
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .review-card {
    &__text {
      margin-bottom: 3rem;

      font-size: 1.6rem;

      &[data-cutted] {
        max-height: 21rem;
      }
    }

    &__info {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .review-card {
    &__text {
      margin-bottom: 5rem;

      &[data-cutted] {
        max-height: 27rem;
      }
    }
  }
}
