@use '../../tools' as *;

.article-card {
  position: relative;

  padding: 2rem 1.8rem;
  padding-bottom: 5rem;

  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 2rem $x-light-dim-color;

  &__wrap-link {
    color: $default-color;

    @include in-focus() {
      color: $default-color;

      .article-card__link {
        border-bottom-color: map-deep-get($themes, 'main', 'secondary');
      }
    }
  }

  &__tag-wrap {
    min-height: 2rem;
    margin-bottom: 0.5rem;
  }

  &__tag {
    display: inline-block;
    padding: 0.2rem 0.4rem;

    font-size: 1.2rem;
    vertical-align: middle;

    background-color: #e5f2f9;
    border-radius: 0.3rem;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__description {
    margin-bottom: 2rem;

    font-size: 1.4rem;
  }

  &__link {
    display: inline-block;

    font-size: 1.5rem;
    vertical-align: middle;

    &::before {
      @include box(0.7rem);

      top: 55%;
    }

    @include in-focus() {
      border-bottom-color: map-deep-get($themes, 'main', 'secondary');
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .article-card {
    &__title {
      font-size: 2rem;
    }

    &__description,
    &__link {
      font-size: 1.6rem;
    }

    &__link {
      &::before {
        @include box(0.8rem);
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .article-card {
    padding: 2.5rem 3rem;
    padding-bottom: 6rem;

    &__tag {
      font-size: 1.3rem;
    }

    &__title {
      font-size: 2.2rem;
    }

    &__description {
      font-size: 1.7rem;
    }

    &__link {
      font-size: 1.8rem;

      &::before {
        @include box(0.9rem);

        top: 58%;
      }
    }
  }
}
