@use '../../tools' as *;

.scroll-top-button {
  position: fixed;
  right: 2.5rem;
  bottom: 3rem;
  z-index: 10;

  transition-property: opacity, transform;
  transition-duration: 0.5s;

  &[data-state='hidden'] {
    opacity: 0;

    transform: scale(0.2);
  }

  &__button {
    @include reset-button();
    @include box(5.4rem);

    display: block;

    background-color: $alt-default-color;
    box-shadow: 0 0.4rem 2rem $light-dim-color;
    border-radius: 50%;

    &::before,
    &::after {
      content: '';
    }

    &::before {
      transition-property: border-color;
      transition-duration: 0.4s;
    }

    &::after {
      @include box(100%);

      position: absolute;

      box-shadow: 0 0 3rem $light-dim-color;
      border-radius: 50%;
      opacity: 0;

      transition: opacity 0.3s;
    }

    @include themify() {
      &::before {
        @include stroke-arrow(1.8rem, 0.5rem, $color-primary, 'up');
        @include absolute-centered(translate(-50%, -50%) rotate(-135deg));

        top: 58%;
      }

      @include in-focus() {
        &::before {
          border-color: $color-secondary;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
