@use '../../tools' as *;
@use 'sass:list';

.features-list {
  margin-bottom: 8rem;

  &__content {
    padding: 0 1rem;

    text-align: center;
  }

  .heading {
    margin-bottom: 4rem;
  }

  &__list {
    @include reset-list();

    overflow: hidden;

    text-align: left;
  }

  &__item {
    @include centered-block(50rem);

    margin-bottom: 6rem;

    @mixin feature-list-icon($icon-index) {
      .features-list__image {
        background-image: #{url(list.nth($features-icons, $icon-index))};
      }
    }

    @include themify() {
      @for $i from 1 through list.length($features-icons) {
        @if $i == 1 {
          &_one {
            @include feature-list-icon($i);
          }
        }
        @else if $i == 2 {
          &_two {
            @include feature-list-icon($i);
          }
        }
        @else {
          &_three {
            @include feature-list-icon($i);
          }
        }
      }
    }
  }

  &__image {
    @include box(40vw);

    max-width: 18rem;
    max-height: 18rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__feature-title {
    margin-bottom: 1rem;
  }

  &__link {
    font-weight: 700;
    font-size: 1.8rem;
  }

  .theme-main & {
    &__item {
      &_two {
        .features-list__image {
          max-height: 14rem;
          height: 30vw;
          max-width: 20rem;
          width: 45vw;
        }
      }
    }
  }

  .theme-2 &,
  .theme-3 & {
    &__item {
      max-width: 22rem;

      text-align: center;
    }
  }

  .theme-12 & {
    &_2 {
      .features-list__item {
        &_one {
          .features-list__image {
            background-image: url('#{list.nth(map-deep-get($themes, '12', 'features-icons-2'), 1)}');
          }
        }

        &_two {
          .features-list__image {
            background-image: url('#{list.nth(map-deep-get($themes, '12', 'features-icons-2'), 2)}');
          }
        }

        &_three {
          .features-list__image {
            background-image: url('#{list.nth(map-deep-get($themes, '12', 'features-icons-2'), 3)}');
          }
        }
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .features-list {
    margin-bottom: 12rem;

    .heading {
      margin-bottom: 5rem;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      max-width: 45%;
      margin-right: 2.5%;
      margin-left: 2.5%;
    }

    &__image {
      @include box(18vw);

      max-width: 16rem;
      max-height: 16rem;
    }
  }

  .theme-main {
    .features-list {
      &__item {
        &_two {
          .features-list__image {
            max-height: 16rem;
            height: 18vw;
          }
        }
      }
    }
  }

  .theme-2,
  .theme-3 {
    .features-list {
      &__item {
        max-width: 25rem;
        margin-right: 4%;
        margin-left: 4%;
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .features-list {
    &__content {
      padding: 0;
    }

    .heading {
      margin-bottom: 5.5rem;
    }

    &__list {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__item {
      max-width: 30.5%;
      margin-right: 0;
      margin-left: 0;
    }

    &__feature-title {
      font-size: 1.6rem;
    }

    &__feature-description {
      font-size: 1.5rem;
    }
  }

  .theme-2,
  .theme-3 {
    .features-list {
      &__list {
        padding: 0 6rem;
      }

      &__item {
        max-width: 26%;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .features-list {
    &__list {
      padding: 0 3rem;
    }

    &__feature-title {
      font-size: 1.7rem;
    }

    &__feature-description {
      font-size: 1.6rem;
    }
  }
}
