@use '../../tools' as *;

.famous-clients {
  position: relative;

  margin-bottom: 8rem;

  &__title {
    margin-bottom: 3rem;
  }

  &__list {
    @include reset-list();
  }

  .slider {
    @include centered-block(50rem);
    padding: 0 2rem;

    &__button {
      top: calc(50% - 1rem);

      width: 3.2rem;

      &::before {
        @include box(1.8rem);
      }

      &_prev {
        right: calc(100% - 2rem);
      }

      &_next {
        left: calc(100% - 2rem);
      }
    }
  }

  &__person {
    @include centered-block(98%);

    text-align: center;
  }

  &__photo {
    position: relative;

    min-height: 22rem;
    overflow: hidden;

    border-radius: 0.5rem;

    img {
      @include absolute-centered();

      max-width: initial;
      height: 100%;

      border-radius: 0.5rem;
    }
  }

  &__name {
    margin-top: 1.2rem;
  }

  &__sticker {
    @include box(25.2rem, 26rem);

    position: relative;

    margin: 0 auto;
    margin-top: 4rem;
    padding: 3rem;

    .sticker {
      &__image {
        fill: map-deep-get($themes, 'main', 'background');
      }

      &__secondary-text {
        font-size: 1.4rem;
        line-height: 1.3;

        opacity: 0.8;
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .famous-clients {
    margin-bottom: 5rem;

    &__title {
      margin-bottom: 5rem;
    }

    &__list-item {
      max-height: 45rem;
      height: 35vw;
    }

    &__person {
      max-width: initial;
      margin: 0 1.5rem;
    }

    &__photo {
      height: 31vw;
      max-height: 41rem;
    }

    &__name {
      margin-top: 2rem;

      font-size: 1.8rem;
      line-height: 2rem;
    }

    .slider {
      max-width: initial;

      &__button {
        top: 50%;

        &::before {
          @include box(2.4rem);
        }
      }

      .tns-item {
        transform: scale3d(0.4, 0.4, 1);
        transition: transform 0.6s;

        .famous-clients {
          &__name {
            font-weight: 700;
            color: map-deep-get($themes, 'main', 'primary');

            transform: scale(2);
          }
        }
      }

      .tns-slide-active {
        transform-origin: right center;

        + .tns-slide-active {
          transform: scale3d(1, 1, 1.01);
          transform-origin: center;

          .famous-clients {
            &__name {
              font-weight: 400;
              color: $default-color;

              transform: none;
            }
          }
        }

        + .tns-slide-active + .tns-slide-active {
          transform: scale3d(0.4, 0.4, 1);
          transform-origin: left center;

          .famous-clients {
            &__name {
              font-weight: 700;
              color: map-deep-get($themes, 'main', 'primary');

              transform: scale(2);
            }
          }
        }
      }
    }

    .sticker {
      @include box(22rem, 22.5rem);

      position: absolute;
      top: -7.5rem;
      left: 14%;

      padding: 2rem;
      padding-bottom: 2.5rem;

      &__secondary-text {
        font-size: 1.2rem;
      }
    }
  }
}
