@use '../../tools' as *;

.service-page {
  &__wrap {
    position: relative;

    padding-top: 4rem;
  }

  .heading {
    margin-bottom: 3rem;

    font-size: 2.8rem;
  }

  .page-header {
    padding-bottom: 5.5rem;

    background: none;
    background-color: $alt-default-color;

    &::before {
      content: none;
    }

    &__logo-link {
      display: none;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .service-page {
    &__wrap {
      padding-top: 5rem;
    }

    .heading {
      margin-bottom: 5rem;

      font-size: 3.6rem;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .service-page {
    &__wrap {
      padding-top: 6rem;
    }

    .heading {
      margin-bottom: 6rem;

      font-size: 4rem;
    }

    .page__content {
      padding-top: 7rem;
    }

    .page__header {
      position: fixed;
    }

    .page-header {
      padding-bottom: 0;

      box-shadow: 0 0.4rem 2rem $x-light-dim-color;

      &__wrap {
        padding-top: 1.6rem;
        padding-right: 1rem;
        padding-left: 1rem;
      }

      &__logo-link {
        display: block;
      }
    }
  }
}
