-
  locals.data.globalData = {
    currentYear: new Date().getFullYear(),
    massages: {
      'back-massage': {
        name: 'Лечебный массаж спины',
        fullName: 'Лечебный массаж спины',
        url: 'back-massage.html',
        menuType: 'body',
        tag: {
          text: 'От боли',
          color: 'main'
        },
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 50
      },
      'body-lymphatic-drainage': {
        name: 'Лимфодренажный',
        fullName: 'Лимфодренажный массаж тела',
        url: 'body-lymphatic-drainage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60
      },
      'figure-modeling': {
        name: 'Ручное моделирование фигуры',
        fullName: 'Ручное моделирование фигуры',
        url: 'figure-modeling.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        promo: {
          text: 'Акция — скидка на первый сеанс 25%',
          starPlacement: 2, // 1 - massage name, 2 - first price, 3 - second price, 4 - duration
          highlightRow: false
        }
      },
      'fullbody-massage': {
        name: 'Общий массаж тела',
        fullName: 'Общий массаж тела',
        url: 'fullbody-massage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60
      },
      'sports-massage': {
        name: 'Спортивный',
        fullName: 'Спортивный массаж',
        url: 'sports-massage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60
      },
      'anti-cellulite-massage': {
        name: 'Антицеллюлитный',
        fullName: 'Антицеллюлитный массаж',
        url: 'anti-cellulite-massage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60
      },
      'neck-massage': {
        name: 'Шейно-воротниковой зоны',
        fullName: 'Массаж шейно-воротниковой зоны',
        url: 'neck-massage.html',
        menuType: 'body',
        price: {
          first: 800,
          standard: 800
        },
        duration: 15
      },
      'sculptural-buccal-massage': {
        name: 'Скульптурно-буккальный',
        fullName: 'Скульптурно-буккальный массаж лица',
        url: 'sculptural-buccal-massage.html',
        menuType: 'face',
        tag: {
          text: 'Хит',
          color: 'alt'
        },
        price: {
          first: 1500,
          standard: 2600
        },
        duration: 50,
        promo: {
          text: 'Акция — скидка на июль и август 25%',
          starPlacement: 3, // 1 - massage name, 2 - first price, 3 - second price, 4 - duration
          highlightRow: true
        }
      },
      'facial-lymphatic-drainage': {
        name: 'Лимфодренажный',
        fullName: 'Лимфодренажный массаж лица',
        url: 'facial-lymphatic-drainage.html',
        menuType: 'face',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60
      },
      'classic-facial-massage': {
        name: 'Классический',
        fullName: 'Классический массаж лица',
        url: 'classic-facial-massage.html',
        menuType: 'face',
        price: {
          first: 1800,
          standard: 2300
        },
        duration: 50
      },
      'chiromassage': {
        name: 'Хиромассаж',
        fullName: 'Хиромассаж лица',
        url: 'chiromassage.html',
        menuType: 'face',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60
      },
      'japanese-asahi-massage': {
        name: 'Японский массаж Асахи',
        fullName: 'Массаж лица Асахи-Зоган',
        url: 'japanese-asahi-massage.html',
        menuType: 'face',
        price: {
          first: 2100,
          standard: 2800
        },
        duration: 60
      }
    },
    mainPromo: {
      title: '20%&nbsp;скидка на&nbsp;1-ый&nbsp;сеанс',
      subtitle: 'На&nbsp;всё, кроме массажа шейно-воротниковой зоны',
      text: `Мы знаем, как важно, чтобы массажист вам подходил и&nbsp;было комфортно. Приходите на&nbsp;первый сеанс
        со&nbsp;скидкой, чтобы познакомиться и&nbsp;обсудить цели.
        <br>
        <br>
        И&nbsp;пожалуйста, не&nbsp;стесняйтесь говорить нашим
        специалистам, если что-то&nbsp;не&nbsp;так`,
      buttonText: 'Получить скидку'
    },
    company: {
      foundationYear: 2008,
      phones: [
        '+7 499 397-71-81',
        '+7 915 000-63-42'
      ]
    }
  }
- locals.data.globalData.company.businessDuration = locals.data.globalData.currentYear - locals.data.globalData.company.foundationYear
