-
  locals.data.globalData = {
    currentYear: new Date().getFullYear(),
    massages: {
      'back-massage': {
        id: 12,
        name: 'Лечебный массаж спины',
        fullName: 'Лечебный массаж спины',
        url: 'back-massage.html',
        menuType: 'body',
        tag: {
          text: 'От боли',
          color: 'main'
        },
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 50,
        shortDescription: 'Убирает боль в спине, лечит заболева&shy;ния позвоночника, возвращает свободу движений и активную жизнь'
      },
      'body-lymphatic-drainage': {
        id: 8,
        name: 'Лимфодренажный',
        fullName: 'Лимфодренажный массаж тела',
        url: 'body-lymphatic-drainage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        shortDescription: 'Рекомендован при отёках любой части тела, лишнем весе, тяжести в ногах. Оздоравливает весь организм'
      },
      'figure-modeling': {
        id: 7,
        name: 'Ручное моделирование фигуры',
        fullName: 'Ручное моделирование фигуры',
        url: 'figure-modeling.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        promo: {
          text: 'Акция — скидка на первый сеанс 25%',
          starPlacement: 2 // 1 - massage name, 2 - first price, 3 - second price, 4 - duration
        },
        shortDescription: 'Рекомендован при выраженном целлюлите. Процедура включает лимфодренаж и обёртывание'
      },
      'fullbody-massage': {
        id: 11,
        name: 'Общий массаж тела',
        fullName: 'Общий массаж тела',
        url: 'fullbody-massage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        shortDescription: 'Расслабляющий и оздоравливающий массаж всего тела, поможет справиться со стрессом и улучшит сон'
      },
      'sports-massage': {
        id: 6,
        name: 'Спортивный',
        fullName: 'Спортивный массаж',
        url: 'sports-massage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        shortDescription: 'Для восстановления после тренировок или спортивных травм, и общего здоровья тела'
      },
      'anti-cellulite-massage': {
        id: 9,
        name: 'Антицеллюлитный',
        fullName: 'Антицеллюлитный массаж',
        url: 'anti-cellulite-massage.html',
        menuType: 'body',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        shortDescription: 'Рекомендован при выраженном целлюлите, если нет цели сильно похудеть. Включает обёртывание'
      },
      'neck-massage': {
        id: 10,
        name: 'Шейно-воротниковой зоны',
        fullName: 'Массаж шейно-воротниковой зоны',
        url: 'neck-massage.html',
        menuType: 'body',
        price: {
          first: 800,
          standard: 800
        },
        duration: 15,
        shortDescription: ''
      },
      'sculptural-buccal-massage': {
        id: 1,
        name: 'Скульптурно-буккальный',
        fullName: 'Скульптурно-буккальный массаж лица',
        url: 'sculptural-buccal-massage.html',
        menuType: 'face',
        tag: {
          text: 'Хит',
          color: 'alt'
        },
        price: {
          first: 1500,
          standard: 2600
        },
        duration: 50,
        promo: {
          text: 'Акция — скидка на июль и август 25%',
          starPlacement: 3 // 1 - massage name, 2 - first price, 3 - second price, 4 - duration
        },
        shortDescription: 'Самый эффективный массаж лица. Полноценная альтернатива пластике, омоложение и улучшение черт лица'
      },
      'facial-lymphatic-drainage': {
        id: 3,
        name: 'Лимфодренажный',
        fullName: 'Лимфодренажный массаж лица',
        url: 'facial-lymphatic-drainage.html',
        menuType: 'face',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        shortDescription: 'Рекомендован при отёках лица, мешках под глазами. Эффект первого сеанса очень наглядный'
      },
      'classic-facial-massage': {
        id: 2,
        name: 'Классический',
        fullName: 'Классический массаж лица',
        url: 'classic-facial-massage.html',
        menuType: 'face',
        price: {
          first: 1800,
          standard: 2300
        },
        duration: 50,
        shortDescription: 'Восстановление природного здоровья и тонуса мышц, мягкая проработка'
      },
      'chiromassage': {
        id: 5,
        name: 'Хиромассаж',
        fullName: 'Хиромассаж лица',
        url: 'chiromassage.html',
        menuType: 'face',
        price: {
          first: 1900,
          standard: 2400
        },
        duration: 60,
        shortDescription: 'Сочетание европейской и восточной техники, наполняет энергией, возвращает в ресурс'
      },
      'japanese-asahi-massage': {
        id: 4,
        name: 'Японский массаж Асахи',
        fullName: 'Массаж лица Асахи-Зоган',
        url: 'japanese-asahi-massage.html',
        menuType: 'face',
        price: {
          first: 2100,
          standard: 2800
        },
        duration: 60,
        shortDescription: 'Японский формирующий массаж. Глубокая, интенсивная проработка мышц и костных тканей'
      }
    },
    mainPromo: {
      title: '20%&nbsp;скидка на&nbsp;1-ый&nbsp;сеанс',
      subtitle: 'На&nbsp;всё, кроме массажа шейно-воротниковой зоны',
      text: `Мы знаем, как важно, чтобы массажист вам подходил и&nbsp;было комфортно. Приходите на&nbsp;первый сеанс
        со&nbsp;скидкой, чтобы познакомиться и&nbsp;обсудить цели.
        <br>
        <br>
        И&nbsp;пожалуйста, не&nbsp;стесняйтесь говорить нашим
        специалистам, если что-то&nbsp;не&nbsp;так`,
      buttonText: 'Получить скидку'
    },
    company: {
      foundationYear: 2008,
      phones: [
        '+7 499 397-71-81',
        '+7 915 000-63-42'
      ],
      address: `м. Цветной Бульвар<br>1-й Волконский переулок, д.15`,
      workingHours: `с 9:00 до 21:00<br>без выходных`,
      specialists: [
        {
          id: 1,
          name: 'Рыбников Антон Николаевич',
          tags: [
            '12 лет опыта',
            'Ведущий специалист'
          ],
          description: [
            'Проводит все виды массажа лица и тела, помогает избавиться от боли в спине, отёков, целлюлита, решает сложные эстетические проблемы.',
            'Работал в ведущих медицинских центрах — клинике №1 им. Пирогова, центре диетологии НИИ питания, Федеральном центре реабилитации.',
            'Член «Международного Альянса Массажистов». Автор методики «Максимально эффективное лечение боли при проведении лечебного массажа», преподаватель школы массажа.'
          ],
          reviewsCount: 118,
          images: {
            desktop: {
              webp: {
                '1x': `assets/img/specialists/1_desktop@1x.webp`,
                '2x': `assets/img/specialists/1_desktop@2x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/1_desktop@1x.jpg`,
                '2x': `assets/img/specialists/1_desktop@2x.jpg`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `assets/img/specialists/1_mobile@1x.webp`,
                '2x': `assets/img/specialists/1_mobile@2x.webp`,
                '3x': `assets/img/specialists/1_mobile@3x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/1_mobile@1x.jpg`,
                '2x': `assets/img/specialists/1_mobile@2x.jpg`,
                '3x': `assets/img/specialists/1_mobile@3x.jpg`
              }
            }
          }
        },
        {
          id: 2,
          name: 'Батькова Наталья Александровна',
          tags: [
            '21 год стажа',
            `Медицинский подход<span class='hidden_mobile'> к массажу</span>`
          ],
          description: [
            'Считает массаж делом своей жизни и постоянно повышает квалификацию. Выполняет все виды массажа, но особенно любит избавлять от лишнего веса и целлюлита, наблюдать, как клиентки становятся легче и счастливее',
            'За годы опыта работала в самых авторитетных медицинских клиниках и центрах (отделение медицинской реабилитации клиники С.Н. Гринберга, клиника неврологии и остеопатии, а также клиники по коррекции тела с помощью массажа).'
          ],
          reviewsCount: 65,
          images: {
            desktop: {
              webp: {
                '1x': `assets/img/specialists/2_desktop@1x.webp`,
                '2x': `assets/img/specialists/2_desktop@2x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/2_desktop@1x.jpg`,
                '2x': `assets/img/specialists/2_desktop@2x.jpg`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `assets/img/specialists/2_mobile@1x.webp`,
                '2x': `assets/img/specialists/2_mobile@2x.webp`,
                '3x': `assets/img/specialists/2_mobile@3x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/2_mobile@1x.jpg`,
                '2x': `assets/img/specialists/2_mobile@2x.jpg`,
                '3x': `assets/img/specialists/2_mobile@3x.jpg`
              }
            }
          }
        },
        {
          id: 3,
          name: 'Ефременкова Ирина Владимировна',
          tags: [
            '10 лет опыта',
            'Член Международного Альянса Массажистов'
          ],
          description: [
            'Ирина проводит все виды массажа лица и тела, и помогла множеству клиентов избавиться от возрастных проблем, болей в спине, отёков и целлюлита. С большим удовольствием делает скульптурный массаж лица и радуется тому, как преображаются её клиенты.',
            'Работала в авторитетных медицинских центрах — Центр коррекции фигуры и веса, областная больница восстановительного лечения. Владеет более чем 15 техниками массажа и регулярно повышает квалификацию.'
          ],
          reviewsCount: 106,
          images: {
            desktop: {
              webp: {
                '1x': `assets/img/specialists/3_desktop@1x.webp`,
                '2x': `assets/img/specialists/3_desktop@2x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/3_desktop@1x.jpg`,
                '2x': `assets/img/specialists/3_desktop@2x.jpg`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `assets/img/specialists/3_mobile@1x.webp`,
                '2x': `assets/img/specialists/3_mobile@2x.webp`,
                '3x': `assets/img/specialists/3_mobile@3x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/3_mobile@1x.jpg`,
                '2x': `assets/img/specialists/3_mobile@2x.jpg`,
                '3x': `assets/img/specialists/3_mobile@3x.jpg`
              }
            }
          }
        },
        {
          id: 4,
          name: 'Маликова Татьяна Анатольевна',
          tags: [
            '10 лет опыта',
            'Массаж — и работа, и хобби'
          ],
          description: [
            'Татьяна отлично разбирается во всех видах массажа лица и тела, и постоянно совершенствует мастерство. Она одинаково любит работать над эстетическими и медицинскими проблемами, и уже помогла множеству клиентов избавиться от боли в спине, сбросить вес и омолодить лицо.',
            'До прихода в нашу клинику Татьяна успела поработать в авторитетных клиниках коррекции лица и тела, и медицинских центрах'
          ],
          reviewsCount: 24,
          images: {
            desktop: {
              webp: {
                '1x': `assets/img/specialists/4_desktop@1x.webp`,
                '2x': `assets/img/specialists/4_desktop@2x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/4_desktop@1x.jpg`,
                '2x': `assets/img/specialists/4_desktop@2x.jpg`
              }
            },
            tablet: false,
            mobile: {
              webp: {
                '1x': `assets/img/specialists/4_mobile@1x.webp`,
                '2x': `assets/img/specialists/4_mobile@2x.webp`,
                '3x': `assets/img/specialists/4_mobile@3x.webp`
              },
              jpg: {
                '1x': `assets/img/specialists/4_mobile@1x.jpg`,
                '2x': `assets/img/specialists/4_mobile@2x.jpg`,
                '3x': `assets/img/specialists/4_mobile@3x.jpg`
              }
            }
          }
        }
      ],
      socials: {
        ig: {
          link: 'https://www.instagram.com/expert_massage_clinic/'
        },
        vk: {
          link: '#'
        },
        fb: {
          link: '#'
        }
      }
    }
  }
-
  locals.data.globalData.company.businessDuration = locals.data.globalData.currentYear - locals.data.globalData.company.foundationYear
  locals.data.globalData.commonFaceFaq = [
    {
      question: `Как именно помогает массаж?<br>
        За счёт чего подтягиваются мышцы?`,
      answer: `Всё довольно просто – когда массажист работает с мышечным каркасом лица и шеи, улучшается кровообращение, цвет лица и состояние кожи. Массажист снимает спазм мышц, возвращает им правильное положение.<br><br>Все основные эстетические проблемы лица — из-за спазмированных мышц. Поэтому результат массажа проявляется так быстро, и остаётся стабильным при периодической поддержке. Глубокое воздействие, которое мы делаем в клинике, приводит к очень стойкому результату, так как восстана&shy;вливается правильное положение костей, мышц, фасций и сосудов. За счёт этого уходят морщины, отёки, зажимы, ассимет&shy;рии лица. И это — ваше настоящее лицо, а не искусственно созданное пластикой. Вы не теряете свой облик, уникальность и естественность, вы только улучшаете их, к тому же всё это полностью безопасно`
    },
    {
      question: `Это не больно? Какие ощущения при&nbsp;процедуре?`,
      answer: `Нет, массаж лица это приятная процедура. Если какая-то мышца у вас сильно спазмирована, специалист будет работать с ней очень аккуратно, и не доставит вам дискомфорта. Некоторые наши клиенты даже засыпают на сеансе. Скорее всего, процедура доставит вам только удовольствие, а если неприятные ощущения будут, то это будет лишь лёгкий дискомфорт, и то один-два раза за весь сеанс. В общем, повода переживать нет`
    },
    {
      question: `Как поддерживать результат?<br>
        Если перестану, всё разъедется?`,
      answer: `Будет замечательно, если вы сможете приходить на поддерживающие сеансы 1-2 раза в месяц, либо курсом 1-2 раза в год. Это может показаться сложным, но такой подход поможет вам сохранить результат на долгие годы — лицо будет оставаться упругим, молодым и подтянутым. Но даже если вы решите не продолжать сеансы, лицо будет ещё долго радовать вас отличным тонусом. А дальше результат потихоньку будет становиться не таким ярким, но ничего ужасного не произойдёт. Полного отката назад не случится, лицо не станет выглядеть хуже, чем до массажа, и резкого обвисания тканей тоже не будет. Массаж, в отличие от пластики, полностью исключает такие последствия.`
    },
    {
      question: `А кожа не растянется при таком воздействии?`,
      answer: `Нет, не растянется — при правильной технике невозможно растянуть кожу массажем. Специалисты в нашей клинике работают только по лучшим мировым методикам, они уверены в каждом своём движении, и точно знают, как принести вашей внешности только пользу. Кожа после массажа станет только лучше, она будет упругой, подтянутой и свежей.`
    }
  ]
