extends ../layout/main

block variables
  -
    locals.data.pageData = {
      url: '12-steps.html',
      title: `12 шагов к здоровью`,
      description: `12 шагов к здоровью, красоте и счастью - 12 простых шагов ведущих к хорошему самочувствию, гармонии
        с собой и окружающим миром.`,
      keywords: `12 шагов, к здоровью`,
      canonical: 'http://expert-massage-clinic.ru/12-steps.html',
      pageClass: 'article-page',
      theme: 'main',
      articleId: 1
    }
  - var article = locals.data.articles[locals.data.pageData.articleId]
  - locals.data.pageData.article = article

block head

block content
  .article-page__wrap.container
    header.article-page__caption
      ul.article-page__tags
        each tag in article.tags
          li.article-page__tag= tag
      h1.article-page__article-title.heading!= article.title
    include ../includes/modules/content/article-page/navigation
    .article-page__content
      p#nav-1 Все мы хотим быть счастливыми и здоровыми. Здоровье – это самый ценный капитал, который легко потерять, но сложно восстановить. Не так страшно лишиться денег, работы, машины, друзей и связей, если Вы полны сил. Но потеря здоровья сводит на нет ценность большинства материальных благ и достижений. Здоровый человек всегда найдет возможность добиться всего, чего желает. А тот, кто потерял здоровье, готов отдать все, чтобы вернуть утраченное.
      p Так как же беречь здоровье? И как вернуть его, если организм начал подавать тревожные сигналы? В этой статье мы расскажем Вам о 12 простых, но эффективных шагах, которые помогут Вам встать на путь, ведущий к здоровью и счастью.
      p 12 шагов, которые Вам предстоит сделать – это 12 ступеней, ведущие Вас к хорошему самочувствию, гармонии с собой и окружающим миром. Это то, что мы проверили на себе, это наш собственный опыт. Сегодня мы передаем его Вам. Мы надеемся, что он действительно будет полезным для Вас.
      p Итак, 12 шагов к здоровью, красоте и счастью.

      h2#nav-2 ШАГ ПЕРВЫЙ. Поддерживайте уровень воды в организме
      p Выпивайте в день чистой природной (живой) воды из расчета 30 мл на 1 кг веса. Например, если Вы весите 60 кг, в день пейте по 1800 мл воды. Сок, чай, кофе и любые другие напитки в расчет не берутся, только вода.
      p 30 мл на 1 кг веса в сутки — это формула, которая была издана Всемирной организацией здравоохранения более 10 лет назад. Именно это количество воды нам необходимо для нормальной работы всех наших органов и систем. Почему это так важно? Все дело в том, что дефицит воды — это враг для счастья клеток нашего организма. Тело человека в основном состоит из воды, именно поэтому здоровая полноценная жизнь без нее невозможна.
      p Для того чтобы полностью извлекать питательные вещества из еды, нашему телу требуется химическое соединение кислорода и водорода, содержащееся в H2О. Мы все учили это еще в средней школе на уроках биологии, а потом дружно забыли, какое огромное значение это для нас имеет. Мы часто путаем жажду с голодом, но чаще всего нам нужна лишь вода. Поэтому каждый раз, когда Вам захочется перекусить, выпейте для начала немного воды.
      .article-page__highlight
        h3 Не бойтесь отёков, распивайтесь!
        p Если Вы раньше не пили воду в таком количестве, не насилуйте себя, иначе резкое увеличение объемов воды станет причиной отеков. Тем не менее, постепенно идите к той норме, о которой мы уже говорили: 30 мл на 1 кг веса.
      p Что происходит, когда Вы пьете мало воды? В этом случае кровь и лимфа становятся густыми. Представьте, что почки — это насос, который качает жидкость через шланг. Если эта жидкость густая, то насосу качать ее тяжело. Что легче качать через шланг, кисель или воду? Ответ очевиден. Так что если кровь и лимфа у Вас густые, а Вы станете сразу пить большое количество воды, почки с нагрузкой не справятся, и будут отеки.
      p Для того чтобы сделать кровь и лимфу более жидкими, нужен не один день. На «разжижение» крови и лимфы у человека уходит от двух месяцев.
      h3 Понедельный план разжижения крови и лимфы
      h4 ПЕРВАЯ НЕДЕЛЯ
      p Решив сделать свою кровь и лимфу более жидкими, действуйте постепенно. Начните со стакана воды объемом 250 мл натощак. В течение дня в промежутках между пищей выпивайте также по стакану воды. При этом общий объем воды в день должен составлять 1 литр (с учетом выпитого утром стакана).
      p Если Вам сложно выпивать этот объем воды за день, обратите внимание на выпиваемые Вами другие напитки (чай, кофе, сок и т.д.) и ограничьте либо исключите их на этот период. В этом случае Ваш организм будет сильнее нуждаться в воде, и Вы будете пить ее без особых усилий. Если Вы уже выпили дневной объем, но Вы все еще хотите пить, можете выпить другие напитки, но не забывайте наблюдать за собой, чтобы не появились отеки. Если же отеки появляются, то в первую очередь исключите любые другие напитки, но не воду. Пейте по одному литру воды в день в течение недели, не увеличивая ежедневный объем
      h4 ВТОРАЯ И ТРЕТЬЯ НЕДЕЛИ
      p Во вторую и третью недели добавьте к утренней порции 100 мл. воды. Получается, по утрам натощак Вы будете выпивать уже по 350 мл воды. К общему дневному объему прибавьте еще 150 мл. С учетом утреннего стакана получится 1250 мл воды в день. Пейте этот объем в течение двух недель, не увеличивая.
      h4 ЧЕТВЕРТАЯ И ПЯТАЯ НЕДЕЛИ
      p К утреннему стакану воды добавьте 150 мл. Таким образом, объем воды, выпиваемой натощак, будет составлять 500 мл. Рекомендуем разделить эти 500 мл на два стакана по 250 мл, так воду будет психологически легче выпить. К общему дневному объему добавьте еще 100 мл, чтобы с учетом выпитой утром воды общий дневной объем составил 1500 мл. Пейте этот объем две недели, не увеличивая. Рекомендуем с четвертой недели и в последующее время мерить общий дневной объем не стаканами, а бутылками объемом по 0,5 и 1,5 литра. Так измерять норму воды будет проще, и Вы не ошибетесь с подсчетами.
      h4 ПОДХОДИМ К НОРМЕ, РЕКОМЕНДОВАННОЙ ВОЗ
      p После окончания пятой недели постепенно увеличивайте объем воды до тех пор, пока Вы не придете к норме, рекомендованной Всемирной организацией здравоохранения. Для этого прибавляйте к дневному объему по 250 мл воды один раз в две недели. Таким образом, каждые последующие две недели суточное потребление воды будет на 250 мл больше, чем в предыдущие две недели.
      h3 Пейте воду правильно
      p Утром натощак выпивайте не менее 500 мл воды за 30-40 минут до еды. Это поможет активировать работу внутренних органов. По желанию можете прийти к 640 мл воды натощак. Именно это количество воды, как утверждают японцы, помогает очистить организм от шлаков и токсинов и зарядиться энергетически на весь день. Пейте воду не ранее чем за 30 минут до еды. Это способствует пищеварению. После еды воду пейте не ранее чем через 1,5-2 часа. Почему важно пить воду именно так? Многочисленные исследования, проведенные в последнее время, показывают, что если пить воду во время или непосредственно после еды, снижается концентрация желудочного сока. Из-за этого организму требуется в несколько раз больше времени, чтобы переварить пищу. Как следствие, возрастает нагрузка на все органы ЖКТ (желудок, двенадцатиперстная кишка, поджелудочная железа и другие). Появляется чувство тяжести, газы.
      p Помимо этого, из-за воды, потребляемой во время или сразу после еды, процесс прохождения пищи по ЖКТ значительно ускоряется. Питательные вещества проходят мимо тех зон, где происходит их усвоение. Попадая в кишечник, не переваренная пища вызывает гниение, а гниение образует токсины. Эти высокотоксичные вещества попадают в кровь, а кровь разносит их по всем органам, вызывая тем самым расстройство и нарушение их работы.
      p Всегда пейте воду медленно, небольшими глотками. Мудрость из Аюрведы (древнеиндийского учения) гласит: «Жидкое ешь, а твердое пей». Это принцип питания йогов. Комментарии, мы думаем, тут излишни.
      .article-page__highlight
        h3 Итог: когда полезнее всего пить воду?
        h4 После пробуждения не менее 500 мл воды
        p Помогает очистить кишечник, активировать работу внутренних органов, зарядиться энергией на весь день
        h4 За 30-40 минут до еды
        p Способствует дальнейшему пищеварению
        h4 Через 1,5-2 часа после еды
        p Не нарушает процесс пищеварения
        h4 Перед сном не менее 250 мл
        p Чтобы избежать сердечного приступа или инсульта
        h4 Перед приёмом ванны не менее 250 мл
        p Помогает снизить артериальное давление во время процедуры
      h3 Пейте только природную, живую воду
      p Без воды немыслима жизнь на земле. Рождаясь, человек на 90% состоит из воды. Умирая, он состоит из воды лишь на 50%. Вода дает энергию, это сила, это основа жизни на Земле. Не случайно именно с водой проводят магические ритуалы разные народы мира. Над водой молятся, и намоленная вода творит чудеса, исцеляя людей. Живая и мертвая вода присутствует в мудрых русских сказках.
      p Живой является только та вода, которая получена из природных источников. Это может быть родниковая вода, горная, артезианская. Та вода, которая сообщалась с природой и вышла из нее, и есть живая вода. У такой воды есть свой энергетический потенциал, который можно измерить физическими приборами, например, при помощи ОВП-метра. Что еще очень важно, она минерализуется природным путем, а не искусственным.
      p А вот мертвая вода — это та, которая прошла путь химической очистки, прошла через ржавые трубы. Пройдя весь этот ад, она не может быть живой, поэтому какими бы Вы не воспользовались фильтрами или приборами, она все равно по определению будет мертвой. Очень важно пить «правильную» воду (природную, живую). Ее можно купить в магазине или заказать в фирме по доставке воды. Можно также воздействовать на воду камнями либо чем-то еще, но все же нет ничего сильнее энергии земли и Вселенной.
      p «Вода, ты — восхищение. Со всей сердечной мерою скажу: она спасение, поверьте, я ей верую!» (Валентин Гафт).

      h2#nav-3 ШАГ ВТОРОЙ. Польза Омега-3. Секрет стройной фигуры, красивой кожи, волос и ногтей
      p Скорее всего, Вы уже слышали о поразительной пользе Омега-3 жирных кислот. Если Вы хотите, чтобы Ваше тело было стройным, кожа — гладкой и сияющей, волосы — шелковистыми, а ногти — крепкими и здоровыми, принимайте Омега-3. Тот эффект, который Вы увидите, когда эти кислоты начнут поступать в Ваш организм, превзойдет все ожидания.
      p Омега-3 кислоты положительно повлияют на работу Вашего мозга, они улучшат состояние Ваших суставов и поддержат иммунитет. Полиненасыщенная кислота способствует разжижению крови и лимфы, улучшает обменные процессы, способствуя похудению. Она избавит Вас от усталости и симптомов депрессии. Полезны кислоты и для нормализации артериального давления. Все люди, которые начинают употреблять с пищей Омега-3 кислоты, говорят о том, что это поистине волшебные вещества.
      h3 Источники Омега-3 кислот
      p Омега-3 кислоты содержатся в льняном масле и рыбьем жире. Так, рыбий жир можно купить в обычной аптеке. Он продается в виде капсул и жидкости. Принимайте рыбий жир по одной капсуле или чайной ложке во время еды. Именно так Омега-3 кислоты лучше усвоятся. Курс приема рыбьего жира длится от одного до трех месяцев. В год достаточно трех курсов.
      p Что касается льняного масла, то по сравнению с рыбьим жиром Омега-3 кислот в нем два раза больше. Его употребляют также с едой по одной чайной ложке. В сутки можно принимать по несколько чайных ложек. Впрочем, строгих ограничений тут нет, ведь избыток масла выводится организмом. Кстати, льняное масло можно добавлять в салаты, гарниры (температура гарнира не должна превышать 45 °C, так как при более высокой температуре у масла теряются полезные качества).
      .article-page__highlight
        b Употребляйте льняное масло на протяжении всей жизни, включайте его в свой повседневный рацион, ведь оно считается самым полезным маслом в мире.
      p Секрет пользы масла для организма человека кроется в его сбалансированном и уникальном составе. Именно это и дает ему право быть лидером среди других растительных масел. У диетологов всего мира есть единое мнение: льняное масло способствует здоровью и активному долголетию.
      p Если Вы мечтаете о том, чтобы похудеть, включите в свой рацион льняное масло. Результат будет просто потрясающим: за месяц Вы сможете потерять до нескольких килограммов. Как видите, наши шаги к здоровью, счастью и красоте очень простые, но поразительно действенные.

      h2#nav-4 ШАГ ТРЕТИЙ. Суперпитание, наполняющее нас счастьем. Добавьте аминокислоты
      p В организме человека, как и в природе в целом, все взаимосвязано. Соответственно, если Вы хотите, чтобы Ваши клетки были счастливы, нужно позаботиться о правильном питании всего Вашего тела.
      p Многие специалисты в области психологии питания считают, что люди несчастливы в результате своих неудовлетворенных пищевых потребностей. Они утверждают, что наше поведение и наше настроение в основном зависит от четырех нейромедиаторов, которые заряжаются аминокислотами и порождают счастье.
      p Достаточное количество аминокислот и высокий уровень нейромедиаторов в организме приводит к прекрасному самочувствию, позволяет позитивно мыслить, радоваться каждому прожитому дню. Нехватка же аминокислот является причиной появления грусти, апатии, негативных мыслей. Из чего следует, что несчастье является симптомом нехватки нейромедиаторов.
      h3 Самые полезные продукты на земле
      p Очень много продуктов содержат аминокислоты, однако мы рекомендуем спирулину и хлореллу – два самых полезнейших продукта, которые являются лидерами по содержанию аминокислот, о них необходимо знать каждому человеку.
      p Спирулина и хлорелла, по данным Всемирной организации здравоохранения, являются самыми полезными и питательными на нашей планете. Эти водоросли существуют на Земле уже более 4 млрд. лет. При этом клетки хлореллы стали основой для появления на нашей планете всех растений, а клетки спирулины образовали органические вещества, которые затем послужили едой для животного мира.
      p На основе многочисленных исследований ученых из разных стран было доказано, что спирулина и хлорелла – это мощнейшие питательные продукты в мире. Они являются источниками хлорофилла, который, в свою очередь, служит источником солнечной энергии. Попадая в наш организм, эта энергия побуждает к движению и вызывает желание активной деятельности. Повышенный уровень энергии позволяет ощутить позитивные изменения в нашем мироощущении, которые и являются залогом счастья!
      .article-page__highlight
        h3 Польза спирулины и хлореллы неоценима
        p Так, например, 1 грамм спирулины полностью удовлетворяет суточную потребность человека в аминокислотах. В 10 граммах спирулины содержится столько же белка, сколько в 1 килограмме говядины, поскольку спирулина содержит 70% высококонцентрированного белка
      p Синий пигмент фикоцианин – это единственное природное вещество, известное на данный момент, которое останавливает рост раковых клеток, и оно тоже в значительном количестве содержится именно в спирулине.
      p Спирулина также содержит огромное количество минералов и витаминов. К примеру, количество витамина А в спирулине превосходит его количество в сыре и сливочном масле в 400 раз! В спирулине в 1,5 тысячи раз больше этого витамина, чем в яйцах, и в 2,5 тысячи раз больше, чем в твороге, а молоко содержит в 10 тысяч раз меньше витамина А, чем спирулина.
      p Употребляйте спирулину и хлореллу каждый день, либо периодически обогащайте ими пищу на протяжении всей Вашей жизни!
      p Вы можете выбрать и любые другие продукты с высоким содержанием аминокислот, но в любом случае добавьте их в Ваш рацион!

      h2#nav-5
        | ШАГ ЧЕТВЕРТЫЙ. Откажитесь от еды, которая похищает у вас счастье.
        br
        | Избавьтесь от сахара
      p Если задать врачам вопрос, какой продукт является разрушителем счастья в нашей жизни, ответ многих опытных врачей будет однозначным — сахар. Он является главным врагом нашего организма, главным разрушителем здоровья. Вызывая привыкание, сахар наносит по мозгу удар. Депрессия, тревожность, вялость как раз являются следствием употребления сахара в пищу — он сродни наркотику. Сахар медленно убивает организм изнутри — загущая кровь и лимфу, и закисляя внутренние среды организма. В следствии чего все естественные процессы в организме нарушаются, замедляется метаболизм, ухудшается гормональный фон, снижается иммунитет и т.д.
      p Не пытайтесь заменить сахар синтетическими аналогами. Как показали исследования специалистов, такие заменители ничем не лучше, они также вызывают негативные последствия.
      p Употребляйте сахар в естественном виде, например: фрукты, сухофрукты, мед.
      p Такой сахар лучше перерабатывается и не вызывает побочных эффектов. Порадуйте свой организм, исключите сахар из рациона, и вы заметите, что стали меньше зависимы от еды, а энергии и активности у вас стало гораздо больше.

      h2#nav-6 ШАГ ПЯТЫЙ. Исключите дрожжи из своего рациона
      p В старину хлеб был по-настоящему ценным и полезным продуктом. Его пекли без дрожжей, используя закваски из овса, пшеницы, ячменя. Такие закваски приносили организму огромную пользу, насыщая его витаминами, минералами и кислотами, а кровь — кислородом. Русский хлеб содержал ферменты, пектин и клетчатку. Что важно, хлеб не просто пекли, его создавали с большим почтением и любовью. У каждой семьи были свои секреты выпекания вкусного хлеба.
      p А вот хлеб, который продается сегодня, это нечто другое. Его выпекают при помощи термофильных дрожжей. Если говорить просто, то термофильные дрожжи — это дрожжи, которые не погибают даже при температуре 500 градусов. Ни один организм не способен переварить их. Данные вещества распространяются по всему телу с большой скоростью, вырабатывая яд, который отравляет вас изнутри. Термофильные дрожжи являются врагом внутренней полезной микрофлоры. Из-за них выработка аминокислот организмом значительно сокращается.
      h3 Опасность термофильных дрожжей
      p Боли в желудке, песок в почках, постепенное расстройство всех органов ЖКТ, снижение иммунитета — это то, к чему приводит употребление хлеба, который был выпечен с применением этих дрожжей. Принимая в пищу хлеб, который сделан из термофильных дрожжей, вы медленно себя убиваете. Эти дрожжи вымывают из организма кальций, магний, железо. Например, нехватка кальция становится причиной появления остеопороза. А еще дрожжевая закваска способствует росту злокачественных опухолей.
      p Французский ученый Этьен Вольф провел один интересный эксперимент. Он разделил раковую опухоль на две части и поместил одну из них в физраствор, а другую покрыл слоем термофильных дрожжей. Так вот, та часть, которая находилась в емкости с дрожжами, за неделю увеличилась в размерах в два раза, в то время как другая погибла. Откажитесь от этих дрожжей, чтобы избавить себя от страшных последствий.

      h2#nav-7
        | ШАГ ШЕСТОЙ. ПИТАЙТЕСЬ «ПРАВИЛЬНЫМИ» УГЛЕВОДАМИ
        br
        | Сделайте выбор в пользу натуральных и полезных продуктов
      p Цельные – вот основополагающее слово по отношению к углеводам. Злаки, которые прошли процесс обработки, то есть простые углеводы, к примеру, хлебные, макаронные или кондитерские изделия из белой муки, обработанный белый рис и другие подобные продукты в процессе пищеварения очень быстро усваиваются организмом, повышая содержание сахара в крови. Тем самым выключается гликемический сигнал тревоги, впоследствии чего уровень сахара в крови снижается. Энергии в организме становится меньше, чувство голода появляется снова, и, соответственно, меняется ваше настроение.
      p Получается, что чем больше вы едите простых углеводов, тем больше чувствуете себя голодными. Как результат, возникает апатия и раздражение, плюс ко всему откладывается жир на боках и внутренних органах.
      p Употребляя цельные злаки (сложные углеводы), такие, как неочищенный рис, пшено, гречка, полба, киноа, и питаясь хлебом из цельнозерновой муки, вы будете чувствовать себя сытыми гораздо дольше, что естественным образом положительно скажется на вашей фигуре, здоровье, настроении и уровне счастья.
      h3 Питайтесь свежими и цельными продуктами, они принесут вам счастье
      p Чтобы быть здоровыми и счастливыми, питайтесь органикой. Покупайте хорошие, свежие, цельные продукты. Именно они дают нашему мозгу сырье, которое ежедневно производит «соки счастья» в нужном для организма объеме. Если этих продуктов нет в рационе, наша биохимия дает сбой. В результате чего повышается содержание сахара в крови, истощаются надпочечники, возникает нехватка важных гормонов, способных подавлять стресс.
      p В то же время, если вы питаетесь цельными продуктами, вы становитесь ближе к природе.
      p Исключите из своего рациона «фальшивую» еду. Это еда, которая содержится в банках, коробках. Все, что находится внутри них, из-за многократной переработки и синтетической упаковки мало похоже на первоисточник и очень далеко от природы.
      p Покупайте в магазинах рыбу, молочные продукты, овощи и фрукты, продукты, содержащие цельные зерна, а также мясо и птицу первой свежести, не содержащие гормоны и антибиотики. Да, конечно, эти продукты будут стоить несколько дороже, но крепкое здоровье и экономия на походах к врачам обязательно позволят вам компенсировать эти деньги. Просто начните менять свой рацион, и вы поймете, это лучшее, что вы можете для себя сделать.

      h2#nav-8 ШАГ СЕДЬМОЙ. Исключите из питания трансгенные жиры
      p Натуральные растительные жиры являются ненасыщенными, они не содержат плохого холестерина, который негативно влияет на сосуды и сердце. При хранении растительных масел нужно соблюдать ряд условий, так как они окисляются достаточно быстро, а приготовленные из них продукты быстро портятся. К таким продуктам относятся кондитерские изделия и выпечка. Производителям все это, конечно же, невыгодно. Ученые в поисках решения этой задачи решили «улучшить» растительные масла искусственным химическим путем. Так появились трансгенные жиры, и маргарин является самым известным примером.
      .article-page__highlight
        p Трансгенные жиры есть в кондитерских изделиях, выпечке, плавленом сыре, майонезе, кетчупе, фаст-фуде и рафинированном масле. Обратите внимание, если в вашем рационе такие жиры есть, значит, вы мало заботитесь о своем здоровье.
      p Попадая внутрь вашего организма, трансгенные жиры засоряют кровеносные сосуды и органы, оседая в виде шлаков. Происходит так потому, что переварить эти жиры организм просто не в состоянии. Прием трансгенных жиров приводит к таким последствиям как снижение защитных сил организма, появлению диабета, ожирению, атеросклерозу, сердечным приступам, инсультам и другим заболеваниям.
      p Еще в 2009 году Всемирная организация здравоохранения рекомендовала полностью исключить продукты с трансгенными жирами из своего рациона.
      p Для того чтобы избавиться от вредного влияния этих жиров, необходимо обязательно прекратить их употребление как минимум на два года, поскольку известно, что трансгенные жиры имеют не только токсичный, но и накопительный эффект.
      p Если вы хотите сохранить здоровье и красоту, откажитесь от употребления вредной еды, и результат не замедлит себя ждать!

      h2#nav-9 ШАГ ВОСЬМОЙ. Откажитесь от кофеина
      p Когда организму не хватает энергии, многие из нас тянутся к чашке кофе или безалкогольным энергетическим напиткам. Кофеин, который в них содержится, препятствует выработке такого химического вещества мозга как аденозин, что способствует большому выбросу адреналина в кровь. Таким образом, поступивший в организм кофеин действительно вызывает возбуждение и подъем сил, позволяя вам чувствовать себя гораздо более активным и целеустремленным, но длится это не более часа, затем тонус организма сильно снижается.
      .article-page__highlight
        p Для того чтобы восстановить силы, возьмите за правило пить чаи и сборы из трав. Зачем? Кроме приятного вкуса и аромата вы ощутите массу положительных эффектов, влияющих на ваш организм. Лекарственные травы заряжают энергией, обогащают рацион человека витаминами, полезными эфирными маслами, дубильными веществами. Чаи на их основе укрепляют иммунную систему и избавляют от хронических болезней.
      p Травяной сбор можно купить в аптеке или специализированном магазине. В отличие от привычного чая, настой на травах обладает множеством достоинств:
      ul
        li он абсолютно безопасен для организма, в том числе детского;
        li не имеет побочных действий;
        li лишен ароматизаторов, красителей;
        li имеет низкое или нулевое содержание кофеина;
        li содержит большое количество витаминов и микроэлементов;
        li обладает тонизирующими, либо успокаивающими свойствами;
        li повышает иммунитет.
      p Прежде чем начать принимать настой из трав, изучите, как он будет действовать на самочувствие. Чай из одних трав помогает проснуться, другой, наоборот, успокоит нервную систему после трудного дня, третий предназначен для активизации иммунной системы и укрепления здоровья.
      p Травяные чаи очень богаты полезными витаминами и микроэлементами. Они повышают работоспособность, дарят тонус и прилив сил, активируют защитные функции организма. Если в травяной чай добавить лекарственные травы, напиток поможет быстрее пойти на поправку во время обострения хронических заболеваний.
      p Все новое – давно забытое старое. Наши предки любили и очень ценили травяные чаи. И не только за вкус и аромат, но и за то, что они дарят людям свои целебные свойства. После многолетнего забвения травяные чаи обрели невероятную популярность. Все чаще люди, которым небезразлично собственное здоровье, полностью отказываются от привычного чая или кофе и переходят на чаи из трав. Этот выбор легко объясним.
      p В привычном чае или кофе содержится много кофеина, который чрезмерно стимулирует нервную систему человека, о чем упоминалось ранее. Совсем иначе обстоят дела с травяными чаями, столь любимыми нашими бабушками. Эти чаи – «родные» на уровне генетики. Они очень полезны для здоровья, а их разнообразная вкусовая гамма угодит даже самому искушенному гурману.

      h2#nav-10 ШАГ ДЕВЯТЫЙ. Научитесь ценить сон
      p Сон – это важнейшая часть нашей жизни, во время которой происходит самовосстановление всего организма. Утром после хорошего сна появляется легкость, наполненность энергией и желание творить, но, к сожалению, эти ощущения знакомы не всем.
      p Сравните внешний вид двух людей – выспавшегося и не очень. Легко заметить, что первый выглядит свежо, бодро, у него хорошее настроение. Со вторым все гораздо хуже – он вялый, раздражительный, имеет нездоровый вид. Получается, что одним из главных шагов на пути к здоровью и счастью является правильный сон, который обеспечивает не только подзарядку энергией, но и повышает защитные силы организма.
      p
        b Что значит правильный сон? В этом мы разберемся чуть ниже.
      p Дело в так называемых биоритмах, которым подвержен любой живой организм на планете. Биоритмы согласуются с солнечной активностью. Каждое мгновение нашей жизни мы соприкасаемся с солнечным движением, значимостью и влиянием времени. Энергия макрокосмоса, ритмы вселенной неразрывно и основательно взаимосвязаны с тончайшей энергией человеческого организма. Организм непрерывно осуществляет определенные жизненно важные действия, которые напрямую зависят от того, в какой фазе в данный момент находится солнце, т. е. от его движения. Огромнейшая точность работы всей данной системы доказана и очевидна. Мы никак не можем повлиять на ход времени и солнечную активность. Поэтому ежедневно в полночь организм человека должен находиться в состоянии максимального покоя и сна. Так как именно в это время солнце расположено в самой нижней точке относительно земли.
      .article-page__highlight
        p Ученые доказали, что примерно с 22-00 до 24-00 в организме человека начинается активная и основная выработка мелатонина – гормона, продевающего молодость и закладывающего основу долголетия. Интересно, что мелатонин не способен накапливаться в организме, поэтому нельзя выспаться наперед или наверстать упущенные часы сна.
      p А знаете ли вы, что если лечь спать не вовремя, то даже за 10 часов сна вы не сможете выспаться так, как за 6 часов правильного сна? Чем грозит человеку нарушение биоритмов? Ответ однозначен – недостаточным выделением гормона мелатонина, что влечет за собой раннее старение за счет быстрого выделения свободных радикалов, гормональным дисбалансом, появлением проблем с весом, ослаблением иммунитета, психологической устойчивости, работоспособности и прочих нарушений, вплоть до риска возникновения онкологии.
      p Как бы у вас не сложились обстоятельства, но именно с 22:00 до 04:00 часов утра вы должны обязательно спать – никаким отдыхом в любое другое время вам не заменить здоровый сон в эти часы. Поэтому старайтесь всегда лечь спать пораньше!
      p Доктор Девид Агус, который лечил от онкологии основателя компании Apple Стива Джобса, утверждал, что одной из ключевых гарантий здоровья является ранний отход ко сну. Это и стало одним из основных показаний при лечении. Напомним, что Стив Джобс сумел прожить со сложнейшей формой рака целых семь лет, обычно люди с аналогичным диагнозом крайне редко проживают более года.
      p Исследователи указали, в какой период сна происходят те или иные положительные явления. С 22:00 до 00:00 – происходит омоложение организма. С 00:00 до 04:00 – организм очищается от токсинов.
      p Согласно древнейшей целительной системе Аюрведа, 1 час сна до 24:00 стоит 2 часов сна после. Тем, кто хочет почувствовать себя более здоровым, веселым, работоспособным и жалуется на недостаток счастья, мудрецы советуют попробовать ложиться спать до 22:00 в течение нескольких дней, а затем сравнить свои ощущения с прежними. Вы откроете для себя новый мир, в котором краски будут казаться ярче, звуки чище, стрессы перестанут выбивать из колеи, а хорошее настроение будет сопровождать вас до самого вечера.
      .article-page__highlight
        b Но важно не только раньше ложиться спать, также важен ранний подъем вместе с солнцем. Доказано, что солнечное влияние на организм человека начинается именно с 6 часов утра.
      p Даже если мы не видим с рассветом солнце на горизонте, оно уже находится в определенном положении и начинает проявлять свое воздействие на землю и каждого из нас. Поэтому, например, с наступлением зимнего периода, солнце встает гораздо позже, но это не означает, что людям нужно больше спать.
      p У природы есть такая особенность: до 6 часов утра она спокойна и пребывает в умиротворенном состоянии, а сразу после 6 часов происходит ее пробуждение – появляется легкий ветерок и природа словно взбадривается. Те люди, которые рано встают, замечают это. Данное явление возникает каждый день, строго в одно и то же время, независимо от времени года.
      .article-page__highlight
        b В утренние часы на заре наша Земля окутана атмосферой оптимизма, поэтому все певчие птицы, чувствуя эту благодать, начинают прекрасно петь на разные мотивы.
      p Если человек будет просыпаться раньше, чем наша земля, раньше 6 часов утра, то он психологически будет успевать зарядиться ее настроем. Таких людей можно назвать настоящими оптимистами, они радуются предстоящему дню и эта радость естественная, натуральная и солнечная, чего не скажешь о тех, кто встает после 6 утра. Когда человек встает до восхода солнца, его организм подстраивается под предстоящие электромагнитные изменения земли, и тогда он не подвергается воздействию магнитных бурь и других энергетических процессов.
      p Согласно исследованиям японских ученых, перед восходом солнца в организме человека активируется умственная деятельность, все органы и системы настраиваются на быструю саморегуляцию и восстановление, вплоть до полного изменения химического состава крови. Интересен и тот факт, что большинство японцев начинают свой день в пять утра. По праву, Японию называют Страной Восходящего Солнца, так как люди, живущие в этой стране, послушны его движению. Видимо поэтому японцы опережают большинство стран по развитию новых интеллектуальных технологий и отличаются самой высокой продолжительностью жизни на планете.
      p Только правильный сон придаст вам энергии и здоровья, чтобы справиться со множеством каждодневных дел, успешно решать задачи на работе, заботиться о родных и близких, заниматься дополнительным любимым делом, путешествовать и быть счастливым.
      p Поделитесь с окружающими достигнутыми позитивными изменениями в состоянии вашего организма благодаря качественному своевременному сну и посоветуйте им следовать вашему примеру. Мы уверенны, они вам будут за это только благодарны. Сделайте так, чтобы сон стал вашей важнейшей жизненной ценностью, и это обязательно скажется на вашем здоровье и уровне счастья!

      h2#nav-11 ШАГ ДЕСЯТЫЙ. Наведите порядок в своем теле
      p В современном мире у большинства людей тело переполнено токсинами и страдает от паразитов, которые мешают их здоровью и счастью. Если вы внимательно относитесь к своему здоровью и любите себя, то самое оптимальное, что вам необходимо предпринять – это навести порядок в своем теле.
      p Наш организм, как и все живое, состоит из клеток. Клетка – это элементарная единица строения нашего организма и основа его жизнедеятельности. Если провести хорошую «уборку» всего организма, это станет огромным благом для его клеток. Очищение организма – вот кратчайший путь к счастью ваших клеток.
      h3 3 ступени к чистому телу
      ol
        li Самая важная часть — это очищение кишечника (фундамент). За годы жизни в нём скапливается множество «мусора», что провоцирует серьёзные болезни, преждевременное старение и отравление организма. Длина всей пищеварительной системы составляет 9 метров, в которых нередко образуются камни — безоары. Есть случаи, когда у людей выходили камни общим весом 10, 20, а иногда и 25 кг. Ношение такой ноши не только нарушает метаболизм, но и способствует появлению гнилостной микрофлоры, от которой количество шлаков и токсинов с годами лишь увеличивается. Чтобы не копить в себе ненужный груз, врачи рекомендуют проводить очищение кишечника 1 раз в несколько лет. Существует много методик чистки, таких как, приём специальных очистительных комплексов и процедур, частичный или полный отказ от пищи и т.д. Каждый человек должен выбрать для себя подходящую чистку в зависимости от возможностей и лучше проконсультироваться с врачом, чтобы не навредить себе.
        li Противопаразитарные программы — следующая ступень (медиана). Её рекомендуется проходить каждому человеку хотя бы 1 раз в год, однако Всемирная организация здравоохранения более настойчива — для поддержания высокого качества жизни лучше проводить чистку дважды. Откуда же такие рекомендации? При разработке пожеланий ВОЗ учитывает угрожающую статистику: около 80 % болезней вызываются именно паразитами — грибками, вирусами, микробами и т.п. Пока иммунитет с ними успешно справляется, то человек чувствует себя замечательно. Но у всего есть свой ресурс, поэтому лучше не перегружать защитные силы и делать чистку дважды в год — тогда удастся продлить молодость и тела, и души. Существуют разные противопаразитарные программы. Более знакомые и безопасные — это чистка травами: цветками пижмы, полынью, чистотелом, мятой, имбирем, гвоздикой, фенхелем, корнем аира, тройчаткой и т.д. Фитотерапия издавна использовалась нашими предками, а ещё она понравится тем, кто предпочитает более естественные программы очищения и не хочет пить таблетки.
        li Пробиотики и пребиотики — вершина очищающего пути. Заполнение полезными бактериями — важный этап комплексного оздоровления, и его нужно повторять на протяжении всей жизни 2 раза в год. Почему так часто? Чтобы жить дольше и лучше! Британцы провели тест на двух группах мышей — одним давали полезные бактерии, а другим нет. Итог их потряс — получатели про- и пребиотиков прожили на 25 % дольше, а также они почти не страдали от старческих заболеваний. Влияние на человека аналогично, поэтому невозможно достичь долголетия без восхождения на эту вершину.
      p Что же мы получим в итоге? Легкость в теле, колоссальный заряд бодрости и много сил, чтобы свершить всё задуманное. Да, чистка потребует немного выдержки, стойкости и воли, однако конечный результат станет лучшей наградой за проявленные усилия.
      h3 Для продвинутых зожников
      p Хаос в голове — хаос и в теле. Слышали о таком? Если вы уже давно увлекаетесь методиками оздоровления, то знаете о влиянии мыслей на тело. Неслучайно в восточной медицине придают каждому нашему органу определенные функции ответственности за конкретные эмоции.Какова связь органов и негативных чувств:
      ul
        li печень — за гнев,
        li почки — за страх,
        li сердце — подавленные эмоции,
        li желудок — самоедство,
        li легкие — печаль.
      p Очищение лечебными травами, детоксикационные противопаразитарные программы — это популярные способы, помогающие избавиться от накопившихся токсинов и перестроить эмоциональный фон.
      p Для каждого отдельного человеческого органа существует своя индивидуальная методика очистки. Более детально о них можно узнать в специальных пособиях, а мы лишь даём пламенное напутствие. Хотя новичкам рекомендуется проводить чистку 1–2 раза в год, но продвинутые зожники всегда стремятся выйти на новый уровень. Вот почему им лучше проводить детокс ежесезонно, то есть в начале каждого времени года.
      .article-page__highlight
        h3 ОБРАТИТЕ ВНИМАНИЕ
        p Перед тем как заняться очищением своего организма, обязательно спросите совета у врача. Это нужно для того, чтобы ваш организм получил не вред, а пользу.

      h2#nav-12 ШАГ ОДИННАДЦАТЫЙ. Добавьте в жизнь движение
      p Давно доказано, что регулярное занятие физическими упражнениями делает людей более счастливыми. Вы также можете пополнить их ряды, занимаясь на выбор тем, что вам больше всего нравится, например, танцами, йогой, бегом или, для начала, простой ходьбой.
      p Регулярное выполнение физических упражнений позволит вам поменять в лучшую сторону не только фигуру, но и настроение. Дело в том, что во время таких занятий мозг начнет употреблять больше кислорода, тело будет вырабатывать ценные гормоны и определенные химические вещества, вследствие чего энергетический потенциал организма увеличится, что положительно повлияет на ваше здоровье и настроение.
      p В процессе изучения людей, которые занимаются спортом, ученый из Гарвардского университета Джон Рейти установил, что после выполнения физических упражнений в организме людей повышается уровень серотонина, норадреналина и допамина. Это гормоны, отвечающие за наше прекрасное настроение и счастье. Более того, сотни научных изысканий доказали, что при лечении депрессии физические упражнения в такой же мере эффективны, как и лекарства.
      p Умеренная физическая нагрузка уменьшает или вовсе предотвращает чувство тревожности и такой эффект после их выполнения длится еще не менее четырех часов. Человеку после тренировки вряд ли захочется с кем-либо спорить и ссориться.
      p Если вы добавите движение в свою жизнь, то заметите, что чаще стали ощущать душевный подъем. Это связано с тем, что при двигательной активности повышается уровень эндорфинов, соединений, отвечающих за блаженство. Недаром само слово «эндорфин» в переводе с греческого языка обозначает «внутреннее наслаждение».
      p Ученый Колумбийского университета Генри Лойдж, являющийся соавтором книги «Моложе с каждым годом», изучил влияние упражнений на организм человека и сумел объяснить, каким образом движение влияет на наши клетки. Во время выполнения упражнений мышцы человека выделяют химические вещества, которые настраивают клетки на интенсивный рост. Таким образом, человек, который занимается физическими упражнениями, ежедневно восстанавливает один процент клеток. При этом через три месяца происходит полное восстановление клеток в организме.
      p В то же время, когда человек сидит без движения, клетки его организма настроены на умирание. Но мы же не хотим умереть – мы хотим жить! А желание жить дольше и быть здоровым — это мощный стимул для того, чтобы начать заниматься физическими упражнениями.
      p Уже через несколько месяцев с того момента, как вы начнете в свое удовольствие заниматься физическими упражнениями, у вас будет новое тело, состоящее из здоровых и сильных клеток, что привнесет счастье и гармонию всему вашему организму!

      h2#nav-13 ШАГ ДВЕНАДЦАТЫЙ. ДОБРО ПОЖАЛОВАТЬ В СЧАСТЛИВУЮ ЖИЗНЬ!
      p Мы с вами подошли к последнему, и, пожалуй, самому важному шагу.
      p Хотите ли вы жить счастливо? Конечно, хотите! Как вы думаете, без чего не может быть счастья и здоровья? Их не может быть без правильных мыслей.
      p Связь нашего сознания и подсознания неоспорима. Большая часть того, что с нами происходит, предопределено нами же. Жизнь снова и снова доказывает – мысль материальна, а счастливые мысли обязательно воплощаются в счастливую жизнь.
      p Вы можете получить счастье сразу, как только захотите. Поверьте, это проще, чем вы раньше думали! Секрет счастья прост. Он заключается в том, что рождается счастье из наших мыслей и наших эмоций.
      p Это очень важно – излучать счастье. Думайте о хорошем, думайте о приятном, мысленно представляйте, как вы счастливы прямо здесь и сейчас. Почувствуйте счастье, ощутите его! Если вы будете мыслить именно таким образом, ваши хорошие мысли будут притягивать к вам хороших людей и хорошие обстоятельства.
      .article-page__highlight
        p Генерируя счастье во внешнее пространство, ваша энергетика становится лучше, и в вашей жизни наступают прекрасные времена. Именно так, меняя свой взгляд на жизнь, вы меняете саму жизнь!
      p Если же вам что-то не нравится в вашей жизни, постарайтесь не думать об этом. Думая и размышляя о чем-то плохом, это плохое с вами и происходит.
      p Начните менять свое мышление, свой образ мыслей и вы даже сами не заметите, как то, что вам не нравилось в вашей жизни ушло в прошлое. Если вас раздражает что-то в близком человеке, думайте не о том, какой он плохой, сконцентрируйтесь на тех качествах, за которые вы его любите.
      p Если вы будете видеть свет, вокруг вас будет свет, и для тьмы не останется места. Это правило действительно работает!
      p Измените свое мышление. Все счастливые люди мыслят как счастливые люди, запомните это!
      p Не ищите счастья во внешних вещах, ищите счастье внутри себя! Если счастье будет внутри вас, то и жизнь будет прекрасной!
      p Нравьтесь себе, любите себя! Речь не идет об эгоцентризме, просто уважайте, принимайте и любите себя таким, какой вы есть. Если вы полюбите себя, то и Мир вас полюбит!
      .article-page__highlight
        p А если вы находите в себе что-то такое, что вам не нравится – полюбите и это, а затем измените! Помните, вы никогда не избавитесь от того, чему сопротивляетесь.
      p Будьте разборчивы в отношении своих мыслей, чаще всего вы становитесь именно тем, что о себе думаете. Измените свое мышление, начните понимать, как в действительности хороши все вещи, и вы будете радоваться всему, что вас окружает.
      p Привносите в любой вид деятельности любовь. Научитесь с любовью заниматься каждодневными делами: привычными и новыми, скучными и доставляющими удовольствие. Измените свое представление обо всем. Вы можете смотреть на одну и ту же вещь и видеть вместо печальной картины счастливую. Именно этим и занимаются все счастливые люди!
      p Мать Тереза, осознавая важнейшую роль нашего отношения к тому, что нас окружает, говорила о том, что любовь способна озарить счастьем Мир вокруг нас, а отсутствие любви может погрузить во мрак.
      p
        | Вдумайтесь в ее слова, цитируемые до сих пор:
        |
        b «Важно не то, сколько вы делаете, а то, сколько любви вы вкладываете в то, что делаете и чем вы делитесь. Попробуйте не судить других. Если вы судите других, вы не дарите им свою любовь…»
      p Красота, счастье, здоровье – это то, что у вас уже есть в данный момент. Просто верьте в это, и ваша уверенность станет реальностью!
      p Для того чтобы научиться получать позитив, увеличить свой энергетический потенциал, изменить мышление, эмоции, повысить уровень счастья и обрести гармонию, включите в свою жизнь медитацию.
      h3 Сила медитации
      p Медитация – это самый быстрый и прямой путь к счастью. С помощью медитации вы научитесь не только умению расслабляться и получать приятные ощущения. Вы сможете контролировать свои эмоции, понижать уровень тревожности, предотвращать стресс, или минимизировать его последствия. Но все же самая большая ценность медитации заключается в ее комплексном положительном воздействии на жизнь человека.
      p Медитация приносит огромную пользу телу, разуму и духу, что доказано большим количеством исследований, проведенных учеными за последние сорок лет. Впервые о медитации заговорили в семидесятых годах прошлого столетия, и первые же опыты, которые провел американский физиолог Роберт Кейт Уоллес, доказали, что во время упражнений в организме человека происходят позитивные перемены, оказывающие психологическую и физическую пользу, включая улучшение работы иммунной системы и нормализацию давления.
      p То, что медитация – путь к более осознанной и полноценной жизни, подтверждают и более современные научные изыскания: энцефалограмма медитирующих людей показывает, что во время сеанса медитации оказываются наиболее активными те участки головного мозга, которые отвечают за счастье, эмпатию и другие позитивные эмоции. Это еще раз доказывает, что медитация – самый короткий путь к счастью.
      p На сегодняшний день медитация признана во многих странах мира одной из лучших форм борьбы со стрессами. Попробуйте, используйте медитацию, вы ощутите колоссальный эффект, и она поможет вам обрести гармонию.
      .article-page__highlight
        p Радует то, что вам не нужно медитировать месяцами или годами, для того чтобы понять как это работает и получить прекрасный результат. Медитируйте по 15-30 минут в день, и вы заметите, как с каждым днем становитесь спокойнее и счастливее. А занимаясь медитацией ежедневно по 15-30 минут в течение трех месяцев, вы получите отличнейший результат. Этого будет вполне достаточно, для того, чтобы вы почувствовали значительные психологические и физиологические изменения, ощутили прилив сил, здоровья и счастья и до конца осознали необходимость и неоценимую пользу медитации.
      p В представленном видеоролике показана доступная техника выполнения медитативного упражнения. Если все делать правильно, вы сможете сразу ощутить благотворный эффект от медитации.

block script
