extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'anti-cellulite-massage.html',
      title: `Антицеллюлитный массаж, Москва - положительные отзывы, видимый эффект`,
      description: `Массаж от целлюлита - антицеллюлитный массаж в Москве, отличная цена от профессионального массажиста
        с медицинской лицензией`,
      keywords: `антицеллюлитный, массаж, услуга, описание, от целлюлита, Москва, цена`,
      canonical: 'http://expert-massage-clinic.ru/anti-cellulite-massage.html',
      pageClass: 'anti-cellulite-massage-page',
      theme: '9',
      mainScreenHeading: 'Антицеллюлитный массаж',
      mainScreenSubheading: `Избавляет от&nbsp;целлюлита, разглаживает кожу. Подтягивает ягодицы, уменьшает «ушки»
        и&nbsp;бока`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='/about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='/reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;антицеллюлитного массажа',
        features: [
          {
            title: 'Целлюлит пропадёт совсем или&nbsp;сильно уменьшится',
            text: `Если ваш целлюлит не&nbsp;достиг последних стадий, после курса вы полностью о&nbsp;нём забудете.
              Но&nbsp;даже если у&nbsp;вас 4&nbsp;стадия целлюлита, кожа подтянется и&nbsp;будет выглядеть хорошо`
          },
          {
            title: 'Подтянутся именно те места, которые вам не&nbsp;нравятся',
            text: `Укрепится внутренняя и&nbsp;внешняя сторона бедра, целлюлит разгладится сзади и&nbsp;не&nbsp;будет
              виден, когда вы кладёте ногу на&nbsp;ногу. Сгладятся недостатки фигуры, уйдут «ушки»`
          },
          {
            title: 'Вы будете нравиться себе в&nbsp;купальнике и&nbsp;белье',
            text: `Изменения после курса очень заметные, вам захочется носить короткие платья и&nbsp;покупать красивое
              бельё. Вы будете чувствовать себя лучше, и&nbsp;больше наслаждаться жизнью`
          }
        ]
      }
    }

block content
  include ../includes/modules/content/features-list

block script
