extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'anti-cellulite-massage.html',
      title: `Антицеллюлитный массаж, Москва - положительные отзывы, видимый эффект`,
      description: `Массаж от целлюлита - антицеллюлитный массаж в Москве, отличная цена от профессионального массажиста
        с медицинской лицензией`,
      keywords: `антицеллюлитный, массаж, услуга, описание, от целлюлита, Москва, цена`,
      canonical: 'http://expert-massage-clinic.ru/anti-cellulite-massage.html',
      pageClass: 'anti-cellulite-massage-page',
      theme: '9',
      massage: globalData.massages['anti-cellulite-massage'],
      mainScreenHeading: 'Антицеллюлитный массаж',
      mainScreenSubheading: `Избавляет от&nbsp;целлюлита, разглаживает кожу. Подтягивает ягодицы, уменьшает «ушки»
        и&nbsp;бока`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      aboutMassage: [
        {
          title: 'Какой будет эффект? Целлюлит пропадёт полностью?',
          text: [
            'Эффект очень заметный, кожа становится упругой, разглаживается, уменьшаются объёмы, фигура становится красивее. Если ваш целлюлит не очень сильно выражен, он пропадёт совсем.',
            'Но даже если у вас целлюлит последней стадии, за курс мы уменьшим его в разы, вы сможете носить короткие платья и не переживать за качество кожи.',
            'На процедуре мы расскажем вам, что делать, чтобы усилить эффект. Но даже без соблюдения рекомендаций после курса вы не узнаете свою кожу. '
          ]
        },
        {
          title: 'Это очень больно? Будут синяки?',
          text: [
            'Мы нашли способ сохранить мощный эффект и уменьшить чувствитель&shy;ность процедуры. Почти все наши клиенты, которые делали антицел&shy;люлитный массаж в других центрах, говорили, что ощущали сильную боль, но наша процедура была гораздо приятнее ожидаемого&nbsp;:)',
            'Однако техника воздействия довольно глубокая, массажист тщательно и активно прорабатывает ткани, разминает жировые отложения, и местами может быть слегка чувстви&shy;тельно. Но не больно, обещаем.',
            'Синяки появляются очень редко, только в случае слабых сосудов. Даже если они появятся, то будут незначительными и пройдут уже к следующему сеансу. '
          ]
        },
        {
          title: 'Поможет ли антицеллюлитный массаж похудеть?',
          text: [
            'В первую очередь антицеллюлитный массаж направлен на качество кожи, на её подтягивание и укрепление. Конечно, фигура станет лучше, контуры изменятся, рыхлая кожа подтянется и вы будете выглядеть стройнее.',
            `Но этот эффект будет заметнее, если у вас не очень много лишнего веса. Если вы хотите похудеть значитель&shy;но, уменьшить объёмы и лишний вес, будет лучше сделать процедуру, направленную и на похудение, и на уменьшение целлюлита — <a class='link link_primary' href='figure-modeling.html'>ручное моделирование фигуры</a>.`
          ]
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;антицеллюлитного массажа',
        features: [
          {
            title: 'Целлюлит пропадёт совсем или&nbsp;сильно уменьшится',
            text: `Если ваш целлюлит не&nbsp;достиг последних стадий, после курса вы полностью о&nbsp;нём забудете.
              Но&nbsp;даже если у&nbsp;вас 4&nbsp;стадия целлюлита, кожа подтянется и&nbsp;будет выглядеть хорошо`
          },
          {
            title: 'Подтянутся именно те места, которые вам не&nbsp;нравятся',
            text: `Укрепится внутренняя и&nbsp;внешняя сторона бедра, целлюлит разгладится сзади и&nbsp;не&nbsp;будет
              виден, когда вы кладёте ногу на&nbsp;ногу. Сгладятся недостатки фигуры, уйдут «ушки»`
          },
          {
            title: 'Вы будете нравиться себе в&nbsp;купальнике и&nbsp;белье',
            text: `Изменения после курса очень заметные, вам захочется носить короткие платья и&nbsp;покупать красивое
              бельё. Вы будете чувствовать себя лучше, и&nbsp;больше наслаждаться жизнью`
          }
        ]
      },
      massageResults: {
        title: 'Результаты антицеллюлитного массажа'
      },
      reviewsBlock: {
        title: 'Отзывы об&nbsp;антицеллюлитном массаже',
        reviews: [
          {
            id: 13,
            type: 'anti-cellulite',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 14,
            type: 'anti-cellulite',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 15,
            type: 'anti-cellulite',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 13,
            type: 'anti-cellulite',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 14,
            type: 'anti-cellulite',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 15,
            type: 'anti-cellulite',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      massageVideo: {
        id: 'q6TCTNKIU4M',
        poster: 'assets/img/massage-video/massage-video-poster_anticellulite.jpg',
        sticker: false
      },
      priceList: {
        showPromo: true
      }
    }

block content
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/price-list
  include ../includes/modules/footer/map-block

block script
