extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'body-lymphatic-drainage.html',
      title: `Лимфодренажный массаж тела в Москве. Отличная цена, медицинский подход`,
      description: `Массаж лимфодренажный в Москве, отличная цена, положительные отзывы. Лечебный лимфодренажный массаж
        от профессионального массажиста.`,
      keywords: `лимфодренажный, массаж, услуга, описание, цена, стоимость, Москва`,
      canonical: 'http://expert-massage-clinic.ru/body-lymphatic-drainage.html',
      pageClass: 'body-lymphatic-drainage-page',
      theme: '8',
      mainScreenHeading: 'Лимфодренажный массаж',
      mainScreenSubheading: `Избавляет от&nbsp;отёков на&nbsp;лице и&nbsp;теле, оздоравливает и&nbsp;улучшает внешность,
        возвращает лёгкость походки`,
      mainScreenFeatures: [
        {
          bigText: '2-10 кг',
          smallText: `теряют клиенты,<br>избавляясь от отёков`
        },
        {
          bigText: 'в 8 раз',
          smallText: `усиливается лимфоток<br>после процедуры`
        },
        {
          bigText: '500 мл',
          smallText: `межклеточной жидкости<br>в среднем уходит за сеанс`
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;лимфодренажного массажа',
        features: [
          {
            title: 'Пропадут мешки и&nbsp;синяки под&nbsp;глазами, уменьшатся морщины и&nbsp;воспаления',
            text: `За&nbsp;счёт разгона лимфы организм очищается от&nbsp;токсинов, и&nbsp;это сразу сказывается
              на&nbsp;коже. А&nbsp;мешки и&nbsp;отёки по&nbsp;утрам исчезнут почти моментально`
          },
          {
            title: 'Стимулируется выработка лимфоцитов, повышается иммунитет',
            text: `Вы будете меньше болеть, забудете про&nbsp;сезонный насморк от&nbsp;любого ветерка, будете гораздо
              легче противостоять любым вирусам`
          },
          {
            title: 'Значительное ускорение лимфотока, лучше работают все органы и&nbsp;системы',
            text: `Вы почувствуете лёгкость во&nbsp;всём организме, бодрость и&nbsp;энергию, избавитесь
              от&nbsp;хронической усталости, которая часто вызвана застоем лимфы`
          }
        ]
      }
    }

block content
  include ../includes/modules/content/features-list

block script
