extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'chiromassage.html',
      title: `Хиромассаж - Москва. Отличная цена, профессиональный подход`,
      description: `Хиромассаж - сочетание европейской техники и восточных приёмов для наилучшего эффекта для мышц и
      кожи лица. Москва - отличная цена и профессиональный подход`,
      keywords: `хиромассаж, массаж лица, Москва, услуга, описание, цена, стоимость`,
      canonical: 'http://expert-massage-clinic.ru/chiromassage.html',
      pageClass: 'chiromassage-page',
      theme: '5',
      massage: globalData.massages['chiromassage'],
      mainScreenHeading: 'Хиромассаж лица',
      mainScreenSubheading: `Омолаживает и&nbsp;подтягивает кожу, улучшает эмоциональное состояние, гармонизирует
        и&nbsp;расслабляет`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      aboutMassage: [
        {
          title: 'Что это за процедура?',
          text: [
            'Хиромассаж, или испанский массаж — это комбинация европейской техники массажа с восточными. Процедура может включать пассивную йогу, мануальную терапию, ритмическую акупрессуру и другие тех&shy;ники. Приёмов очень много, и мастер подберёт именно те, которые вам подойдут.',
            'Такая бережная, но тщательная проработка, подобранная специально для вашего лица, позволит снять зажимы и спазмы с каждой мышцы. Улучшится лимфоток, кожа насытится кислородом, морщинки станут менее заметными.',
            'При этом хиромассаж — одна из самых приятных и рассла&shy;бляющих процедур для лица, в её основе лежит принцип удовольствия на протяжении всего времени сеанса. '
          ]
        },
        {
          title: 'Какой будет результат?',
          text: [
            'Ваше лицо будет выглядеть свежим и здоровым, так как массажист проработает все зажимы и снимет усталость каждой лицевой мышцы.',
            'Кожа подтянется, станет упругой и эластичной. Улучшится кровоснабжение тканей, за счёт притока крови, кислорода и питательных веществ, увлажнятся глубокие слои кожи. Это позволит вернуть тургор кожи, уменьшить морщинки, снять отёки. Пропадут проявления купероза, лицо обретёт здоровый цвет и тонус.',
          ]
        },
        {
          title: 'Как массаж улучшает эмоциональное состояние?',
          text: [
            'Хиромассаж включает более 100 приёмов, подбираемых прямо во время процедуры. Некоторые из них не только омолаживают лицо и подтягивают ткани, но и снимают возбуждение с центральной нервной системы.',
            'Благодаря этому стабилизируется эмоциональный фон, а приятная и комфортная процедура убирает и сам стресс, и его внешние проявления.',
            'После процедуры наши клиенты отмечают, что весь организм как будто наполнился энергией.'
          ]
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;хиромассажа',
        features: [
          {
            title: 'Уменьшатся морщины, отёки, подтянется контур лица',
            text: `Хиромассаж эффективно борется с&nbsp;признаками старения и&nbsp;такими недостатками как&nbsp;второй подбородок, поплывший овал лица и&nbsp;отёки. Вы заметите результат после первого сеанса`
          },
          {
            title: 'Улучшится кожа, вы будете выглядеть моложе, свежее и&nbsp;здоровее',
            text: `Массаж улучшит кровообращение, запустит активное питание всех клеток, ваша кожа станет упругой, увлажнённой и&nbsp;будет словно светиться изнутри`
          },
          {
            title: 'У&nbsp;вас улучшится настроение, вы будете чувствовать гармонию',
            text: `Особые массажные техники снимают возбуждение с&nbsp;центральной нервной системы. Это улучшит настроение само по&nbsp;себе, а&nbsp;изменения в&nbsp;зеркале дадут вам дополнительный повод для&nbsp;радости`
          }
        ]
      },
      massageResults: {
        title: 'Результаты массажа лица'
      },
      reviewsBlock: {
        title: 'Отзывы о&nbsp;массаже лица',
        reviews: [
          {
            id: 22,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 23,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 24,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 22,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 23,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 24,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      massageVideo: {
        id: 'H9IRW0ffpWk',
        poster: 'assets/img/massage-video/massage-video-poster_face.jpg',
        sticker: false
      },
      priceList: {
        showPromo: true
      }
    }

block content
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/price-list
  include ../includes/modules/footer/map-block

block script
