extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'chiromassage.html',
      title: `Хиромассаж - Москва. Отличная цена, профессиональный подход`,
      description: `Хиромассаж - сочетание европейской техники и восточных приёмов для наилучшего эффекта для мышц и
      кожи лица. Москва - отличная цена и профессиональный подход`,
      keywords: `хиромассаж, массаж лица, Москва, услуга, описание, цена, стоимость`,
      canonical: 'http://expert-massage-clinic.ru/chiromassage.html',
      pageClass: 'chiromassage-page',
      theme: '5',
      mainScreenHeading: 'Хиромассаж лица',
      mainScreenSubheading: `Омолаживает и&nbsp;подтягивает кожу, улучшает эмоциональное состояние, гармонизирует
        и&nbsp;расслабляет`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='/about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='/reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;хиромассажа',
        features: [
          {
            title: 'Уменьшатся морщины, отёки, подтянется контур лица',
            text: `Хиромассаж эффективно борется с&nbsp;признаками старения и&nbsp;такими недостатками как&nbsp;второй подбородок, поплывший овал лица и&nbsp;отёки. Вы заметите результат после первого сеанса`
          },
          {
            title: 'Улучшится кожа, вы будете выглядеть моложе, свежее и&nbsp;здоровее',
            text: `Массаж улучшит кровообращение, запустит активное питание всех клеток, ваша кожа станет упругой, увлажнённой и&nbsp;будет словно светиться изнутри`
          },
          {
            title: 'У&nbsp;вас улучшится настроение, вы будете чувствовать гармонию',
            text: `Особые массажные техники снимают возбуждение с&nbsp;центральной нервной системы. Это улучшит настроение само по&nbsp;себе, а&nbsp;изменения в&nbsp;зеркале дадут вам дополнительный повод для&nbsp;радости`
          }
        ]
      }
    }

block content
  include ../includes/modules/content/features-list

block script
