extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'classic-facial-massage.html',
      title: `Классический массаж лица - Москва`,
      description: `Классический массаж лица, Москва - ${globalData.company.businessDuration} лет успешной работы!
        Профессиональная методика, лучшие цены`,
      keywords: `классический массаж лица, Москва, услуга, описание, цена, стоимость`,
      canonical: 'http://expert-massage-clinic.ru/classic-facial-massage.html',
      pageClass: 'classic-facial-massage-page',
      theme: '2',
      massage: globalData.massages['classic-facial-massage'],
      mainScreenHeading: 'Классический массаж лица',
      mainScreenSubheading: `Снимает спазмы и&nbsp;усталость мышц, улучшает цвет и&nbsp;тонус лица`,
      mainScreenFeatures: globalData.company.features,
      aboutMassage: [
        {
          title: 'Что это за процедура?',
          text: [
            'Классический массаж лица – одна из самых мягких методик масса&shy;жа. В этой бережной и спокойной технике используются только плавные, скользящие движения, строго по массажным линиям и с минимальным давлением.',
            'Несмотря на мягкость этой процедуры, она отлично рас&shy;слабляет мышцы лица, улучшает тонус кожи, и воз&shy;вращает здоровый цвет лица.'
          ]
        },
        {
          title: 'Какой будет результат?',
          text: [
            'Массажист снимет с мышц спазм и усталость, и это сразу отразится на качестве кожи. Уменьшится выраженность морщин, возрастные недос&shy;татки станут менее заметны.',
            'Благодаря притоку крови, улучшится цвет лица, клетки насытятся кисло&shy;родом, кожа станет более упругой. Однако, достичь сильного лифтинг-эффекта с помощью классичес&shy;кой техники, довольно трудно.'
          ]
        },
        {
          title: 'Правда ли, что классический массаж не очень эффективен?',
          text: [
            `Это зависит от цели. Если вам нужен очень яркий эффект, сравнимый с пластикой, то другие методики будут эффективнее, особенно <a class='link link_primary' href='sculptural-buccal-massage.html'>скульптурно-буккальный массаж</a>.`,
            'Классический массаж — это простая, мягкая техника, работающая над улучшением общего состояния лица. Если у вас нет серьёзных недостатков, то классический массаж отлично вам подойдёт. Он эффективно снимает спазм мышц, расслабляет лицо и возвращает ему здоровый цвет. К тому же это приятная процедура, которая поднимет вам настроение.'
          ]
        }
      ],
      massageResults: {
        title: 'Результаты массажа лица',
        face: {
          slidesOrder: [1]
        }
      },
      reviewsBlock: {
        title: 'Отзывы о&nbsp;массаже лица',
        reviews: [
          {
            id: 25,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 26,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 27,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 25,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 26,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 27,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      massageVideo: {
        id: 'H9IRW0ffpWk',
        poster: 'assets/img/massage-video/massage-video-poster_face.jpg',
        sticker: false
      },
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;классического массажа',
        features: [
          {
            title: 'Снимется спазм и&nbsp;усталость мышц',
            text: ``
          },
          {
            title: 'Цвет лица станет здоровым и&nbsp;однородным',
            text: ``
          },
          {
            title: 'Улучшится тонус кожи и&nbsp;мышц',
            text: ``
          }
        ]
      },
      massageDescription: [
        `В начале мастер наносит на лицо клиента гель алоэ-вера. Этот гель не закупоривает поры и идеально подходит для массажа.<br>
          <br>
          Пальцы массажиста скользят, не растягивая кожу, лицо после сеанса наполнено влагой, мышцы расслаблены. Что важно, гель алоэ абсолютно не вызывает воспалений`,
        `Вся процедура проходит по строгой схеме клас&shy;сического массажа, то есть с минимальным дав&shy;лением и по направлению массажных линий.<br>
          <br>
          Такая техника обеспечивает правильный отток лимфы, а также значительно ускоряет кровообращение.<br>
          <br>
          За счет стимуляции кровообращения, кожа насыщается кислородом и питательными веществами, в ней запускается процесс регенерации`,
        `Эффект после курса классического массажа довольно значительный. Заметно уменьшаются все возрастные проявления, подтягивается кожа, улучшается тонус мышц. Лицо выглядит здоровым и отдохнувшим, как после полноценного отпуска`
      ],
      faq: [
        locals.data.globalData.commonFaceFaq[0],
        locals.data.globalData.commonFaceFaq[1],
        {
          question: `В чём отличие этого массажа от других массажей лица?`,
          answer: `Классический массаж — это одна из самых мягких техник, очень плавная и расслабляющая. Это давно разработанная и проверенная методика, где работа идёт только по массажным линиям. За счёт этого классический массаж не может так разительно изменить внешность, как например скульптурно-буккальный массаж. Но он прекрасно подойдёт, чтобы расслабить мышцы и улучшить тонус кожи.`
        },
        locals.data.globalData.commonFaceFaq[2],
        locals.data.globalData.commonFaceFaq[3],
        locals.data.globalData.commonFaceFaq[4]
      ],
      priceList: {
        showPromo: true
      },
      moreMassages: [3, 1, 4, 5],
      hasMap: true
    }

block content
  include ../includes/modules/main-screen/main-screen
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list/price-list
  include ../includes/modules/content/more-massages
  include ../includes/modules/content/socials
  include ../includes/modules/footer/map-block

block script
