extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'facial-lymphatic-drainage.html',
      title: `Лимфодренажный массаж лица в Москве`,
      description: `Лимфодренажный массаж лица - прорабатывается лицо, шея и зона декольте, эффект заметен после первой
        процедуры`,
      keywords: `лимфодренажный, массаж лица, услуга, описание, цена, стоимость, Москва`,
      canonical: 'http://expert-massage-clinic.ru/facial-lymphatic-drainage.html',
      pageClass: 'facial-lymphatic-drainage-page',
      theme: '3',
      massage: globalData.massages['facial-lymphatic-drainage'],
      mainScreenHeading: 'Лимфодренажный массаж лица',
      mainScreenSubheading: `Убирает отёки и&nbsp;мешки под&nbsp;глазами, улучшает цвет лица`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      aboutMassage: [
        {
          title: 'Что это за процедура?',
          text: [
            'Принципы лимфодренаж&shy;ного массажа одинаковы для лица, и тела — специалист воздействует на лимфу по направлению лимфотока, чтобы разогнать ее и вывести лишнюю жидкость.',
            'Массажист, с помощью специ&shy;альных движений, устраняет застой лимфы, улучшает её циркуляцию, и полностью убирает отёки. Массаж запускает процесс питания клеток и тка&shy;ней, выводит токсины, улучшает состояние кожи и тонус мышц.'
          ]
        },
        {
          title: 'Какой будет результат?',
          text: [
            'У вас полностью пропадут отёки, станут более заметны скулы, ярче проявятся черты лица.',
            'На лице появится здоровый румянец, вы будете выглядеть свежее и здоровее, как будто хорошо отдохнули.'
          ]
        },
        {
          title: 'Кому подойдёт этот массаж?',
          text: [
            `Всем, чья основная цель — снять выраженные отёки и улучшить цвет лица. Правда, если отёки регулярно появляются не только на лице, вам нужен <a class='link link_primary' href='body-lymphatic-drainage.html'>лимфодре&shy;нажный массаж всего тела</a>, так как он убирает не только про&shy;явления, но и причину отёков.`,
            'Также лимфодренажный массаж лица помогает уменьшить морщины и жирность кожи, но основная его функция именно в борьбе с отёками.'
          ]
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;лимфодренажного массажа',
        features: [
          {
            title: 'Пропадут отёки и&nbsp;мешки под&nbsp;глазами',
            text: ``
          },
          {
            title: 'Цвет лица станет здоровым и&nbsp;однородным',
            text: ``
          },
          {
            title: 'Уменьшится жирность и&nbsp;проблемы кожи',
            text: ``
          }
        ]
      },
      reviewsBlock: {
        title: 'Отзывы о&nbsp;массаже лица',
        reviews: [
          {
            id: 28,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 29,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 30,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 28,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 29,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 30,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      priceList: {
        showPromo: true
      }
    }

block content
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/features-list
  include ../includes/modules/content/price-list
  include ../includes/modules/footer/map-block

block script
