extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'figure-modeling.html',
      title: `Ручное моделирование фигуры в Москве - профессиональный подход`,
      description: `Ручное моделирование фигуры - профессиональный массаж в Москве, отличная цена от профессионального
        массажиста с медицинской лицензией`,
      keywords: `моделирование, фигуры, ручное, массаж, услуга, описание, от целлюлита, Москва, цена`,
      canonical: 'http://expert-massage-clinic.ru/figure-modeling.html',
      pageClass: 'figure-modeling-page',
      theme: '7',
      massage: globalData.massages['figure-modeling'],
      mainScreenHeading: 'Ручное моделирование фигуры',
      mainScreenSubheading: `Авторская техника для&nbsp;похудения и&nbsp;подтягивания кожи. Уходит лишний вес, тают
        объёмы`,
      mainScreenFeatures: [
        {
          bigText: `3 в 1`,
          smallText: `лимфодренаж, антицеллю-<br>литный массаж, обёртывание`
        },
        {
          bigText: '2-15 см',
          smallText: `в талии теряли наши клиенты,<br>в зависимости от начальных данных`
        },
        {
          bigText: '3-18 кг',
          smallText: `лишнего веса уходило<br>у клиентов за курс массажа`
        }
      ],
      aboutMassage: [
        {
          title: 'Какой будет результат?',
          text: [
            'Уйдут объёмы и лишний вес, фигура заметно преобразится. Вы похудеете, результаты будут заметны и на весах, и по одежде, и по качеству тела.',
            'Кожа подтянется, контуры станут изящнее, проблемные зоны заметно сгладятся. При этом в отличие от быстрых диет, такое похудение не затронет грудь и не отразится нега- тивно на лице. Ваша фигура станет стройнее, гармоничнее, и вы сможете носить одежду на пару размеров меньше.',
            'Также благодаря массажу ускорится ваш обмен веществ, и вы продолжите стройнеть даже после курса.'
          ]
        },
        {
          title: 'Насколько я похудею?',
          text: [
            'Конечно, это зависит от ваших исходных данных, но точно очень заметно. И для вас, и для окружающих. Вы сможете носить одежду, которая сейчас вам мала, все вещи будут сидеть гораздо лучше, так как вы похудеете именно в проблемных зонах.',
            'Лучшие результаты у тех клиентов, кто соблюдает рекомендации — во время процедуры специалист расскажет методику нашей клиники. Но и без изменения образа жизни результат впечатлит — заметно уйдёт и лишний вес, и объёмы.',
            'Некоторые из наших клиенток за курс массажа сбрасывают до 18 килограмм и полностью меняют гардероб.'
          ]
        },
        {
          title: 'Как проходит процедура? Какие будут ощущения?',
          text: [
            'Процедура состоит из трёх этапов — разгона лимфы, антицеллюлит&shy;ного массажа и обёртывания. Мы делаем обёртывание на все проблемные зоны: руки, бёдра, живот, ягодицы.',
            'Первая часть массажа расслабляющая и приятная, вторая может быть слегка чувствительной из-за глубокого воз- действия. Но вам точно не будет больно. Мастер очень тщательно и глубоко проработает ваши ткани, разомнёт жировые отложения, выведет лишнюю межклеточную жидкость. Синяки бывают очень редко, только если у вас слабые сосуды. Даже если они появятся, то будут очень маленькие и пройдут быстро.'
          ]
        }
      ],
      massageResults: {
        title: 'Результаты ручного моделирования',
        figure: {
          slidesOrder: [2, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        }
      },
      reviewsBlock: {
        title: 'Отзывы о&nbsp;ручном моделировании фигуры',
        reviews: [
          {
            id: 31,
            type: 'figure-modeling',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 32,
            type: 'figure-modeling',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 33,
            type: 'figure-modeling',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 31,
            type: 'figure-modeling',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 32,
            type: 'figure-modeling',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 33,
            type: 'figure-modeling',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      massageVideo: {
        id: 'y8nZNDosExU',
        poster: 'assets/img/massage-video/massage-video-poster_figure-modeling.jpg',
        sticker: false
      },
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;ручного моделирования',
        features: [
          {
            title: 'Вы похудеете и&nbsp;это будет заметно всем окружающим',
            text: `За&nbsp;курс уходит и&nbsp;жир, и&nbsp;отёки, и&nbsp;лишняя межклеточная жидкость. Вы увидите минус
              на&nbsp;весах и&nbsp;в&nbsp;объёмах, ваше похудение заметят близкие и&nbsp;коллеги. Если вы будете
              соблюдать несложные рекомендации ваше преображение всего за&nbsp;месяц курса будет ещё более невероятным`
          },
          {
            title: 'Ваша фигура станет более изящной, подтянутой, точёной',
            text: `Лишний вес уйдёт именно с&nbsp;проблемных зон. В&nbsp;отличие от&nbsp;похудения на&nbsp;жёстких
              диетах, с&nbsp;массажем вы сохраните грудь и&nbsp;красивую форму ягодиц, не&nbsp;столкнётесь
              с&nbsp;рыхлостью и,&nbsp;обвисанием кожи. Напротив, тело подтянется, целлюлит разгладится`
          },
          {
            title: 'Вы начнёте меняться в&nbsp;целом, полюбите себя и&nbsp;жизнь',
            text: `Быстрые результаты в&nbsp;зеркале дают огромный заряд энергии на&nbsp;другие изменения в&nbsp;жизни.
              Когда всего за&nbsp;месяц массажа вы не&nbsp;узнаете своё тело, вам станет легко и&nbsp;приятно меняться
              дальше. Появятся силы и&nbsp;желание на&nbsp;спорт и&nbsp;правильное питание`
          }
        ]
      },
      faq: [
        {
          question: `Я правда смогу похудеть просто от курса массажа?`,
          answer: `Да, сможете. Часть ваших лишних килограмм вызвана отёками и застоем межклеточной жидкости. Они быстро уйдут в результате механического воздействия на организм. Суть в том, что наш специалист наладит работу лимфотока и не позволит вашему организму вернуть эту жидкость. Более того, организм перестанет задерживать воду и в дальнейшем, так что вы сбросите ещё пару килограмм после курса.<br>
            <br>
            Ещё часть проблем фигуры вызвана не столько килограммами, сколько дряблостью кожи, неравномерностью жировых отложений, общей рыхлостью тела. Именно подтягивание контуров тела даёт самый заметный результат. Потеря килограмм от этого этапа не велика, но объёмы тают, фигура становится упругой, изящной.<br>
            <br>
            И наконец, наш массаж разгоняет метаболизм. С улучшенным обменом веществ ваш организм начнёт сжигать жир, даже если режим питания не самый правильный. Если калорийность вашего рациона выше нормы, это будет происходить медленно, но будет.<br>
            <br>
            Мы верим, что если вы пришли на курс массажа, то настроены серьёзно, и на первой процедуре порекомендуем вам несколько простых вещей, которые значительно улучшат результат.`
        },
        {
          question: `Какие зоны массажируются на сеансе?`,
          answer: `Бёдра, ягодицы, живот и руки. Все зоны прорабатываются очень тщательно, специалист делает акцент именно на ваших проблемных зонах. В результате массажа подтягиваются даже сложные дефекты, например внутренняя сторона бедра, которую нельзя массажировать ни вакуумом, ни прочими аппаратными техниками. Уходят бока и ушки, красиво очерчиваются руки, все тело стройнеет и подтягивается.`
        },
        {
          question: `Какие ощущения при процедуре, есть ли боль?`,
          answer: `Нет, процедуру нельзя назвать болезненной, хотя многие наши клиенты слышали, или сами сталкивались с сильной болью при корректирующем массаже. В нашей клинике боль сведена к минимуму, и многие клиенты не чувствуют дискомфорта. Такой эффект достигается тщательным разогревом и правильной техникой массажа. Процедура массажа переносится в разы легче, а эффект становится только сильнее – ведь когда клиенту не больно, мастер может глубже и качественнее проработать мышцы. В общем не настраивайтесь на боль, почти наверняка вы её не почувствуете, а если дискомфорт и будет, то недолгий и вполне терпимый.`
        },
        {
          question: `Как усилить результат от курса? Обязательна ли диета?`,
          answer: `Вы получите отличный эффект от курса даже без коррекции рациона, но если вы хотите значительно похудеть, диета всё же нужна. Речь не идет о строгой диете с полным отказом от любимых продуктов, достаточно питаться сбалансированно и чаще выбирать полезные блюда. Но даже если вы ничего не поменяете в питании, массаж уберёт лишние сантиметры, значительно подтянет фигуру и избавит от отёков. Если вы настроены на максимальный результат, то во время сеанса специалист с удовольствием расскажет вам о нашей методике похудения. Если совместить питание, физическую нагрузку и массаж, то за небольшие сроки можно фактически получить новое тело – стройное, упругое и подтянутое.`
        },
        {
          question: `Не вернутся ли килограммы и объёмы после процедуры?`,
          answer: `Нет, не вернутся, массаж даёт длительный и стабильный результат. Конечно, если вы резко увеличите калорийность рациона, вес пойдёт вверх, здесь массаж бессилен. Но даже в таком случае за счёт массажа у вас будет больший запас "качества тела" – оно будет дольше оставаться подтянутым и упругим.`
        },
        {
          question: `Как поддерживать результат?`,
          answer: `В идеале – периодически делать простой самомассаж с использованием крема или масла, правильно питаться и вести активный образ жизни. Также будет отлично, если вы сможете 1-2 раза в год проходить повторный курс массажа – так вы довольно скоро доведёте свою фигуру до идеала и зафиксируете её в этом состоянии. На сеансе специалист расскажет вам больше о способах удержать и улучшить результат.`
        }
      ],
      priceList: {
        showPromo: true
      }
    }

block content
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list
  include ../includes/modules/footer/map-block

block script
