extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section
    .container
      img(src='assets/img/chrome.png')
      img(src='assets/img/logo.png')
      p tests text lalala 1234

block script
