extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'japanese-asahi-massage.html',
      title: `Японский массаж Асахи (zogan)`,
      description: `Массаж по японской методике Асахи (zogan) - "создание лица". Москва, отличная цена и
        квалифицированные массажисты`,
      keywords: `японский массаж, Асахи, Зоган, asahi, zogan, массаж лица, Москва, услуга, описание, цена, стоимость`,
      canonical: 'http://expert-massage-clinic.ru/japanese-asahi-massage.html',
      pageClass: 'japanese-asahi-massage-page',
      theme: '4',
      massage: globalData.massages['japanese-asahi-massage'],
      mainScreenHeading: 'Японский массаж лица Асахи-Зоган',
      mainScreenSubheading: `Глубокая, интенсивная проработка. Формирует красивый овал, омолаживает`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      aboutMassage: [
        {
          title: 'Что это за процедура?',
          text: [
            'С японского языка «Асахи-Зоган» переводится как «создание лица». Это довольно интенсив&shy;ная техника, проработка глубже, чем в мягких классических массажах, но без боли.',
            'Процедура направлена на форми&shy;рование лица, массажист глубоко прорабатывает мышцы и костные ткани. За счёт интенсивной стиму&shy;ляции лимфатической системы, отёки моментально уходят, кожа ста&shy;новится упругой и подтянутой.',
            'При этом не стоит бояться, что кожа растянется от сильного воздействия, наоборот, при японском массаже лицо как будто оживает изнутри.'
          ]
        },
        {
          title: 'Какой будет результат?',
          text: [
            'У вас уменьшатся морщинки, полностью пропадут отёки, станут более заметны скулы, ярче проявятся черты лица.',
            'Контур лица подтянется, уйдёт второй подбородок, и улучшится качество кожи. На лице появится здоровый румянец, и вы будете выглядеть свежее и моложе.'
          ]
        },
        {
          title: 'Видела, что этот массаж делают самостоятельно, так можно?',
          text: [
            'Любой самомассаж, не только Асахи-Зоган, полезен, но при чётком соблюдении инструкций, и только для профилактики.',
            'Но при ошибках можно навредить себе, поэтому нужно внимательно следить за глубиной нажима, и повторять движения очень точно, по корректной инструкции.',
            'Но эффект от самомассажа никогда не сравнится с профессиональным, ведь только опытный специалист сможет подобрать приёмы и интенсивность работы с учётом ваших целей и строения лица.'
          ]
        }
      ],
      massageResults: {
        title: 'Результаты массажа лица',
        face: {
          slidesOrder: [1, 5, 6, 9, 2, 3, 4, 7, 8]
        }
      },
      reviewsBlock: {
        title: 'Отзывы о&nbsp;массаже лица',
        reviews: [
          {
            id: 10,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 11,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 12,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 10,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 11,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 12,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      massageVideo: {
        id: 'H9IRW0ffpWk',
        poster: 'assets/img/massage-video/massage-video-poster_face.jpg',
        sticker: false
      },
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;массажа Асахи-Зоган',
        features: [
          {
            title: 'Улучшится качество кожи, уменьшатся морщины',
            text: `Японский массаж работает сразу по&nbsp;всем фронтам&nbsp;— над&nbsp;контурами лица, качеством кожи,
              общими чертами лица. Уже после первого сеанса вы заметите, что&nbsp;кожа подтянулась`
          },
          {
            title: 'Подтянутся контуры и&nbsp;овал лица, проявятся скулы',
            text: `Массаж Асахи-Зоган направлен на&nbsp;формирование лица, поэтому если у&nbsp;вас есть такие проблемы
              как&nbsp;поплывший овал лица, невыразительные скулы и&nbsp;подбородок, после курса они исчезнут`
          },
          {
            title: 'Процедура улучшит вашу внешность, безопасно и&nbsp;в&nbsp;любом возрасте',
            text: `Все массажи лица в&nbsp;нашей клинике полностью безопасны, в&nbsp;отличие от&nbsp;пластики.
              В&nbsp;Японии массаж Асахи-Зоган делают уже с&nbsp;20&nbsp;лет и&nbsp;до&nbsp;глубокой старости`
          }
        ]
      },
      faq: [
        locals.data.globalData.commonFaceFaq[0],
        locals.data.globalData.commonFaceFaq[1],
        {
          question: `В чём отличие этого массажа от других массажей лица?`,
          answer: `Чем этот массаж лица отличается от других массажей? Массаж Асахи-Зоган интенсивнее других массажей лица, кроме скульптурно-буккального, и может не подойти тем, кто привык к нежным воздействиям. При этом японский массаж полностью безопасен и очень эффективен. Если вы хотите сделать скулы заметнее и улучшить овал лица, но не можете посещать скульптурно-буккальный массаж, вам отлично подойдёт массаж Асахи-Зоган.`
        },
        locals.data.globalData.commonFaceFaq[2],
        locals.data.globalData.commonFaceFaq[3]
      ],
      priceList: {
        showPromo: true
      }
    }

block content
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list
  include ../includes/modules/footer/map-block

block script
