extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: '/sculptural-buccal-massage.html',
      title: `Скульптурно-буккальный массаж лица в Москве по низким ценам`,
      description: `Скульптурно-буккальный массаж - процедура, сравнимая по эффекту с пластикой. Результат заметен после
        первого сеанса`,
      keywords: `скульптурно-буккальный, массаж лица, Москва, услуга, описание, цена, стоимость`,
      canonical: 'http://expert-massage-clinic.ru/sculptural-buccal-massage.html',
      pageClass: 'sculptural-buccal-massage-page',
      theme: '1',
      mainScreenHeading: 'Скульптурно-буккальный массаж лица.',
      mainScreenSubheading: `Полная альтернатива пластике, стирает морщинки и отёки, корректирует овал лица`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся на массаже. <a class='link link_primary underline' href='/about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: 'минимальный стаж специалистов, у всех мед. образование'
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='/reviews.html'>отзывов</a> c
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ]
    }

block content
  section
    .container
      h1

block script
