extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'sculptural-buccal-massage.html',
      title: `Скульптурно-буккальный массаж лица в Москве по низким ценам`,
      description: `Скульптурно-буккальный массаж&nbsp;— процедура, сравнимая по&nbsp;эффекту с&nbsp;пластикой.
        Результат заметен после первого сеанса`,
      keywords: `скульптурно-буккальный, массаж лица, Москва, услуга, описание, цена, стоимость`,
      canonical: 'http://expert-massage-clinic.ru/sculptural-buccal-massage.html',
      pageClass: 'sculptural-buccal-massage-page',
      theme: '1',
      massage: globalData.massages['sculptural-buccal-massage'],
      mainScreenHeading: 'Скульптурно-буккальный массаж лица',
      mainScreenSubheading: `Полная альтернатива пластике, стирает морщинки и&nbsp;отёки, корректирует овал лица`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      aboutMassage: [
        {
          title: 'Что это за процедура?',
          text: [
            'Скульптурно-буккальный массаж лица -— революционная процедура, которую по эффекту называют «безоперационной пластикой». За счёт проработки мышц сразу с двух сторон - внешней и внутренней, эффект настолько сильный, что после курса массажа сравним с хирургической подтяжкой.',
            'За 60 минут массажа мастер формирует правильный контур лица, убирает отёки, укрепляет лицевые мышцы, и стирает морщинки. Результат будет заметен уже после 1 сеанса.'
          ]
        },
        {
          title: 'Какой будет результат?',
          text: [
            'Ваши мимические морщинки исчезнут, а глубокие значи&shy;тельно сгладятся. Уйдут отёки, мешки под глазами, второй подбородок. Процесс старения замедлится, ваши черта лица станут изящнее, а признаки старения пропадут.'
          ]
        },
        {
          title: 'Это больно, долго, дорого?',
          text: [
            'Процедура массажа приятная и расслабляющая, некоторые засыпают. Если у вас очень забитые мышцы, будет чувстви&shy;тельно, но точно не больно. Для устойчивого результата обычно хватает 6-10 процедур, но разницу видно и после первой. А стоимость в разы меньше, чем при попытках добиться похожего результата пластикой.'
          ]
        }
      ],
      massageResults: {
        title: 'Результаты массажа лица',
        face: {
          slidesOrder: [1, 2, 3, 4, 5, 6, 7, 8]
        }
      },
      reviewsBlock: {
        title: 'Отзывы о&nbsp;массаже лица',
        reviews: [
          {
            id: 4,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 5,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 6,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          },
          {
            id: 4,
            type: 'face',
            source: 'yandex',
            text: `Огромная благодарность Антону Николаевичу!!! Пришла к нему на массаж, когда спина уже не гнулась. Уже после двух сеансов почувствовала такое облегчение и легкость, которых и не надеялась обрести. СПАСИБО! Я вернусь, не пройдет и полгода...`,
            author: 'Анна',
            date: '13.02.2020'
          },
          {
            id: 5,
            type: 'face',
            source: 'site',
            text: `Мой выбор этого центра был сделан случайно. Я, имея проблемы с позвоночником, посещаю курсы массажа регулярно. Но в Москве не живу постоянно и здесь у меня нет своего специалиста. В центре я прошла пробный сеанс у Антона Николаевича и сразу стало понятно, что я оказалась «в руках» профессионала. За 10 сеансов были сняты все зажимы и спазмы, Вернулась свобода движений, легкость. Улучшился сон и общее самочувствие. Спасибо. Теперь и в Москве я знаю специалиста, к которому я могу обратиться.`,
            author: 'Оксана',
            date: '05.02.2020'
          },
          {
            id: 6,
            type: 'face',
            source: 'site',
            text: `Большое спасибо Антон Николаевич за то, что вернули мне былую форму. Вначале с недоверием относилась к лимфодренажному массажу, поэтому решила попробовать один сеанс. Но мне так понравился массаж, отношение Антона Николаевича ко мне, что решилась на весь курс (12 сеансов). Эти 12 сеансов были сеансы расслабления и приятого общения. Антон Николаевич так поработал с моими проблемными местечками на животе и бедрах, что после курса массажа я ощущаю себя вновь 30-летней. Во всем теле легкость, я бодра весь день. А еще я похудела на 2 размера и до сих пор у меня идет уменьшение объемов. Хотя после последнего сеанса прошла неделя. Это просто чудо!!!. Спасибо Вам, Вашим волшебным рукам!!`,
            author: 'Татьяна',
            date: '20.01.2020'
          }
        ]
      },
      massageVideo: {
        id: 'H9IRW0ffpWk',
        poster: 'assets/img/massage-video/massage-video-poster_face.jpg',
        sticker: {
          position: 'right',
          text: 'Процедура абсолютно безболезненна'
        }
      },
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;скульптурно-буккального массажа',
        features: [
          {
            title: 'Вы будете выглядеть моложе, пропадут морщины, подтянется овал&nbsp;лица',
            text: `Исчезнет второй подбородок, кожа станет упругой и&nbsp;свежей, время как будто пойдёт для&nbsp;вас
              вспять. Все возрастные изменения пропадут или&nbsp;сильно уменьшатся`
          },
          {
            title: 'Черты вашего лица станут красивее и&nbsp;изящнее, удлинится шея',
            text: `Скульптурно-буккальный массаж не&nbsp;только убирает недостатки, но&nbsp;и&nbsp;подчёркивает
              достоинства. Он сделает вас красивее, даже если у&nbsp;вас совсем нет возрастных изменений и&nbsp;отёков`
          },
          {
            title: 'Абсолютно безопасный результат, травмы и ухудшения исключены',
            text: `Пластика&nbsp;— это лотерея, что-то может пойти не&nbsp;так во&nbsp;время процедуры,
              или&nbsp;сказаться через несколько лет. С&nbsp;массажем этого не&nbsp;случится, ваше преображение будет
              безопасным и&nbsp;естественным`
          }
        ]
      },
      massageDescription: [
        `В начале мастер наносит на лицо клиента гель алоэ-вера. Этот гель не закупоривает поры и идеально подходит для массажа.<br>
          <br>
          Пальцы массажиста скользят, не растягивая кожу, лицо после сеанса наполнено влагой, мышцы расслаблены. Что важно, гель алоэ абсолютно не вызывает воспалений`,
        `Мастер начинает бережно работать с лицом. Прогревает кожу, мягко проглаживает мышцы, и осторожно переходит к более глубоким воздействиям.<br>
          <br>
          Часть воздействий на мышцы происходит с внешней стороны лица, часть с внутренней, через рот. Это позволяет проработать ткани очень глубоко и добиться невероятных результатов. Конечно, мастер работает в одноразовых перчатках и очень аккуратно`,
        `Эффект после сеанса виден сразу, появляется румянец, сходят отёки, лицо подтянуто. А эффект от курса поражает, он действительно способен полностью заменить пластику.<br>
          <br>
          Причём если поддерживать результат, он будет держаться всю жизнь. При пластике это невозможно, лицо со временем начнёт требовать более серьёзных воздействий, что отразится на внешности. С массажем ваша красота будет в безопасности`
      ],
      faq: [
        locals.data.globalData.commonFaceFaq[0],
        locals.data.globalData.commonFaceFaq[1],
        {
          question: `Чем скульптурно-буккальный массаж лучше пластики?`,
          answer: `Если кратко, то всем. Массаж совершенно не травматичен, и практически не имеет противопоказаний. Его можно делать в любом возрасте и с любым строением лица. Хирургические вмешательства бывают неудачными, а люди после операций часто похожи друг на друга. Подправленное лицо нужно постоянно поддерживать, а если перестать это делать, лицо станет выглядеть гораздо хуже, чем если бы вы не вмешивались в него. Массажем невозможно испортить черты лица — ваше преображение будет естественным, вы станете лучшей версией себя и сохраните результат на всю жизнь, если будете его поддерживать. А если не будете — никакого ужасного отката не случится, будет медленный и обратимый возврат, не критичный. И всё это без инъекций, боли и осложнений.`
        },
        {
          question: `В чём отличие этого массажа от&nbsp;других массажей лица?`,
          answer: `Скульптурно-буккальный массаж — это очень эффективная методика, и результаты от этого массажа, пожалуй, самые яркие. Все массажи лица в нашей клинике дают отличный результат, но скульптурный массаж может сравниться лишь с пластикой лица. После курса массажа уходят не только такие очевидные недостатки как морщины, в лучшую сторону меняются даже черты лица. Этот эффект достигается тем, что мышцы прорабатываются не только с внешней стороны, но и с внутренней — через рот. В этом главная особенность скульптурно-буккального массажа.`
        },
        locals.data.globalData.commonFaceFaq[2],
        locals.data.globalData.commonFaceFaq[3]
      ],
      priceList: {
        showPromo: true
      }
    }

block content
  include ../includes/modules/content/about-massage
  include ../includes/modules/content/application-form/application-block
  include ../includes/modules/content/massage-results/wrap
  include ../includes/modules/content/reviews-block
  include ../includes/modules/content/massage-video
  include ../includes/modules/content/features-list
  include ../includes/modules/content/massage-description
  include ../includes/modules/content/faq
  include ../includes/modules/content/price-list
  include ../includes/modules/footer/map-block

block script
