extends ../layout/main

block variables
  - var globalData = locals.data.globalData
  -
    locals.data.pageData = {
      url: 'sports-massage.html',
      title: `Спортивный массаж в Москве, отличная цена`,
      description: `Спортивный массаж, Москва — ${globalData.company.businessDuration} лет успешной работы! Снятие боли
        после 1-го сеанса. Массаж от профессионалов по доступным ценам.`,
      keywords: `спортивный массаж, Москва, массаж спины, массаж позвоночника, лечебный массаж, услуга, описание, цена`,
      canonical: 'http://expert-massage-clinic.ru/sports-massage.html',
      pageClass: 'sports-massage-page',
      theme: '6',
      mainScreenHeading: 'Спортивный массаж',
      mainScreenSubheading: `Снятие боли в&nbsp;мышцах, ускоренное восстановление, улучшение результатов. Возвращение
        в&nbsp;спорт после травм`,
      mainScreenFeatures: [
        {
          bigText: `${globalData.company.businessDuration} лет`,
          smallText: `специализируемся<br>на массаже. <a class='link link_primary underline' href='/about.html'>О нас</a>`
        },
        {
          bigText: '10 лет',
          smallText: `минимальный стаж специалистов,<br>у всех мед. образование`
        },
        {
          bigText: '800',
          smallText: `честных <a class='link link_primary underline' href='/reviews.html'>отзывов</a><br>с
            ${globalData.company.foundationYear} по ${globalData.currentYear}`
        }
      ],
      featuresBlock: {
        heading: 'Что вы получите от&nbsp;спортивного массажа',
        features: [
          {
            title: 'Улучшатся результаты тренировок',
            text: `Если совместить тренировки с&nbsp;массажем, цель будет достигнута быстрее. Спортивный массаж
              способствует правильному распределению нагрузки, а&nbsp;значит формированию красивого и&nbsp;здорового
              тела`
          },
          {
            title: 'Всё тело восстановится, мышцы станут эластичнее',
            text: `Спортивный массаж положительно влияет на&nbsp;мышцы, делает их эластичнее и&nbsp;сильнее. Это полезно
              даже тем, кто не&nbsp;занимается спортом, так как положительно влияет на&nbsp;здоровье и&nbsp;энергию
              в&nbsp;целом`
          },
          {
            title: 'Пройдёт боль после тренировок, последствия травм',
            text: `Спортивный массаж отлично работает на&nbsp;восстановление после обычных тренировок, а&nbsp;также
              ставит спортсменов на&nbsp;ноги после травм. Также он значительно снижает риск травмировать мышцы
              и&nbsp;суставы`
          }
        ]
      }
    }

block content
  include ../includes/modules/content/features-list

block script
