@use '../../assets/scss/utils/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  &__row {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;

    &_justified {
      justify-content: space-between;
    }

    &_wrap {
      flex-wrap: wrap;
    }
  }
}

.title {
  font-size: 20px;
}

.select {
  margin-right: 10px;

  &__label-text {
    margin-right: 5px;
  }

  & &__select {
    min-height: auto;

    line-height: 1.8;
  }
}

.table {
  overflow: auto;
  margin: 10px 0;

  font-size: 14px;
  text-align: center;

  &__wrap {
    min-width: 800px;
  }

  &__table {
    background-color: #ffffff;
    border: 3px solid #aaaaaa;
    border-collapse: collapse;
  }

  &__cell {
    padding: 9px 12px;

    white-space: nowrap;

    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;

    transition: background-color 0.4s;

    &_heading {
      border-bottom: 3px solid #aaaaaa;
    }

    &_multiline {
      max-width: 180px;

      text-align: left;
      vertical-align: top;
      white-space: normal;
    }

    &_relative {
      position: relative;
    }

    &_no-padding {
      padding: 0;
    }

    &_left {
      text-align: left;
    }

    &_confirm-input {
      min-width: 150px;
    }
  }

  &__row {
    &:nth-child(even) .table__cell {
      background-color: #eeeeee;
    }

    &:hover .table__cell {
      background-color: #cce3ee;
    }
  }
}

.confirm-input {
  @include box(100%, calc(100% - 2px));

  position: absolute;
  top: 1px;
  left: 0;

  margin: 0;
  padding: 2px 5px;

  text-align: center;

  border: none;

  &__input {
    @include box(100%, calc(100% - 2px));

    position: absolute;
    top: 1px;
    left: 0;

    margin: 0;
    padding: 2px 5px;

    font-size: 16px;
    text-align: center;

    background-color: #ffffff;
    border: none;
    cursor: pointer;

    transition: background-color 10s;

    &[type=number] {
      //noinspection CssInvalidPropertyValue
      appearance: textfield;

      color: #000000;

      border: none;
      box-shadow: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }

    &_success {
      transition: none;
    }
  }

  &__confirm {
    @include box(32px, 100%);

    position: absolute;
    right: 0;
    top: 0;

    background-color: rgb(51, 163, 57);
    border: none;
    border-radius: 3px;
    cursor: pointer;

    transition: background-color 0.3s;

    @include in-focus() {
      background-color: rgb(91, 203, 97);
    }

    &::before {
      @include check-mark(10px, 16px, 3px, #ffffff);

      content: '';
      position: absolute;

      transform: translate(-40%, -65%) rotate(45deg);
    }

    &[data-disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.table__row:nth-child(1n) {
  .confirm-input__input {
    &_success {
      background-color: #8dcd8d;
    }
  }
}

.table__row:nth-child(2n) {
  .confirm-input__input {
    background-color: #eeeeee;

    &_success {
      background-color: #8dcd8d;
    }
  }
}

.review-card {
  max-width: 880px;
  margin-bottom: 40px;
  padding: 15px 20px;

  font-size: 14px;

  background-color: #ffffff;
  border: 2px dotted #9a9a9a;

  &__text {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;

    font-size: 14px;
  }

  &__email {
    text-decoration: underline;
    font-style: italic;
    color: #666666;

    @include in-focus() {
      color: #000000;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  &__acceptance,
  &__delete {
    @include reset-button();

    padding: 5px 15px;

    font-weight: 700;
    color: #555555;

    background-color: #ffffff;
    border: 2px solid #555555;
    border-radius: 5px;

    transition: background-color 0.4s, color 0.4s;

    @include in-focus() {
      color: #ffffff;

      background-color: #555555;
    }
  }

  &__delete {
    color: #981111;

    border-color: #981111;

    @include in-focus() {
      background-color: #981111;
    }
  }

  &__acceptance {
    margin-right: 20px;
    margin-left: auto;

    &_accept {
      color: #238821;

      border-color: #238821;

      @include in-focus() {
        background-color: #238821;
      }
    }
  }
}

.form {
  max-width: 850px;
  margin: 20px 0;
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 30px;

  font-size: 14px;

  border: 1px solid #333333;
  border-radius: 5px;

  &__label {
    margin-right: 10px;
  }

  &__input {
    margin-right: auto;

    &_max-width {
      flex-grow: 1;
    }
  }

  &__input-notification {
    width: 100%;
    margin: 5px 0;

    color: #666666;

    &::before {
      content: '*';
    }
  }

  &__submitter {
    padding: 8px 20px;

    font-weight: 700;
    font-size: 16px;
    color: #238821;

    background: none;
    border: 2px solid #238821;
    border-radius: 3px;
    cursor: pointer;

    opacity: 0.75;

    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 1024px) {
  .table {
    &_massages,
    &_procedures,
    &_additions {
      .table__table {
        min-width: 700px;
      }
    }
  }
}
