// Themes
$xxx-low-lightness: 28%;
$xx-low-lightness: 37%;
$x-low-lightness: 46%;
$low-lightness: 55%;
$medium-lightness: 64%;
$high-lightness: 73%;
$x-high-lightness: 82%;
$xx-high-lightness: 91%;
$xxx-high-lightness: 100%;

$xx-low-saturation: 40%;
$x-low-saturation: 50%;
$low-saturation: 60%;
$medium-saturation: 70%;
$high-saturation: 80%;
$x-high-saturation: 90%;
$xx-high-saturation: 100%;

// Theme main
$theme-main-hue: 202;
$theme-main-saturation: 100%;
$theme-main-lightness: 62%;
$theme-main: hsl(202, 100%, 62%);
$theme-main-alt: hsl(0, 78%, 72%);
$theme-main-background: hsl(200, 100%, 97%);
// Theme 1
$theme-1-hue: 229;
$theme-1-saturation: 100%;
$theme-1-lightness: 27%;
$theme-1: hsl(229, 100%, 27%);
$theme-1-alt: hsl(0, 78%, 72%);
$theme-1-background: hsl(0, 100%, 95%);
// Theme 2
$theme-2-hue: 338;
$theme-2-saturation: 100%;
$theme-2-lightness: 66%;
$theme-2: hsl(338, 100%, 66%);
$theme-2-alt: hsl(338, 100%, 66%);
$theme-2-background: hsl(7, 100%, 96%);
// Theme 3
$theme-3-hue: 258;
$theme-3-saturation: 100%;
$theme-3-lightness: 62%;
$theme-3: hsl(258, 100%, 62%);
$theme-3-alt: hsl(258, 100%, 62%);
$theme-3-background: hsl(25, 95%, 92%);
// Theme 4
$theme-4-hue: 356;
$theme-4-saturation: 93%;
$theme-4-lightness: 82%;
$theme-4: hsl(356, 93%, 82%);
$theme-4-alt: hsl(173, 62%, 53%);
$theme-4-background: hsl(173, 100%, 92%);
// Theme 5
$theme-5-hue: 286;
$theme-5-saturation: 39%;
$theme-5-lightness: 48%;
$theme-5: hsl(286, 39%, 48%);
$theme-5-alt: hsl(286, 39%, 48%);
$theme-5-background: hsl(250, 100%, 91%);
// Theme 6
$theme-6-hue: 356;
$theme-6-saturation: 99%;
$theme-6-lightness: 40%;
$theme-6: hsl(356, 99%, 40%);
$theme-6-alt: hsl(356, 99%, 40%);
$theme-6-background: hsl(201, 100%, 75%);
// Theme 7
$theme-7-hue: 338;
$theme-7-saturation: 100%;
$theme-7-lightness: 58%;
$theme-7: hsl(338, 100%, 58%);
$theme-7-alt: hsl(265, 100%, 73%);
$theme-7-background: hsl(314, 92%, 90%);
// Theme 8
$theme-8-hue: 258;
$theme-8-saturation: 100%;
$theme-8-lightness: 61%;
$theme-8: hsl(258, 100%, 61%);
$theme-8-alt: hsl(22, 90%, 73%);
$theme-8-background: hsl(25, 95%, 92%);
// Theme 9
$theme-9-hue: 195;
$theme-9-saturation: 100%;
$theme-9-lightness: 50%;
$theme-9: hsl(195, 100%, 50%);
$theme-9-alt: hsl(195, 100%, 50%);
$theme-9-background: hsl(325, 68%, 85%);
// Theme 10
$theme-10-hue: 202;
$theme-10-saturation: 100%;
$theme-10-lightness: 62%;
$theme-10: hsl(202, 100%, 62%);
$theme-10-alt: hsl(202, 100%, 62%);
$theme-10-background: hsl(0, 0%, 95%);
// Theme 11
$theme-11-hue: 26;
$theme-11-saturation: 96%;
$theme-11-lightness: 67%;
$theme-11: hsl(26, 96%, 67%);
$theme-11-alt: hsl(26, 96%, 67%);
$theme-11-background: hsl(26, 100%, 87%);

$themes: (
  'main': (
    'primary': hsl($theme-main-hue, $theme-main-saturation, $theme-main-lightness),
    'primary-transparent': hsla($theme-main-hue, $theme-main-saturation, $theme-main-lightness, 0.7),
    'primary-x-transparent': hsla($theme-main-hue, $theme-main-saturation, $theme-main-lightness, 0.3),
    'secondary': hsl(0, 78%, 72%),
    'secondary-transparent': hsl(0, 78%, 72%, 0.7),
    'secondary-x-transparent': hsl(0, 78%, 72%, 0.3),
    'background': $theme-main-background
  ),
  '1': (
    'primary': firebrick,
    'secondary': red
  ),
  '2': (
    'primary': firebrick,
    'secondary': red
  ),
  '3': (
    'primary': firebrick,
    'secondary': red
  ),
  '4': (
    'primary': firebrick,
    'secondary': red
  ),
  '5': (
    'primary': firebrick,
    'secondary': red
  ),
  '6': (
    'primary': firebrick,
    'secondary': red
  ),
  '7': (
    'primary': firebrick,
    'secondary': red
  ),
  '8': (
    'primary': firebrick,
    'secondary': red
  ),
  '9': (
    'primary': firebrick,
    'secondary': red
  ),
  '10': (
    'primary': firebrick,
    'secondary': red
  ),
  '11': (
    'primary': firebrick,
    'secondary': red
  ),
  '12': (
    'primary': firebrick,
    'secondary': red
  )
) !default;

// Инициализируем наши переменные как `null`, таким образом,
// при использовании вне `themify`, они ничего не выведут.
$color-primary: null;
$color-primary-transparent: null;
$color-primary-x-transparent: null;
$color-secondary: null;
$color-secondary-transparent: null;
$color-secondary-x-transparent: null;
$color-background: null;

/// Миксин Themify
/// @author Hugo Giraudel
/// @param {Map} $themes [$themes] - ассоциативный массив с темами
@mixin themify($themes: $themes) {
  // Проход по темам
  @each $theme, $colors in $themes {
    // Создание селектора (типа `.theme-main .class`)
    .theme-#{$theme} & {
      // Задание переменных темы как глобальных с `!global`
      $color-primary: map-get($colors, 'primary') !global;
      $color-primary-transparent: map-get($colors, 'primary-transparent') !global;
      $color-primary-x-transparent: map-get($colors, 'primary-x-transparent') !global;
      $color-secondary: map-get($colors, 'secondary') !global;
      $color-secondary-transparent: map-get($colors, 'secondary-transparent') !global;
      $color-secondary-x-transparent: map-get($colors, 'secondary-x-transparent') !global;
      $color-background: map-get($colors, 'background') !global;

      // Вывод пользовательского контента
      @content;

      // Глобальное отключение переменных темы с `!global`
      $color-primary: null !global;
      $color-primary-transparent: null !global;
      $color-primary-x-transparent: null !global;
      $color-secondary: null !global;
      $color-secondary-transparent: null !global;
      $color-secondary-x-transparent: null !global;
      $color-background: null !global;
    }
  }
}
