svg.svg-sprite.hidden(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  defs
    symbol#bg-wave-1(viewBox="0 0 375 81")
      path(d="M0 81C0 25.1553 56.8143 0 79.4335 0C188.01 5.08746e-10 257.377 89.5528 375.001 39.2422V81H0Z")
    symbol#bg-wave-2(viewBox="0 0 375 55")
      path(d="M375 41.1928V0H0V26C68 70 118 60 230 16C313.793 -16.9189 368.333 7.52617 375 41.1928Z")
    symbol#star-icon(viewBox="0 0 42 40")
      path(d="M21 0L25.9393 15.2016H41.9232L28.992 24.5967L33.9313 39.7984L21 30.4033L8.06872 39.7984L13.008 24.5967L0.0767574 15.2016H16.0607L21 0Z")
    symbol#polystar(viewBox="0 0 212 217")
      path(d="M106 0L120.426 15.2672L138.756 5.31037L147.867 24.3934L168.305 20.7217L171.209 41.7527L191.756 44.7253L188.169 65.6456L206.812 74.9717L197.085 93.7334L212 108.5L197.085 123.267L206.812 142.028L188.169 151.354L191.756 172.275L171.209 175.247L168.305 196.278L147.867 192.607L138.756 211.69L120.426 201.733L106 217L91.5736 201.733L73.2442 211.69L64.133 192.607L43.6948 196.278L40.7906 175.247L20.2442 172.275L23.8314 151.354L5.18801 142.028L14.9154 123.267L0 108.5L14.9154 93.7334L5.18801 74.9717L23.8314 65.6456L20.2442 44.7253L40.7906 41.7527L43.6948 20.7217L64.133 24.3934L73.2442 5.31037L91.5736 15.2672L106 0Z")

