svg.svg-sprite.visually-hidden(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  defs
    symbol#bg-wave-1(viewBox="0 0 375 81")
      path(d="M0 81C0 25.1553 56.8143 0 79.4335 0C188.01 5.08746e-10 257.377 89.5528 375.001 39.2422V81H0Z")
    symbol#bg-wave-2(viewBox="0 0 375 55")
      path(d="M375 41.1928V0H0V26C68 70 118 60 230 16C313.793 -16.9189 368.333 7.52617 375 41.1928Z")
    symbol#star-icon(viewBox="0 0 42 40")
      path(d="M21 0L25.9393 15.2016H41.9232L28.992 24.5967L33.9313 39.7984L21 30.4033L8.06872 39.7984L13.008 24.5967L0.0767574 15.2016H16.0607L21 0Z")
    symbol#polystar(viewBox="0 0 212 217")
      path(d="M106 0L120.426 15.2672L138.756 5.31037L147.867 24.3934L168.305 20.7217L171.209 41.7527L191.756 44.7253L188.169 65.6456L206.812 74.9717L197.085 93.7334L212 108.5L197.085 123.267L206.812 142.028L188.169 151.354L191.756 172.275L171.209 175.247L168.305 196.278L147.867 192.607L138.756 211.69L120.426 201.733L106 217L91.5736 201.733L73.2442 211.69L64.133 192.607L43.6948 196.278L40.7906 175.247L20.2442 172.275L23.8314 151.354L5.18801 142.028L14.9154 123.267L0 108.5L14.9154 93.7334L5.18801 74.9717L23.8314 65.6456L20.2442 44.7253L40.7906 41.7527L43.6948 20.7217L64.133 24.3934L73.2442 5.31037L91.5736 15.2672L106 0Z")
    symbol#vk-icon(viewBox="0 0 3333 1980")
      path(d="M3257 134c23-77 0-134-110-134h-365c-93 0-135 49-159 103 0 0-185 452-448 746-85 85-124 112-170 112-23 0-58-27-58-104V135c0-93-26-134-103-134h-573c-58 0-93 43-93 84 0 88 131 108 145 355v537c0 118-21 139-68 139-124 0-424-454-603-974C617 41 582 0 489 0H124C20 0-1 49-1 103c0 97 124 576 576 1209 301 433 726 667 1112 667 232 0 260-52 260-142v-327c0-104 22-125 95-125 54 0 147 27 363 236 247 247 288 358 427 358h365c104 0 156-52 126-155-33-102-151-251-308-427-85-100-212-209-251-263-54-70-39-100 0-162 0 0 444-626 491-838z")
    symbol#fb-icon(viewBox="0 0 155.139 155.139")
      path(d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184 c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452 v20.341H37.29v27.585h23.814v70.761H89.584z")
    symbol#ig-icon(viewBox="0 0 24 23")
      rect(width="24" height="22.67" rx="8" fill="#000000")
      circle(cx="12.1" cy="12.34" r="5" fill="#ffffff")
      circle(cx="18.33" cy="5.67" r="1.67" fill="#ffffff")
    symbol#ig-icon-color(viewBox="0 0 24 23")
      rect(width="24" height="22.67" rx="8" fill="url(#ig-gradient)")
      circle(cx="12.1" cy="12.34" r="5" fill="#ffffff")
      circle(cx="18.33" cy="5.67" r="1.67" fill="#ffffff")
      radialGradient#ig-gradient(cx="30%" cy="100%" r="1")
        stop(offset="4%" stop-color="#fed373")
        stop(offset="30%" stop-color="#f15245")
        stop(offset="62%" stop-color="#d92e7f")
        stop(offset="85%" stop-color="#9b36b7")
        stop(offset="100%" stop-color="#515ecf")
    symbol#map-pin(viewBox="0 0 29 46")
      path(d="M14.4787 45.5068C25.7101 35.3669 40.5893 -0.569826 14.4784 0.00683594C-11.6324 0.583498 3.39173 33.2336 14.4787 45.5068Z")
      ellipse(cx="14.5" cy="14.5078" rx="8.5" ry="8" fill="#ffffff")
