svg.svg-sprite.hidden(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
  defs
    symbol#bg-wave-1(viewBox="0 0 375 81")
      path(d="M0 81C0 25.1553 56.8143 0 79.4335 0C188.01 5.08746e-10 257.377 89.5528 375.001 39.2422V81H0Z")
    symbol#bg-wave-2(viewBox="0 0 375 55")
      path(d="M375 41.1928V0H0V26C68 70 118 60 230 16C313.793 -16.9189 368.333 7.52617 375 41.1928Z")

