-
  var articles = [
    {
      id: 1,
      tag: 'Авторская статья клиники',
      title: '12 шагов к здоровью',
      description: 'Как хорошо себя чувствовать, почти не&nbsp;болеть и&nbsp;быть счастливым, грамотно подойдя к&nbsp;своему&nbsp;здоровью',
      url: '/interesnoe/12_steps/'
    },
    {
      id: 2,
      title: 'Показания к массажу',
      description: 'Расскажем о&nbsp;первых признаках, при&nbsp;ко&shy;торых стоит обратиться к&nbsp;массажисту, чтобы избавиться от&nbsp;проблемы проще и&nbsp;быстрее',
      url: '/informatsiya/pokazaniya-k-massazhu/'
    },
    {
      id: 3,
      title: 'Всё о массаже',
      description: 'В этой статье мы собрали всё о&nbsp;массаже, от&nbsp;пользы и&nbsp;проти&shy;вопоказаний до&nbsp;его классифи&shy;каций и&nbsp;истории развития',
      url: '/informatsiya/massage/'
    }
  ]

section.articles(data-aos='fade-up' data-aos-offset='100' data-aos-duration='800' data-aos-anchor-placement='top-bottom')
  .articles__content.container
    h2.articles__title.heading Читайте также
    ul.articles__list
      each article in articles
        li.articles__list-item
          a.article-card__wrap-link(href=article.url)
            article.article-card
              .article-card__tag-wrap
                if article.tag
                  span.article-card__tag= article.tag
              h3.article-card__title= article.title
              p.article-card__description!= article.description
              span.article-card__link.link.link_secondary.link_arrow Читать
    a.articles__common-link.link.link_secondary.link_arrow.underline(href='/interesnoe/') Все наши статьи
