//- TODO To enable this block remove hidden class
section.famous-clients.hidden
  .famous-clients__content.container
    h2.famous-clients__title.heading Нам доверяют
    .slider
      button.slider__button.slider__button_prev(aria-label="Предыдущий слайд")
      ul.famous-clients__list.famous-clients__slider
        each person in pageData.famousClients
          li.famous-clients__list-item
            figure.famous-clients__person
              +picture-tag(person.photo, person.photo.mobile.jpg['2x'], person.name).famous-clients__photo
              figcaption.famous-clients__name= person.name
      button.slider__button.slider__button_next(aria-label="Следующий слайд")
    article.famous-clients__sticker.sticker(data-aos='fade-in' data-aos-duration='300' data-aos-offset='140')
      +svg-icon('#polystar').sticker__image
      b.sticker__secondary-text
        | Мы против обмана. Все&nbsp;знаменитые клиенты правда лечились у&nbsp;нас и&nbsp;от&nbsp;души нас рекомендуют
