- var indicationsData = locals.data.pageData.indications

section.indications
  h2.indications__title.heading!= indicationsData.title
  .container.indications__wrap
    if indicationsData.sticker
      article.sticker.indications__sticker
        +svg-icon('#polystar').sticker__image
        b.sticker__main-text= indicationsData.sticker.mainText
        b.sticker__secondary-text!= indicationsData.sticker.secondaryText
    .indications__content
      ul.indications__list
        each item in indicationsData.list
          li.indications__list-item!= item
