section.socials(data-aos='fade-up' data-aos-offset='100' data-aos-duration='800' data-aos-anchor-placement='top-bottom')
  .socials__content
    +socials({ ig: ['24', '23'], vk: ['36', '22'], fb: ['24', '24'] })
    h2.socials__text Публикуем новости и акции в соцсетях, присоединяйтесь
