section.video-reviews.hidden
  .video-reviews__content.container(data-aos='fade-up' data-aos-offset='50' data-aos-duration='800' data-aos-anchor-placement='top-bottom')
    h2.video-reviews__title.heading Видеоотзывы наших клиентов
    each video, i in pageData.videoReviews
      - var videoClass = 'video-reviews__video'
      if i > 2
        - videoClass = `${videoClass} hidden_mobile-tablet`
      +video(video, videoClass)(width='320' height='180')
    .video-reviews__link
      a.link.link_arrow.link_secondary.underline(href='/video-reviews/') Все видеоотзывы
