@use '../../tools' as *;

.application-form {
  position: relative;

  margin-bottom: 12rem;

  &__background {
    max-width: 120rem;
    padding-top: 3rem;
    padding-bottom: 5rem;

    @include themify() {
      background-color: $color-background;
    }
  }

  &__content {
    @include centered-block(65rem);

    padding: 0 1rem;
  }

  &__title {
    margin-bottom: 1.2rem;

    font-size: 2.2rem;
    text-align: left;
  }

  &__text {
    margin-bottom: 0;

    font-size: 1.4rem;
  }

  &__notification {
    display: inline-block;
    margin-top: 0.6rem;

    vertical-align: baseline;
    font-size: 1.4rem;
    color: $dark-dim-color;
  }

  &__form {
    @include centered-block(40rem);

    margin-top: 3rem;

    &_hidden {
      visibility: hidden;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 2rem;

    border: 0.1rem solid $transparent-color;
    border-radius: 10rem;

    &_invalid {
      border-color: $error-color;
    }

    &:focus {
      border-color: $light-dim-color;
      outline: none;
    }
  }

  &__submit {
    width: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  &__personal-data {
    margin-top: 1.2rem;

    font-size: 1.2rem;
    text-align: center;

    .custom-checkbox {
      &__label {
        padding-left: 2.2rem;

        color: $dark-dim-color;

        &::before {
          left: 0;

          background-color: $alt-default-color;
        }

        &::after {
          left: 0.5rem;
        }
      }
    }
  }

  &__message {
    margin-top: 1.4rem;

    text-align: center;

    animation-name: bounce-in;
    animation-duration: 0.4s;
  }

  &__success-message {
    @include horizontally-centered();
    @include box(100%);

    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90rem;
    padding: 2rem;

    background-color: $x-lightgray-color;
  }

  &__success-text {
    @include centered-block(90%);
    margin-bottom: 2rem;

    font-family: $title-font-family;
    font-size: 2.4rem;
    font-weight: 700;

    @include themify() {
      color: $color-secondary;
    }

    br {
      display: none;
    }
  }

  &__repeat {
    padding: 0.4rem 0;

    font-weight: 400;
    color: $default-color;

    @include in-focus() {
      color: $default-color;
    }
  }
}

.theme-main,
.theme-8 {
  .application-form {
    &__background {
      padding: 0 2rem;

      background: none;
    }

    &__input {
      background-color: $lightgray-color;
    }
  }
}

.theme-1,
.theme-7,
.theme-9,
.theme-12 {
  .application-form {
    .sticker {
      @include box(24rem, 24.6rem);

      position: relative;

      margin: 0 auto;
      margin-bottom: 4rem;
      padding: 4.5rem;
      padding-bottom: 5rem;

      font-family: $title-font-family;
      color: $alt-default-color;

      &__main-text {
        font-size: 5rem;
      }

      &__secondary-text {
        font-size: 1.6rem;
      }
    }
  }
}

.theme-1 {
  .application-form {
    &__background {
      background-color: $x-lightgray-color;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__title,
    &__text {
      text-align: center;
    }

    .sticker {
      padding-right: 2.5rem;
      padding-left: 2.5rem;

      color: $default-color;

      &__image {
        fill: #ffe9e9;
      }

      &__main-text {
        font-size: 4rem;
      }

      &__secondary-text {
        font-size: 1.4rem;
      }
    }
  }
}

.theme-4 {
  .application-form {
    .custom-checkbox {
      &__label {
        &::after {
          border-color: map-deep-get($themes, '4', 'secondary');
        }
      }
    }
  }
}

.theme-6 {
  .application-form {
    &__title {
      color: map-deep-get($themes, '6', 'primary');
    }
  }
}

.theme-7 {
  .application-form {
    &__background {
      background-color: map-deep-get($themes, '7', 'alt-background');
    }

    .custom-checkbox {
      &__label {
        &::after {
          border-color: map-deep-get($themes, '7', 'secondary');
        }
      }
    }

    .sticker {
      &__image {
        fill: #fe2c78;
      }
    }
  }
}

.theme-9 {
  .application-form {
    &__background {
      background-color: map-deep-get($themes, '9', 'alt-background');
    }

    .sticker {
      &__image {
        fill: #fe2c78;
      }
    }
  }
}

.theme-12 {
  .application-form {
    &__background {
      background-color: map-deep-get($themes, '12', 'alt-background');
    }

    .sticker {
      color: $default-color;
    }
  }
}

@media (min-width: $phone-landscape-min-width) {
  .application-form {
    &__success-text {
      max-width: 85%;

      font-size: 2.4rem;
    }
  }

  .theme-1 {
    .application-form {
      &__background {
        @include centered-block(58rem);

        padding: 9.5vw;
        padding-top: 4rem;
      }

      &__title {
        font-size: 2.2rem;
      }

      &__title,
      &__text {
        text-align: left;
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .application-form {
    margin-bottom: 10rem;

    &__background {
      padding-top: 4.5rem;
      padding-bottom: 6rem;
    }

    &__content {
      @include centered-block(85rem);

      padding: 0 5.5rem;
    }

    &__title {
      margin-bottom: 0.8rem;
    }

    &__form {
      max-width: initial;
      margin-top: 2.5rem;
    }

    &__inputs {
      display: flex;
      align-items: center;
    }

    &__input {
      margin-right: 2vw;
      margin-bottom: 0;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }

    &__submit {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__personal-data {
      margin-top: 1.5rem;
    }
  }

  .theme-1 {
    .application-form {
      &__background {
        padding-right: 8rem;
        padding-left: 8rem;
      }

      &__content {
        padding: 0;
      }

      &__title {
        margin-bottom: 1.5rem;
      }

      &__text {
        font-size: 1.6rem;
      }

      &__inputs {
        @include centered-block(35rem);

        display: block;
      }

      &__input {
        margin-right: 0;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .application-form {
    margin-bottom: 10rem;

    &__content {
      max-width: 90rem;
      padding: 0 5rem;
    }

    &__background {
      padding-bottom: 5.5rem;
    }

    &__title {
      font-size: 2.6rem;
    }

    &__text {
      font-size: 1.6rem;
    }

    &__input,
    &__submit {
      font-size: 1.8rem;
    }

    &__input {
      max-width: 22rem;
    }

    &__submit {
      line-height: 1;
    }

    &__personal-data {
      text-align: right;
    }

    &__message {
      max-width: 31rem;
      margin-left: auto;
    }

    &__success-text {
      font-size: 3rem;

      br {
        display: block;
      }
    }
  }

  .theme-1,
  .theme-7,
  .theme-9,
  .theme-12 {
    .application-form {
      overflow: hidden;
      padding-top: 12rem;

      .sticker {
        position: absolute;
        top: 0;
      }

      &__input {
        margin-right: 2.5rem;
      }
    }
  }

  .theme-1 {
    .application-form {
      .sticker {
        right: 1%;

        width: 21vw;
      }

      &__background {
        max-width: 120rem;
        padding: 8rem;
        padding-top: 6rem;
        padding-left: 6rem;
      }

      &__content {
        padding: 0 5rem;
      }

      &__title {
        font-size: 2.6rem;
      }

      &__inputs {
        max-width: initial;
        display: flex;
      }

      &__input {
        margin-bottom: 0;
        padding: 0.8rem 1rem;
      }
    }
  }

  .theme-7,
  .theme-9,
  .theme-12 {
    .application-form {
      .sticker {
        @include box(19.5vw);

        left: calc(60% + 21rem);

        padding-right: 3.6rem;
        padding-left: 3.6rem;

        transform: rotate(10deg);
      }

      &__content {
        padding-right: 10rem;
        padding-left: 0;
      }
    }
  }

  .theme-12 {
    .application-form {
      .sticker {
        @include box(21.5rem);

        padding-bottom: 6rem;

        transform: none;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .theme-1 {
    .application-form {
      margin-bottom: 0;
      padding-top: 10rem;
      padding-bottom: 10rem;

      &::before {
        @include box(26vw);

        content: '';
        position: absolute;
        top: calc(60% - 6vw);
        left: calc(54% + 30rem);

        background-image: url(../../../img/decor/branch-1@1x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include retina() {
          background-image: url(../../../img/decor/branch-1@2x.png);
        }
      }

      &__background {
        padding-left: calc(45rem - 22vw);
        padding-bottom: 7rem;
      }

      .sticker {
        top: 2rem;
        right: 80%;

        width: 24rem;
      }

      &__personal-data {
        margin-bottom: 1.4rem;
      }

      &__message {
        max-height: 0; // For not affecting the parent height after appending on the page
        margin-top: 0;
      }
    }
  }

  .theme-7,
  .theme-9 {
    .application-form {
      .sticker {
        @include box(22rem);
      }
    }
  }

  .theme-12 {
    .application-form {
      .sticker {
        @include box(24rem);
      }
    }
  }
}

@media (min-width: $l-desktop-min-width) {
  .theme-1,
  .theme-7,
  .theme-9 {
    .application-form {
      max-width: 140rem;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .theme-1 {
    .application-form {
      padding-top: 6rem;

      &::before {
        @include box(34rem);

        top: 42%;
        left: 75%;
      }

      &__background {
        padding-bottom: 6rem;
        padding-left: 14rem;
      }

      .sticker {
        @include box(25rem);
      }
    }
  }
}
