.online-chat__popup(data-popup='closed' data-popup-name='online-chat' data-disabled)
  button.popup__close-button.online-chat__close(type='button' data-close-popup='online-chat' aria-label='Закрыть онлайн-чат')
  .online-chat__content
    p Извините, онлайн-чат сейчас недоступен :(
    p Закажите обратный звонок и мы ответим на все ваши вопросы
