@use '../../tools' as *;

.custom-radio {
  &__label {
    position: relative;

    display: inline-block;
    margin-bottom: 0;
    padding-left: 3.2rem;

    line-height: 1.4;
    vertical-align: middle;
    color: $default-color;

    cursor: pointer;
    user-select: none;

    &::before,
    &::after {
      @include vertically-centered();

      content: '';
      position: absolute;

      border-radius: 50%;

      transition: opacity 0.4s;
    }

    &::before {
      @include box(2rem);

      left: 0.5rem;

      border: 0.2rem solid $dark-dim-color;
    }

    &::after {
      @include box(1rem);

      left: 1rem;

      opacity: 0;
    }
  }

  &__input:focus + .custom-radio__label::before {
    box-shadow: 0 0 3px $x-dark-dim-color;
  }

  &__input:checked + .custom-radio__label {
    &::after {
      background-color: $default-color;
      border-color: $default-color;
      opacity: 1;
    }
  }
}
