@use '../../tools' as *;

.link {
  color: $default-color;

  border-bottom: 1px solid $transparent-color;

  transition: border-bottom-color 0.4s ease-out;

  @include in-focus() {
    color: currentColor;

    border-bottom-color: $x-dark-dim-color;
  }

  &_arrow {
    position: relative;

    &::before {
      @include stroke-arrow($size: 0.9rem, $color: currentColor, $direction: 'right');

      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 0.3rem);

      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @include themify() {
    &_primary {
      color: $color-primary;

      @include in-focus() {
        color: $color-primary;

        border-bottom-color: $color-primary-transparent;
      }

      &.underline {
        border-bottom-color: $color-primary-x-transparent;

        @include in-focus() {
          border-bottom-color: $color-primary;
        }
      }
    }

    &_primary-dark {
      color: $color-primary-dark;

      @include in-focus() {
        color: $color-primary-dark;

        border-bottom-color: $color-primary-dark;
      }

      &.underline {
        border-bottom-color: $color-primary-x-transparent;

        @include in-focus() {
          border-bottom-color: $color-primary-dark;
        }
      }
    }

    &_secondary {
      color: $color-secondary;

      @include in-focus() {
        color: $color-secondary;

        border-bottom-color: $color-secondary-transparent;
      }

      &.underline {
        border-bottom-color: $color-secondary-x-transparent;

        @include in-focus() {
          border-bottom-color: $color-secondary;
        }
      }
    }

    &_secondary-dark {
      color: $color-secondary-dark;

      @include in-focus() {
        color: $color-secondary-dark;

        border-bottom-color: $color-secondary-dark;
      }

      &.underline {
        border-bottom-color: $color-secondary-transparent;

        @include in-focus() {
          border-bottom-color: $color-secondary-dark;
        }
      }
    }
  }
}

.link.inline-icon {
  border-bottom: none;

  .inline-icon__text {
    border-bottom: 1px solid $transparent-color;

    transition: border-bottom-color 0.4s ease-out;
  }

  @include in-focus() {
    .inline-icon__text {
      border-bottom-color: $x-dark-dim-color;
    }
  }
}

button.link {
  border-bottom: 1px solid $transparent-color;

  @include in-focus() {
    color: currentColor;

    border-bottom-color: $x-dark-dim-color;
  }
}

.link.button {
  border-bottom: none;
}
