@use '../../tools' as *;

.phones-list {
  @include reset-list();

  &__phone-number {
    font-weight: 700;

    @include in-focus() {
      color: currentColor;
    }
  }

  &__icon {
    margin-right: 0.5rem;
  }
}
