@use '../../tools' as *;

.button {
  @include reset-button();
  @include button($color: $alt-default-color);

  @include in-focus() {
    @include themify() {
      background-color: $color-primary-transparent;
    }
  }

  &_primary {
    @include themify() {
      background-color: $color-primary;
    }
  }

  &_secondary {
    @include themify() {
      background-color: $color-secondary;
    }
  }
}
