@use '../../tools' as *;

.dropdown {
  position: relative;

  font-size: 12px;

  &__trigger {
    position: relative;

    margin-top: 0.6rem;
    padding-right: 2rem;
    padding-bottom: 0.6rem;

    cursor: pointer;

    &::before {
      @include stroke-arrow($color: currentColor,$direction: 'down');

      content: '';
      position: absolute;
      top: 0.25em;
      right: 5px;

      transition-property: top, transform;
      transition-duration: 0.4s;
    }
  }

  button.dropdown__trigger {
    font-size: 16px;
    color: currentColor;

    background: none;
    border: none;
  }

  &__body {
    z-index: 10;

    display: none;

    background: $alt-default-color;
    border-radius: 5px;

    &:hover {
      display: block;
    }
  }

  &[data-state='opened'] .dropdown__body,
  &[data-on='hover'] .dropdown__trigger:hover + .dropdown__body {
    display: block;
  }

  &[data-state='opened'] {
    .dropdown__trigger {
      &::before {
        top: 0.5em;

        transform: rotate(-135deg);
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .dropdown {
    &__body {
      @include horizontally-centered();

      min-width: 14rem;

      box-shadow: 0 4px 16px $x-light-dim-color;
    }
  }
}
