@use '../../tools' as *;

.inline-icon {
  display: flex;
  align-items: center;

  line-height: 1.1;
  white-space: nowrap;

  &__icon {
    margin-bottom: 2px;
  }

  &__text {
    display: inline-block;
    margin-left: rem(4);

    vertical-align: middle;
  }
}
