@use '../../tools' as *;

.message {
  margin: 0;
  margin-top: 0.8rem;

  font-size: 1.4rem;

  &_error {
    color: $error-color;

    .link {
      border-color: $transparent-error-color;
    }
  }

  &_success {
    color: $success-color;

    .link {
      border-color: $transparent-success-color;
    }
  }

  .link {
    color: currentColor;

    @include in-focus() {
      border-color: currentColor;
    }
  }
}
