@use '../../tools' as *;

.tab-nav {
  display: flex;

  &__list {
    @include horizontal-list();

    margin: 0 auto;

    background-color: $x-lightgray-color;
  }

  &__item {
    position: relative;

    text-align: center;

    + .tab-nav__item {
      &::before {
        @include vertically-centered();
        @include box(0.2rem, 70%);

        content: '';
        left: -0.1rem;

        background-color: $dim-color;
      }
    }
  }

  &__link {
    display: block;
    min-width: 10rem;
    padding: 0.8rem 2rem;
    padding-bottom: 0.9rem;

    font-size: 1.6rem;
    color: $default-color;
  }
}

@media (min-width: $s-desktop-min-width) {
  .tab-nav {
    &__link {
      min-width: 11rem;

      font-size: 1.8rem;
    }
  }
}
