@use '../../tools' as *;

.text-on-icon {
  position: relative;

  cursor: pointer;

  .inline-icon {
    @include box(100%);

    justify-content: center;
  }

  &__text {
    @include absolute-centered();

    font-size: 10px;
    color: #ffffff;

    pointer-events: none;
  }
}

@media (min-width: $s-desktop-min-width) {
  .text-on-icon {
    display: flex;

    .inline-icon {
      align-self: center;
      height: auto;
    }
  }
}
