@use '../../tools' as *;

.underline {
  border-bottom: 1px solid $dim-color;

  @include in-focus() {
    border-bottom-color: $default-color;
  }

  &_dashed {
    border-bottom-style: dashed;
  }

  &_dotted {
    position: relative;
    display: inline-block;

    border-bottom: none;

    @include in-focus() {
      &::before {
        opacity: 0;
      }
    }

    &::before {
      @include box(100%, 1px);

      content: '';
      position: absolute;
      bottom: 1px;
      left: 0;

      background-position: center;
      background-repeat: repeat-x;

      transition: opacity 0.5s;
    }
  }

  &_blue-dotted {
    &::before {
      background-image: url('../../../img/util/borders/dotted-border_blue.svg');
    }
  }

  &_pink-dotted {
    &::before {
      background-image: url('../../../img/util/borders/dotted-border_pink.svg');
    }
  }

  &_black-dotted {
    &::before {
      background-image: url('../../../img/util/borders/dotted-border_black.svg');
    }
  }

  &_gray-dotted {
    &::before {
      background-image: url('../../../img/util/borders/dotted-border_black.svg');
      opacity: 0.5;
    }
  }
}
