@use '../../tools' as *;

@mixin highlight() {
  display: inline-block;
  padding: 0.2rem 0;
  padding-right: 0.3rem;

  font-size: 1.6rem;
  line-height: 1.2;
  vertical-align: baseline;
  color: $default-color;

  background-color: map-deep-get($themes, 'main', 'secondary-x-transparent');
  border-radius: 0.1rem;
}

.prices-page {
  &__wrap {
    margin-bottom: 8rem;
  }

  .service-page &__title {
    margin-bottom: 3.5rem;

    font-size: 2.4rem;
  }

  &__subtitle {
    margin-bottom: 2.5rem;

    text-align: center;
    font-size: 2rem;
  }

  &__promotion {
    @include centered-block(45rem);

    margin-bottom: 4.5rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: none;
    }

    .promotion-card {
      &__button {
        @include in-focus() {
          opacity: 0.75;
        }
      }

      &__text {
        font-size: 1.6rem;
      }
    }

    &_main {
      &::before {
        content: '';
      }

      .promotion-card {
        &__button {
          @include in-focus() {
            opacity: 1;
          }
        }

        &__text {
          font-size: 1.4rem;
        }
      }
    }

    &_2 {
      padding-right: 3rem;
      padding-bottom: 30vw;

      .promotion-card__button {
        min-width: 18rem;
        margin-right: 5rem;
      }
    }

    &_3 {
      padding-right: 14rem;

      .promotion-card__button {
        min-width: 16rem;
        margin-right: auto;
      }
    }
  }

  .price-list {
    &__section {
      margin-bottom: 2rem;
      padding-top: 4rem;
    }

    &__section-title {
      margin-bottom: 3rem;

      font-size: 2.4rem;
      text-align: center;
    }

    &__massage-name {
      font-weight: 700;
    }

    .table {
      &__row {
        @for $i from 1 to 4 {
          &_promo-#{$i} {
            .table__cell:nth-child(#{$i}) {
              span,
              &::after {
                @include highlight();
              }

              span {
                padding-left: 0.3rem;
              }
            }
          }
        }
      }

      &__cell {
        padding-top: 3.8rem;

        &_heading {
          padding-top: 0;

          color: map-deep-get($themes, 'main', 'primary-dark');
        }
      }
    }

    &__promo-text {
      font-size: 1.5rem;
      color: $default-color;

      span,
      &::before {
        @include highlight();
      }
    }
  }
}

@media (min-width: $phone-landscape-min-width) {
  .prices-page {
    &__promotion {
      &_2 {
        padding-bottom: 15rem;
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .prices-page {
    &__wrap {
      margin-bottom: 10rem;
    }

    .service-page &__title {
      margin-bottom: 6rem;

      font-size: 3.2rem;
    }

    &__subtitle {
      margin-bottom: 4.5rem;
      padding: 0 5rem;

      font-size: 2.4rem;
    }

    &__promotions {
      margin-bottom: 2rem;
    }

    &__promotions-wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &__promotion {
      max-width: 37.5rem;
      width: 46%;
    }

    &__main-prices {
      @include centered-block(85rem);

      margin-bottom: 12rem;
      padding: 0 3rem;
    }

    .price-list {
      &__massage-name {
        position: relative;
        top: auto;
        left: auto;

        font-weight: 400;
      }

      &__first-price {
        font-weight: 700;
        color: $default-color;
      }

      .table {
        &__row {
          background-color: $alt-default-color;
        }

        &__cell {
          padding: 1.2rem 2rem;

          &:first-of-type {
            min-width: 30rem;
            padding: 1.2rem 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .prices-page {
    &__wrap {
      margin-bottom: 12rem;
    }

    .service-page &__title {
      margin-bottom: 8rem;

      font-size: 4rem;
    }

    &__promotions-wrap {
      @include centered-block(100rem);
    }

    &__promotion {
      max-width: 41rem;
      margin-bottom: 5.5rem;

      &_main {
        .promotion-card {
          &__text {
            font-size: 1.6rem;
          }
        }
      }
    }

    &__main-prices {
      margin-bottom: 14rem;
    }

    .price-list {
      &__massage-name {
        display: inline;

        &::before {
          top: 55%;
        }
      }

      &__promo-text {
        padding-left: 2rem;

        font-size: 1.6rem;

        background: none;
        border: none;
      }
    }

    &__callback-form {
      .price-list__callback {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .prices-page {
    &__promotions-wrap {
      align-items: flex-start;
      max-width: 124rem;
    }

    &__promotion {
      width: 31%;
      padding-right: 3rem;
      padding-left: 3rem;

      &_3 {
        padding-right: 12rem;
      }
    }
  }
}
