@use '../../tools' as *;

.main-screen {
  margin-bottom: 7rem;

  &__content {
    text-align: center;

    background-color: $alt-default-color;
  }

  &__heading {
    padding: 3.5rem 2rem;
  }

  &__title,
  &__subtitle {
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    margin-bottom: 2rem;

    font-weight: 400;
    font-size: 2.4rem;
  }

  &__subtitle {
    padding: 0 6rem;

    font-size: 1.8rem;
  }

  &__features {
    position: relative;

    margin-top: 2rem;
  }

  @include themify() {
    &__features-list {
      background-color: $color-background;
    }

    &__wave {
      fill: $color-background;
    }
  }

  &__features-list {
    @include reset-list();

    display: flex;
    flex-direction: column;
  }

  &__wave {
    @include box(100%, auto);

    display: block;

    &_top {
      margin-bottom: -1px;
    }

    &_bottom {
      margin-top: -1px;
    }
  }

  &__feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.5rem;
  }

  &__feature-main-text {
    margin-bottom: 0.6rem;

    font-size: 4rem;
  }

  &__feature-text {
    font-size: 1.6rem;
  }
}

.theme-main .main-screen {
  &__title,
  &__subtitle {
    display: block;
  }

  &__title {
    font-weight: 700;
  }
}

@media (min-width: $tablet-min-width) {
  .main-screen {
    margin-bottom: 9rem;
    padding-top: 22rem;

    background-repeat: no-repeat;
    background-size: auto 60rem;

    @include themify() {
      background-color: $color-background;

      @if ($header-image-2 != null) {
        background-image:
          #{url(map-deep-get($header-image-1, 'normal', '1x'))},
          #{url(map-deep-get($header-image-2, 'normal', '1x'))};
        background-position:
          left top 4.5rem,
          right top 4.5rem;

        @include retina() {
          background-image:
            #{url(map-deep-get($header-image-1, 'normal', '2x'))},
            #{url(map-deep-get($header-image-2, 'normal', '2x'))};
        }
      }
      @else {
        background-image: #{url(map-deep-get($header-image-1, 'normal', '1x'))};
        background-position: right top 4.5rem;

        @include retina() {
          background-image: #{url(map-deep-get($header-image-1, 'normal', '2x'))};
        }
      }
    }

    &__heading {
      @include centered-block(60%);
    }

    &__title,
    &__subtitle {
      font-size: 2.2rem;
    }

    &__subtitle {
      padding: 0 5rem;
    }

    &__content,
    &__features-list {
      background: none;
    }

    &__features {
      margin-top: 10rem;
      padding-top: 5rem;

      background-color: $alt-default-color;
    }

    &__features-list {
      flex-direction: row;
      justify-content: center;
    }

    &__feature-item {
      margin: 0 4vw;
    }
  }

  .page .main-screen {
    &__features-list {
      background: none;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .main-screen {
    margin-bottom: 6rem;
    padding-top: 9vw;
    padding-bottom: 6vw;

    &__content {
      @include centered-block(100rem);
    }

    &__heading {
      max-width: 75%;

      line-height: 1.2;
    }

    &__title,
    &__subtitle {
      font-size: 3.2rem;
    }

    &__features {
      margin-top: 3vw;
      padding: 0;

      background: none;
    }

    &__features-list {
      margin: 0;
    }
  }

  .page .main-screen {
    background-position-y: top;
    background-size: contain;
  }

  .index-page .main-screen {
    background-position:
      left -20px top,
      right top;
  }
}

@media (min-width: $desktop-min-width) {
  .main-screen {
    padding-bottom: 8vw;

    &__heading {
      max-width: initial;

      line-height: 1.3;
    }

    &__title,
    &__subtitle {
      font-size: calc(1rem + 1.6vw);
    }

    &__title {
      margin-bottom: 0;
    }

    &__features {
      margin-top: 3vw;
    }

    &__feature-item {
      margin-right: 4.5rem;
      margin-left: 4.5rem;
    }

    &__feature-main-text {
      font-size: 3.6vw;
    }
  }
}

@media (min-width: $l-desktop-min-width) {
  .main-screen {
    padding-top: 12rem;
    padding-bottom: 14rem;

    &__title,
    &__subtitle {
      font-size: 3.4rem;
    }

    &__subtitle {
      padding: 0;
    }

    &__features {
      margin-top: 6rem;
    }

    &__feature-main-text {
      font-size: 5.4rem;
    }
  }
}

@media (min-width: $xl-desktop-min-width) {
  .main-screen {
    @include themify() {
      @if ($header-image-2 != null) {
        background-image:
          #{url(map-deep-get($header-image-1, 'xl', '1x'))},
          #{url(map-deep-get($header-image-2, 'xl', '1x'))};

        @include retina() {
          background-image:
            #{url(map-deep-get($header-image-1, 'xl', '2x'))},
            #{url(map-deep-get($header-image-2, 'xl', '2x'))};
        }
      }
      @else {
        background-image: #{url(map-deep-get($header-image-1, 'xl', '1x'))};

        @include retina() {
          background-image: #{url(map-deep-get($header-image-1, 'xl', '2x'))};
        }
      }
    }
  }
}
