@use '../../tools' as *;

.face-results {
  &__slider {
    @include centered-block(50rem);
  }

  &__slides {
    @include reset-list();
  }

  &__slide {
    padding-top: 2.4rem;
    padding-bottom: 5.5rem;

    &_main {
      background-color: map-deep-get($themes, 'main', 'background');
    }
  }

  &__presentation {
    @include centered-block(37.5rem);

    position: relative;

    padding-top: 3.5rem;
    padding-bottom: 11rem;

    .picture {
      @include box(23rem);

      position: relative;

      overflow: hidden;
      margin-right: 1rem;
      margin-left: auto;

      text-align: center;

      border-radius: 50%;

      &::before {
        @include box(100%);

        content: '';
        position: absolute;
        top: 0;
        left: 0;

        background-color: map-deep-get($themes, 'main', 'primary-x-transparent');
      }

      img {
        position: relative;
        top: 1.5rem;
      }
    }
  }

  &__description {
    position: absolute;

    font-size: 12px;

    &::before {
      content: '';
      position: absolute;

      background-color: $light-dim-color;
    }

    &_one {
      top: 9rem;
      left: 2rem;

      max-width: 14rem;

      &::before {
        @include box(11rem, 0.1rem);

        bottom: 0.5rem;
        left: 65%;
      }
    }

    &_two {
      top: 17rem;
      left: 1rem;

      max-width: 12.5rem;

      &::before {
        @include box(11rem, 0.1rem);

        top: 0.5rem;
        left: 80%;
      }
    }

    &_three {
      top: 27rem;
      left: 4rem;

      max-width: 14rem;

      &::before {
        @include box(0.1rem, 9rem);

        bottom: 110%;
        left: 80%;

        transform: skew(-53deg);
        transform-origin: left bottom;
      }
    }

    &_four {
      top: 30rem;
      right: 3rem;

      max-width: 13.2rem;

      &::before {
        @include box(0.1rem, 5rem);

        bottom: 110%;
        left: 35%;
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .face-results {
    &__slider {
      max-width: initial;
    }

    &__slide {
      padding-top: 4rem;
      padding-bottom: 0;
    }

    &__presentation {
      position: absolute;
      top: 0;
      left: 33%;

      padding: 0;
    }

    &__description {
      min-width: 16.8rem;

      font-size: 1.3rem;

      &_one,
      &_two,
      &_three,
      &_four {
        left: 0;
      }

      &_one {
        top: 4rem;

        &::before {
          top: 230%;
          left: 83%;
          width: 10vw;
          transform: skewY(56deg);
        }
      }

      &_two {
        top: 12rem;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 10vw;
          transform: skewY(56deg);
        }
      }

      &_three {
        top: 22rem;
      }

      &_four {
        top: 32rem;
      }

      &_five {
        top: calc(14rem + 14vw);
        left: 42vw;
      }
    }
  }
}
