-
  var footerLogo = {
    desktop: false,
    tablet: false,
    mobile: {
      webp: {
        '1x': 'assets/img/logo/logo_gray@1x.webp',
        '2x': 'assets/img/logo/logo_gray@2x.webp',
        '3x': 'assets/img/logo/logo_gray@3x.webp'
      },
      jpg: {
        '1x': 'assets/img/logo/logo_gray@1x.jpg',
        '2x': 'assets/img/logo/logo_gray@2x.jpg',
        '3x': 'assets/img/logo/logo_gray@3x.jpg'
      }
    }
  }

footer.page-footer
  .page-footer__content.container
    p.page-footer__copyright
      | Любое использование либо копирование материалов или&nbsp;подборки материалов сайта, элементов дизайна и оформления
      | допускается лишь с разрешения правообладателя и только со&nbsp;ссылкой на источник: https://expert-massage-clinic.ru.
      | Вся представленная на сайте информация не является публичной офертой
    .page-footer__company
      a(href='index.html')
        +picture-tag(footerLogo, footerLogo.mobile.jpg['3x'], 'Клиника профессионального массажа Expert', '125', '26').page-footer__logo
      p.page-footer__company-text= `Массаж в Москве ${locals.data.globalData.company.foundationYear}-${locals.data.globalData.currentYear}`
    .page-footer__socials
      +socials({ ig: ['25', '24'], vk: ['38', '23'], fb: ['26', '26'] })
