@use '../../tools' as *;

.additions-prices {
  margin-bottom: 8rem;

  &__title {
    margin-bottom: 3.5rem;
  }

  &__description {
    margin-bottom: 2.5rem;
    padding: 1.5rem 1.2rem;

    font-size: 1.4rem;

    background-color: $x-lightgray-color;
    border-radius: 0.5rem;
  }

  &__table {
    @include centered-block(50rem);

    .table__cell {
      padding: 1rem 0;

      &:nth-child(2) {
        min-width: 8rem;

        text-align: right;
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .additions-prices {
    @include centered-block(75rem);

    margin-bottom: 10rem;

    &__title {
      margin-bottom: 4.5rem;
    }

    &__description {
      margin-bottom: 5rem;
      padding: 2.5rem;

      line-height: 1.4;
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .additions-prices {
    &__description {
      margin-bottom: 6rem;
    }
  }
}
