@use '../../tools' as *;

.custom-checkbox {
  &__label {
    position: relative;

    margin-bottom: 0;
    padding-left: 3.2rem;

    color: $default-color;

    cursor: pointer;
    user-select: none;

    &::before,
    &::after {
      @include vertically-centered();

      content: '';

      transition: all 0.4s;
    }

    &::before {
      @include box(1.6rem);

      left: 0.5rem;

      border: 0.1rem solid $light-dim-color;
      border-radius: 0.2rem;
    }

    &::after {
      @include check-mark(1rem, 1.8rem, 0.3rem, $default-color);
      @include themify() {
        border-color: $color-primary;
      }

      left: 1rem;
      z-index: 1;

      border-radius: 1px;

      opacity: 0;

      transform: translateY(-80%) rotate(50deg) skew(12deg, 0deg);
    }
  }

  &__input {
    &_invalid + .custom-checkbox__label {
      &::before {
        border-color: $error-color;
      }
    }

    &:focus + .custom-checkbox__label {
      &::before {
        border-color: $dark-dim-color;
      }
    }

    &:checked + .custom-checkbox__label {
      &::after {
        opacity: 1;
      }
    }
  }
}
