@use '../../tools' as *;

.fixed-button {
  @include reset-button();

  display: block;

  background-color: $alt-default-color;
  box-shadow: 0 0.4rem 2rem $light-dim-color;
  border-radius: 3rem;

  &::after {
    @include box(100%);

    content: '';
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0 0 3rem $light-dim-color;
    border-radius: 50%;
    opacity: 0;

    transition: opacity 0.3s;
  }

  @include in-focus() {
    &::after {
      opacity: 1;
    }
  }
}
