//- IMPORTANT! Global object 'locals' is used for possibility to apply variables outside includes scope
- locals.data = {}

include ../utils/mixins
include ../utils/global-data

block variables

doctype html
html(lang='ru')
  head
    include ../includes/modules/head/head
    block head

  body(class=(pageData ? pageData.pageClass : false))
    #app
      .wrapper
        include ../includes/modules/header
        .content-wrapper
          block content
        include ../includes/modules/footer

    block script
