@use '../../tools' as *;

.reviews-block {
  position: relative;

  margin-bottom: 6rem;

  text-align: center;

  &__wrapper {
    position: relative;

    overflow: hidden;
    padding: 0;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 4rem;

      background-color: $alt-default-color;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    padding: 0 2.5rem;
  }

  &__slider {
    margin-top: 3rem;
  }

  &__reviews-list {
    @include reset-list();
  }

  &__review {
    margin-bottom: 3rem;
  }

  &__link {
    display: inline-block;
    margin-top: 2rem;

    font-weight: 700;
    vertical-align: middle;
  }
}

.theme-main {
  .reviews-block {
    &__wrapper {
      padding-top: 3rem;

      background-image: linear-gradient(93deg, #eef1f5 6%, #ffffff 51%, #f6f6f6 94%);
    }
  }
}

@media (min-width: $tablet-min-width) {
  .reviews-block {
    margin-bottom: 10rem;

    &__wrapper {
      padding: 0 5rem;

      &::before {
        height: 5rem;
      }
    }

    &__slider {
      position: relative;
    }

    .slider {
      &__button {
        top: 17.5rem;
      }
    }

    &__review {
      margin-bottom: 4rem;
    }

    &__link {
      margin-top: 3rem;
    }
  }

  .theme-main {
    .reviews-block {
      &__wrapper {
        padding-top: 4rem;
      }
    }
  }
}

@media (min-width: $s-desktop-min-width) {
  .reviews-block {
    margin-bottom: 12rem;

    &__wrapper {
      background: none;

      &::before {
        content: none;
      }
    }

    &__slider {
      margin-top: 4rem;
    }

    .slider {
      &__button {
        top: 21.5rem;
      }
    }

    &__link {
      margin-top: 5rem;
      margin-bottom: 3rem;
    }
  }

  .theme-main {
    .reviews-block {
      background-image: linear-gradient(93deg, #eef1f5 6%, #ffffff 51%, #f6f6f6 94%);

      &__wrapper {
        padding-top: 5.5rem;

        background-image: none;
      }
    }
  }
}
