@use '../../tools' as *;

.reviews-sticker {
  @include box(24rem, 24.6rem);

  position: relative;

  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 4rem;
  padding-bottom: 5rem;

  .sticker__image {
    z-index: -1;
  }

  &__pre-number,
  &__number {
    font-weight: 700;
  }

  &__pre-number {
    font-size: 1.4rem;
  }

  &__number {
    margin-bottom: 0.2rem;

    font-size: 3.6rem;
  }
}

@media (min-width: $tablet-min-width) {
  .reviews-sticker {
    position: absolute;
    top: -11rem;
    left: 68%;
    z-index: 1;

    margin: 0;

    transform: scale(0.9);
  }
}

@media (min-width: $s-desktop-min-width) {
  .reviews-sticker {
    transform: none;
  }
}
