.animated {
  animation-duration: 0.5s;
}

.move {
  animation-name: move;
}

.rotate {
  animation-name: rotate;
}

.zoom-in {
  animation-name: zoom-in;
}

.fade-in {
  animation-name: fade-in;
}

.fade-out {
  animation-name: fade-out;
}

.slide-in-down {
  animation-name: slide-in-down;
}

.slide-out-up {
  animation-name: slide-out-up;
}

.fade-slide-in-down {
  animation-name: fade-slide-in-down;
}

.fade-slide-out-up {
  animation-name: fade-slide-out-up;
}

.bounce-in {
  animation-name: bounce-in;
}

.pulse-big {
  animation-name: pulse-big;
}
